In [1]:
from selenium import webdriver
import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/south-korea/kader/verein/3589/saison_id/2014/plus/1')

In [3]:
# sudkorea 3589 54/ china 5598 54

driver = webdriver.Chrome('./chromedriver')

nation = ['sudkorea', 'china']
nationid = ['3589', '5598']

nameList = []
nationList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

for i in range(len(nation)):
    print(nation[i], nationid[i])
    url_base = 'https://www.transfermarkt.co.uk/'
    url_sub = nation[i] + '/kader/verein/' + nationid[i] + '/saison_id/2014/plus/1'
    driver.get(url_base + url_sub)
    html = driver.page_source
    soup = BeautifulSoup(html,'html.parser')
    for j in range(0,54):
        nationList.append(nation[i])
    for i in range(0,541):
        if i % 10 == 1:
            name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
            nameList.append(name)
        if i % 10 == 2:
            age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
            ageList.append(age)    
        if i % 10 == 4:
            height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','')
            heightList.append(height)
        if i % 10 == 6:
            cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
            capList.append(cap)
        if i % 10 == 7:
            goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
            goalList.append(goal)
        if i % 10 == 9:
            salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','000').replace('m','000000').replace('-','0')
            salaryList.append(salary)

sudkorea 3589
china 5598

In [4]:
print(nameList)
print(nationList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Sung', 'ryong', 'JungS.', 'JungGoalkeeper'], ['Seung', 'gyu', 'KimS.', 'KimGoalkeeper'], ['Jin', 'hyeon', 'KimJ.', 'KimGoalkeeper'], ['Beom', 'yeong', 'LeeB.', 'LeeGoalkeeper'], ['Hyeon', 'uh', 'JoH.', 'JoGoalkeeper'], ['Sun', 'tae', 'KwonS.', 'KwonGoalkeeper'], ['Dong', 'jun', 'KimD.', 'KimGoalkeeper'], ['Tae', 'heui', 'KwakT.', 'KwakCentre', 'Back'], ['Young', 'gwon', 'KimY.', 'KimCentre', 'Back'], ['Jeong', 'ho', 'HongJ.', 'HongCentre', 'Back'], ['Kee', 'hee', 'KimK.', 'KimCentre', 'Back'], ['Ju', 'young', 'KimJ.', 'KimCentre', 'Back'], ['Yeong', 'seon', 'YunY.', 'YunCentre', 'Back'], ['Bo', 'kyeong', 'ChoiB.', 'ChoiCentre', 'Back'], ['Hyeon', 'su', 'JangH.', 'JangCentre', 'Back'], ['Chae', 'min', 'ImC.', 'ImCentre', 'Back'], ['Chang', 'woo', 'RimC.', 'RimCentre', 'Back'], ['Ju', 'ho', 'ParkJ.', 'ParkLeft', 'Back'], ['Jin', 'su', 'KimJ.', 'KimLeft', 'Back'], ['Cheol', 'HongC.', 'HongLeft', 'Back'], ['Seok', 'yeong', 'YunS.', 'YunLeft', 'Back'], ['Yong', 'LeeYong', 'LeeRight', 'Back'], ['Du', 'ri', 'ChaDu', 'ri', 'ChaRight', 'Back'], ['Chang', 'su', 'KimC.', 'KimRight', 'Back'], ['Dong', 'ho', 'JeongD.', 'JeongRight', 'Back'], ['Sung', 'yong', 'KiS.', 'KiDefensive', 'Midfield'], ['Guk', 'yeong', 'HanG.', 'HanDefensive', 'Midfield'], ['Myeong', 'ju', 'LeeM.', 'LeeDefensive', 'Midfield'], ['Jong', 'uh', 'ParkJ.', 'ParkDefensive', 'Midfield'], ['Woo', 'young', 'JungW.', 'JungDefensive', 'Midfield'], ['Eun', 'seon', 'KimE.', 'KimDefensive', 'Midfield'], ['Se', 'jong', 'JuS.', 'JuDefensive', 'Midfield'], ['Myeong', 'jin', 'KoM.', 'KoCentral', 'Midfield'], ['Min', 'uh', 'KimM.', 'KimLeft', 'Midfield'], ['Ja', 'cheol', 'KooJ.', 'KooAttacking', 'Midfield'], ['Chung', 'yong', 'LeeC.', 'LeeAttacking', 'Midfield'], ['Bo', 'kyung', 'KimB.', 'KimAttacking', 'Midfield'], ['Tae', 'heui', 'NamT.', 'NamAttacking', 'Midfield'], ['Seung', 'dae', 'KimS.', 'KimAttacking', 'Midfield'], ['Jae', 'sung', 'LeeJ.', 'LeeAttacking', 'Midfield'], ['Heung', 'min', 'SonH.', 'SonLeft', 'Winger'], ['Keun', 'ho', 'LeeK.', 'LeeLeft', 'Winger'], ['Yeong', 'cheol', 'JoY.', 'JoLeft', 'Winger'], ['Ki', 'hun', 'YeomK.', 'YeomLeft', 'Winger'], ['Kyo', 'won', 'HanK.', 'HanRight', 'Winger'], ['Chang', 'hun', 'KwonC.', 'KwonRight', 'Winger'], ['Ju', 'yong', 'LeeJ.', 'LeeRight', 'Winger'], ['Dong', 'won', 'JiD.', 'JiCentre', 'Forward'], ['Hyun', 'jun', 'SukH.', 'SukCentre', 'Forward'], ['Dong', 'guk', 'LeeD.', 'LeeCentre', 'Forward'], ['Ju', 'yeong', 'ParkJ.', 'ParkCentre', 'Forward'], ['Ui', 'jo', 'HwangU.', 'HwangCentre', 'Forward'], ['Yong', 'jae', 'LeeY.', 'LeeCentre', 'Forward'], ['Jeong', 'hyeob', 'LeeJ.', 'LeeCentre', 'Forward'], ['Cheng', 'ZengC.', 'ZengGoalkeeper'], ['Dalei', 'WangD.', 'WangGoalkeeper'], ['Zhi', 'YangZhi', 'YangGoalkeeper'], ['Junling', 'YanJ.', 'YanGoalkeeper'], ['Xiaoting', 'FengX.', 'FengCentre', 'Back'], ['Wei', 'DuWei', 'DuCentre', 'Back'], ['Zheng', 'LangZ.', 'LangCentre', 'Back'], ['Yang', 'YuYang', 'YuCentre', 'Back'], ['Fang', 'MeiFang', 'MeiCentre', 'Back'], ['Tenglong', 'LeiT.', 'LeiCentre', 'Back'], ['Ang', 'LiAng', 'LiCentre', 'Back'], ['Cao', 'GuCao', 'GuCentre', 'Back'], ['Yangyang', 'JinY.', 'JinCentre', 'Back'], ['Jinhao', 'BiJinhao', 'BiCentre', 'Back'], ['Hai', 'YuHai', 'YuLeft', 'Back'], ['Zheng', 'ZhengZ.', 'ZhengLeft', 'Back'], ['Xuepeng', 'LiX.', 'LiLeft', 'Back'], ['Zhipeng', 'JiangZ.', 'JiangLeft', 'Back'], ['Hang', 'RenHang', 'RenLeft', 'Back'], ['Zheng', 'ZouZheng', 'ZouLeft', 'Back'], ['Haifeng', 'DingH.', 'DingLeft', 'Back'], ['Weihui', 'RaoW.', 'RaoLeft', 'Back'], ['Linpeng', 'ZhangL.', 'ZhangRight', 'Back'], ['Mingjian', 'ZhaoM.', 'ZhaoRight', 'Back'], ['Xiang', 'JiXiang', 'JiRight', 'Back'], ['Lu', 'ZhangLu', 'ZhangRight', 'Back'], ['Zhi', 'ZhengZhi', 'ZhengDefensive', 'Midfield'], ['Bowen', 'HuangB.', 'HuangDefensive', 'Midfield'], ['Cheng', 'PiaoC.', 'PiaoDefensive', 'Midfield'], ['Xuri', 'ZhaoXuri', 'ZhaoDefensive', 'Midfield'], ['Jianye', 'LiuJ.', 'LiuDefensive', 'Midfield'], ['Huikang', 'CaiH.', 'CaiDefensive', 'Midfield'], ['Jiaqi', 'ZhangJ.', 'ZhangDefensive', 'Midfield'], ['Junmin', 'HaoJ.', 'HaoCentral', 'Midfield'], ['Xi', 'WuXi', 'WuCentral', 'Midfield'], ['Lisheng', 'LiaoL.', 'LiaoCentral', 'Midfield'], ['Wenzhao', 'ZhangW.', 'ZhangRight', 'Midfield'], ['Hongbo', 'YinH.', 'YinRight', 'Midfield'], ['Xizhe', 'ZhangX.', 'ZhangLeft', 'Midfield'], ['Long', 'ZhengL.', 'ZhengLeft', 'Midfield'], ['Boxuan', 'SongB.', 'SongLeft', 'Midfield'], ['Binbin', 'LiuB.', 'LiuLeft', 'Midfield'], ['Yongpo', 'WangY.', 'WangAttacking', 'Midfield'], ['Lei', 'WuLei', 'WuLeft', 'Winger'], ['Hanchao', 'YuH.', 'YuLeft', 'Winger'], ['Ning', 'JiangN.', 'JiangLeft', 'Winger'], ['Ke', 'SunKe', 'SunRight', 'Winger'], ['Dabao', 'YuDabao', 'YuRight', 'Winger'], ['Chengdong', 'ZhangC.', 'ZhangRight', 'Winger'], ['Chiming', 'ZhangC.', 'ZhangRight', 'Winger'], ['Chaosheng', 'YangC.', 'YangRight', 'Winger'], ['Lin', 'GaoLin', 'GaoCentre', 'Forward'], ['Xu', 'YangXu', 'YangCentre', 'Forward'], ['Peng', 'HanPeng', 'HanCentre', 'Forward']]
['sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'sudkorea', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china', 'china']
['29', '23', '26', '25', '22', '29', '19', '32', '24', '24', '24', '25', '25', '26', '22', '23', '22', '27', '22', '23', '24', '27', '33', '28', '24', '25', '24', '24', '25', '24', '26', '23', '26', '24', '25', '25', '24', '22', '23', '21', '21', '29', '25', '31', '24', '20', '21', '23', '23', '35', '28', '21', '23', '23', '27', '25', '31', '23', '28', '32', '27', '24', '24', '23', '20', '26', '21', '23', '27', '24', '25', '25', '25', '26', '22', '25', '25', '26', '24', '26', '33', '26', '24', '28', '27', '24', '22', '27', '25', '21', '27', '24', '23', '26', '24', '21', '27', '22', '27', '27', '24', '26', '25', '25', '20', '28', '26', '30']
['191 ', '187 ', '192 ', '199 ', '189 ', '184 ', '188 ', '188 ', '184 ', '186 ', '187 ', '184 ', '185 ', '184 ', '187 ', '189 ', '183 ', '176 ', '177 ', '176 ', '183 ', '180 ', 'N/A', '179 ', '174 ', '186 ', '183 ', '176 ', '180 ', '186 ', '182 ', '174 ', '185 ', '174 ', '182 ', '180 ', '178 ', '171 ', '175 ', '180 ', '184 ', '176 ', '181 ', '182 ', '182 ', '174 ', '180 ', '187 ', '191 ', '187 ', '182 ', '184 ', '183 ', '186 ', '192 ', '187 ', '186 ', '192 ', '186 ', '187 ', '190 ', '183 ', '187 ', '183 ', '188 ', '183 ', '192 ', '190 ', '183 ', '186 ', '184 ', '178 ', '185 ', '178 ', '182 ', '178 ', '185 ', '181 ', '185 ', '181 ', '180 ', '181 ', '176 ', '185 ', '174 ', '183 ', '191 ', '178 ', '180 ', '177 ', '178 ', '180 ', '180 ', '178 ', '180 ', '177 ', '176 ', '174 ', '178 ', '174 ', '180 ', '182 ', '188 ', '180 ', '175 ', '185 ', '188 ', '188 ']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['135000000\xa0\xa0', '900000\xa0\xa0', '900000\xa0\xa0', '473000\xa0\xa0', '135000\xa0\xa0', '90000\xa0\xa0', '45000\xa0\xa0', '135000000\xa0\xa0', '135000000\xa0\xa0', '900000\xa0\xa0', '675000\xa0\xa0', '675000\xa0\xa0', '675000\xa0\xa0', '540000\xa0\xa0', '495000\xa0\xa0', '225000\xa0\xa0', '113000\xa0\xa0', '135000000\xa0\xa0', '900000\xa0\xa0', '855000\xa0\xa0', '450000\xa0\xa0', '108000000\xa0\xa0', '743000\xa0\xa0', '675000\xa0\xa0', '90000\xa0\xa0', '585000000\xa0\xa0', '900000\xa0\xa0', '900000\xa0\xa0', '810000\xa0\xa0', '540000\xa0\xa0', '360000\xa0\xa0', '68000\xa0\xa0', '675000\xa0\xa0', '900000\xa0\xa0', '450000000\xa0\xa0', '360000000\xa0\xa0', '180000000\xa0\xa0', '900000\xa0\xa0', '248000\xa0\xa0', '45000\xa0\xa0', '1260000000\xa0\xa0', '135000000\xa0\xa0', '810000\xa0\xa0', '675000\xa0\xa0', '675000\xa0\xa0', '135000\xa0\xa0', '45000\xa0\xa0', '180000000\xa0\xa0', '180000000\xa0\xa0', '900000\xa0\xa0', '900000\xa0\xa0', '248000\xa0\xa0', '225000\xa0\xa0', '203000\xa0\xa0', '450000\xa0\xa0', '360000\xa0\xa0', '315000\xa0\xa0', '158000\xa0\xa0', '428000\xa0\xa0', '248000\xa0\xa0', '203000\xa0\xa0', '180000\xa0\xa0', '113000\xa0\xa0', '90000\xa0\xa0', '90000\xa0\xa0', '68000\xa0\xa0', '23000\xa0\xa0', '23000\xa0\xa0', '405000\xa0\xa0', '338000\xa0\xa0', '293000\xa0\xa0', '248000\xa0\xa0', '90000\xa0\xa0', '90000\xa0\xa0', '45000\xa0\xa0', '16000\xa0\xa0', '833000\xa0\xa0', '270000\xa0\xa0', '113000\xa0\xa0', '68000\xa0\xa0', '675000\xa0\xa0', '473000\xa0\xa0', '405000\xa0\xa0', '360000\xa0\xa0', '270000\xa0\xa0', '248000\xa0\xa0', '90000\xa0\xa0', '315000\xa0\xa0', '248000\xa0\xa0', '158000\xa0\xa0', '158000\xa0\xa0', '68000\xa0\xa0', '698000\xa0\xa0', '315000\xa0\xa0', '180000\xa0\xa0', '90000\xa0\xa0', '450000\xa0\xa0', '810000\xa0\xa0', '383000\xa0\xa0', '203000\xa0\xa0', '585000\xa0\xa0', '585000\xa0\xa0', '428000\xa0\xa0', '68000\xa0\xa0', '45000\xa0\xa0', '743000\xa0\xa0', '338000\xa0\xa0', '270000\xa0\xa0']

In [5]:
# ë¶íìí ì´ë¦ ì ì 
namelist = []

for i in range(0,108):
    namelist.append(nameList[i][0]+nameList[i][1])

In [6]:
namelist

['Sungryong',
 'Seunggyu',
 'Jinhyeon',
 'Beomyeong',
 'Hyeonuh',
 'Suntae',
 'Dongjun',
 'Taeheui',
 'Younggwon',
 'Jeongho',
 'Keehee',
 'Juyoung',
 'Yeongseon',
 'Bokyeong',
 'Hyeonsu',
 'Chaemin',
 'Changwoo',
 'Juho',
 'Jinsu',
 'CheolHongC.',
 'Seokyeong',
 'YongLeeYong',
 'Duri',
 'Changsu',
 'Dongho',
 'Sungyong',
 'Gukyeong',
 'Myeongju',
 'Jonguh',
 'Wooyoung',
 'Eunseon',
 'Sejong',
 'Myeongjin',
 'Minuh',
 'Jacheol',
 'Chungyong',
 'Bokyung',
 'Taeheui',
 'Seungdae',
 'Jaesung',
 'Heungmin',
 'Keunho',
 'Yeongcheol',
 'Kihun',
 'Kyowon',
 'Changhun',
 'Juyong',
 'Dongwon',
 'Hyunjun',
 'Dongguk',
 'Juyeong',
 'Uijo',
 'Yongjae',
 'Jeonghyeob',
 'ChengZengC.',
 'DaleiWangD.',
 'ZhiYangZhi',
 'JunlingYanJ.',
 'XiaotingFengX.',
 'WeiDuWei',
 'ZhengLangZ.',
 'YangYuYang',
 'FangMeiFang',
 'TenglongLeiT.',
 'AngLiAng',
 'CaoGuCao',
 'YangyangJinY.',
 'JinhaoBiJinhao',
 'HaiYuHai',
 'ZhengZhengZ.',
 'XuepengLiX.',
 'ZhipengJiangZ.',
 'HangRenHang',
 'ZhengZouZheng',
 'HaifengDingH.',
 'WeihuiRaoW.',
 'LinpengZhangL.',
 'MingjianZhaoM.',
 'XiangJiXiang',
 'LuZhangLu',
 'ZhiZhengZhi',
 'BowenHuangB.',
 'ChengPiaoC.',
 'XuriZhaoXuri',
 'JianyeLiuJ.',
 'HuikangCaiH.',
 'JiaqiZhangJ.',
 'JunminHaoJ.',
 'XiWuXi',
 'LishengLiaoL.',
 'WenzhaoZhangW.',
 'HongboYinH.',
 'XizheZhangX.',
 'LongZhengL.',
 'BoxuanSongB.',
 'BinbinLiuB.',
 'YongpoWangY.',
 'LeiWuLei',
 'HanchaoYuH.',
 'NingJiangN.',
 'KeSunKe',
 'DabaoYuDabao',
 'ChengdongZhangC.',
 'ChimingZhangC.',
 'ChaoshengYangC.',
 'LinGaoLin',
 'XuYangXu',
 'PengHanPeng']

In [7]:
# dataframeì¼ë¡ ë³í
korea_china_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
korea_china_player.head()

  age height cap goal       salary
0  29   191    0    0  135000000Â Â
1  23   187    0    0     900000Â Â
2  26   192    0    0     900000Â Â
3  25   199    0    0     473000Â Â
4  22   189    0    0     135000Â Â

In [8]:
korea_china_player['height'].unique()

array(['191 ', '187 ', '192 ', '199 ', '189 ', '184 ', '188 ', '186 ',
       '185 ', '183 ', '176 ', '177 ', '180 ', 'N/A', '179 ', '174 ',
       '182 ', '178 ', '171 ', '175 ', '181 ', '190 '], dtype=object)

In [9]:
korea_china_player[korea_china_player['height'] == 'N/A']

   age height cap goal    salary
22  33    N/A   0    0  743000Â Â

In [10]:
# í¤ê° 'N/Aë¡ ëì´ìë ì ì ì ë³´ ë³ê²½
korea_china_player.loc[korea_china_player['height'] == 'N/A', 'height'] = '181'

In [11]:
korea_china_player = korea_china_player.astype(int)

In [12]:
korea_china_player['name'] = namelist
korea_china_player['nation'] = nationList

In [13]:
korea_china_player

     age  height  cap  goal     salary              name    nation
0     29     191    0     0  135000000         Sungryong  sudkorea
1     23     187    0     0     900000          Seunggyu  sudkorea
2     26     192    0     0     900000          Jinhyeon  sudkorea
3     25     199    0     0     473000         Beomyeong  sudkorea
4     22     189    0     0     135000           Hyeonuh  sudkorea
5     29     184    0     0      90000            Suntae  sudkorea
6     19     188    0     0      45000           Dongjun  sudkorea
7     32     188    0     0  135000000           Taeheui  sudkorea
8     24     184    0     0  135000000         Younggwon  sudkorea
9     24     186    0     0     900000           Jeongho  sudkorea
10    24     187    0     0     675000            Keehee  sudkorea
11    25     184    0     0     675000           Juyoung  sudkorea
12    25     185    0     0     675000         Yeongseon  sudkorea
13    26     184    0     0     540000          Bokyeong  sudkorea
14    22     187    0     0     495000           Hyeonsu  sudkorea
15    23     189    0     0     225000           Chaemin  sudkorea
16    22     183    0     0     113000          Changwoo  sudkorea
17    27     176    0     0  135000000              Juho  sudkorea
18    22     177    0     0     900000             Jinsu  sudkorea
19    23     176    0     0     855000       CheolHongC.  sudkorea
20    24     183    0     0     450000         Seokyeong  sudkorea
21    27     180    0     0  108000000       YongLeeYong  sudkorea
22    33     181    0     0     743000              Duri  sudkorea
23    28     179    0     0     675000           Changsu  sudkorea
24    24     174    0     0      90000            Dongho  sudkorea
25    25     186    0     0  585000000          Sungyong  sudkorea
26    24     183    0     0     900000          Gukyeong  sudkorea
27    24     176    0     0     900000          Myeongju  sudkorea
28    25     180    0     0     810000            Jonguh  sudkorea
29    24     186    0     0     540000          Wooyoung  sudkorea
..   ...     ...  ...   ...        ...               ...       ...
78    24     185    0     0     113000      XiangJiXiang     china
79    26     181    0     0      68000         LuZhangLu     china
80    33     180    0     0     675000       ZhiZhengZhi     china
81    26     181    0     0     473000      BowenHuangB.     china
82    24     176    0     0     405000       ChengPiaoC.     china
83    28     185    0     0     360000      XuriZhaoXuri     china
84    27     174    0     0     270000       JianyeLiuJ.     china
85    24     183    0     0     248000      HuikangCaiH.     china
86    22     191    0     0      90000      JiaqiZhangJ.     china
87    27     178    0     0     315000       JunminHaoJ.     china
88    25     180    0     0     248000            XiWuXi     china
89    21     177    0     0     158000     LishengLiaoL.     china
90    27     178    0     0     158000    WenzhaoZhangW.     china
91    24     180    0     0      68000       HongboYinH.     china
92    23     180    0     0     698000      XizheZhangX.     china
93    26     178    0     0     315000       LongZhengL.     china
94    24     180    0     0     180000      BoxuanSongB.     china
95    21     177    0     0      90000       BinbinLiuB.     china
96    27     176    0     0     450000      YongpoWangY.     china
97    22     174    0     0     810000          LeiWuLei     china
98    27     178    0     0     383000       HanchaoYuH.     china
99    27     174    0     0     203000       NingJiangN.     china
100   24     180    0     0     585000           KeSunKe     china
101   26     182    0     0     585000      DabaoYuDabao     china
102   25     188    0     0     428000  ChengdongZhangC.     china
103   25     180    0     0      68000    ChimingZhangC.     china
104   20     175    0     0      45000   ChaoshengYangC.     china
105   28     185    0     0     743000         LinGaoLin     china
106   26     188    0     0     338000          XuYangXu     china
107   30     188    0     0     270000       PengHanPeng     china

[108 rows x 7 columns]

In [14]:
korea_china_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 7 columns):
age       108 non-null int64
height    108 non-null int64
cap       108 non-null int64
goal      108 non-null int64
salary    108 non-null int64
name      108 non-null object
nation    108 non-null object
dtypes: int64(5), object(2)
memory usage: 6.0+ KB

In [15]:
colnames = ['name','age','height','cap','goal','salary','nation']
korea_china_player[colnames]

                 name  age  height  cap  goal     salary    nation
0           Sungryong   29     191    0     0  135000000  sudkorea
1            Seunggyu   23     187    0     0     900000  sudkorea
2            Jinhyeon   26     192    0     0     900000  sudkorea
3           Beomyeong   25     199    0     0     473000  sudkorea
4             Hyeonuh   22     189    0     0     135000  sudkorea
5              Suntae   29     184    0     0      90000  sudkorea
6             Dongjun   19     188    0     0      45000  sudkorea
7             Taeheui   32     188    0     0  135000000  sudkorea
8           Younggwon   24     184    0     0  135000000  sudkorea
9             Jeongho   24     186    0     0     900000  sudkorea
10             Keehee   24     187    0     0     675000  sudkorea
11            Juyoung   25     184    0     0     675000  sudkorea
12          Yeongseon   25     185    0     0     675000  sudkorea
13           Bokyeong   26     184    0     0     540000  sudkorea
14            Hyeonsu   22     187    0     0     495000  sudkorea
15            Chaemin   23     189    0     0     225000  sudkorea
16           Changwoo   22     183    0     0     113000  sudkorea
17               Juho   27     176    0     0  135000000  sudkorea
18              Jinsu   22     177    0     0     900000  sudkorea
19        CheolHongC.   23     176    0     0     855000  sudkorea
20          Seokyeong   24     183    0     0     450000  sudkorea
21        YongLeeYong   27     180    0     0  108000000  sudkorea
22               Duri   33     181    0     0     743000  sudkorea
23            Changsu   28     179    0     0     675000  sudkorea
24             Dongho   24     174    0     0      90000  sudkorea
25           Sungyong   25     186    0     0  585000000  sudkorea
26           Gukyeong   24     183    0     0     900000  sudkorea
27           Myeongju   24     176    0     0     900000  sudkorea
28             Jonguh   25     180    0     0     810000  sudkorea
29           Wooyoung   24     186    0     0     540000  sudkorea
..                ...  ...     ...  ...   ...        ...       ...
78       XiangJiXiang   24     185    0     0     113000     china
79          LuZhangLu   26     181    0     0      68000     china
80        ZhiZhengZhi   33     180    0     0     675000     china
81       BowenHuangB.   26     181    0     0     473000     china
82        ChengPiaoC.   24     176    0     0     405000     china
83       XuriZhaoXuri   28     185    0     0     360000     china
84        JianyeLiuJ.   27     174    0     0     270000     china
85       HuikangCaiH.   24     183    0     0     248000     china
86       JiaqiZhangJ.   22     191    0     0      90000     china
87        JunminHaoJ.   27     178    0     0     315000     china
88             XiWuXi   25     180    0     0     248000     china
89      LishengLiaoL.   21     177    0     0     158000     china
90     WenzhaoZhangW.   27     178    0     0     158000     china
91        HongboYinH.   24     180    0     0      68000     china
92       XizheZhangX.   23     180    0     0     698000     china
93        LongZhengL.   26     178    0     0     315000     china
94       BoxuanSongB.   24     180    0     0     180000     china
95        BinbinLiuB.   21     177    0     0      90000     china
96       YongpoWangY.   27     176    0     0     450000     china
97           LeiWuLei   22     174    0     0     810000     china
98        HanchaoYuH.   27     178    0     0     383000     china
99        NingJiangN.   27     174    0     0     203000     china
100           KeSunKe   24     180    0     0     585000     china
101      DabaoYuDabao   26     182    0     0     585000     china
102  ChengdongZhangC.   25     188    0     0     428000     china
103    ChimingZhangC.   25     180    0     0      68000     china
104   ChaoshengYangC.   20     175    0     0      45000     china
105         LinGaoLin   28     185    0     0     743000     china
106          XuYangXu   26     188    0     0     338000     china
107       PengHanPeng   30     188    0     0     270000     china

[108 rows x 7 columns]

In [16]:
# korea_china_player.to_csv('./korea_china_players_2015.csv',index=False,header=True)

In [227]:
# uzbekistan 3563 50/ australien 3433 50

driver = webdriver.Chrome('./chromedriver')

nation = ['uzbekistan', 'australien']
nationid = ['3563', '3433']

nameList = []
nationList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

for i in range(len(nation)):
    print(nation[i], nationid[i])
    url_base = 'https://www.transfermarkt.co.uk/'
    url_sub = nation[i] + '/kader/verein/' + nationid[i] + '/saison_id/2014/plus/1'
    driver.get(url_base + url_sub)
    html = driver.page_source
    soup = BeautifulSoup(html,'html.parser')
    for j in range(0,50):
        nationList.append(nation[i])
    for i in range(0,501):
        if i % 10 == 1:
            name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
            nameList.append(name)
        if i % 10 == 2:
            age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
            ageList.append(age)    
        if i % 10 == 4:
            height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
            heightList.append(height)
        if i % 10 == 6:
            cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
            capList.append(cap)
        if i % 10 == 7:
            goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
            goalList.append(goal)
        if i % 10 == 9:
            salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','').replace('m','000').replace('-','0')
            salaryList.append(salary)

uzbekistan 3563
australien 3433

In [228]:
print(nameList)
print(nationList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Ignatiy', 'NesterovI.', 'NesterovGoalkeeper'], ['Aleksandr', 'LobanovA.', 'LobanovGoalkeeper'], ['Murod', 'ZukhurovM.', 'ZukhurovGoalkeeper'], ['Akbar', 'TuraevA.', 'TuraevGoalkeeper'], ['Abdulkarim', 'MukhamedovA.', 'MukhamedovGoalkeeper'], ['Eldorbek', 'SuyunovE.', 'SuyunovGoalkeeper'], ['Artyom', 'FiliposyanA.', 'FiliposyanCentre', 'Back'], ['Egor', 'KrimetsE.', 'KrimetsCentre', 'Back'], ['Islam', 'TukhtakhodzhaevI.', 'TukhtakhodzhaevCentre', 'Back'], ['Kamoliddin', 'TadzhievK.', 'TadzhievCentre', 'Back'], ['Anzur', 'IsmailovA.', 'IsmailovCentre', 'Back'], ['Boburbek', 'YuldashovB.', 'YuldashovCentre', 'Back'], ['Shavkat', 'MulladzhanovS.', 'MulladzhanovCentre', 'Back'], ['Davron', 'KhoshimovD.', 'KhoshimovCentre', 'Back'], ['Vitali', 'DenisovV.', 'DenisovLeft', 'Back'], ['Aleksandr', 'MerzlyakovA.', 'MerzlyakovLeft', 'Back'], ['Farrukh', 'SayfievF.', 'SayfievLeft', 'Back'], ['Akmal', 'ShorakhmedovA.', 'ShorakhmedovRight', 'Back'], ['Shukhrat', 'MukhammadievS.', 'MukhammadievRight', 'Back'], ['Odil', 'AkhmedovO.', 'AkhmedovDefensive', 'Midfield'], ['Azizbek', 'KhaydarovA.', 'KhaydarovDefensive', 'Midfield'], ['Vladimir', 'KozakV.', 'KozakDefensive', 'Midfield'], ['Fozil', 'MusaevF.', 'MusaevDefensive', 'Midfield'], ['Shohruh', 'GadoevS.', 'GadoevDefensive', 'Midfield'], ['Ikromjon', 'AlibaevI.', 'AlibaevDefensive', 'Midfield'], ['Javokhir', 'SokhibovJ.', 'SokhibovDefensive', 'Midfield'], ['Timur', 'KapadzeT.', 'KapadzeCentral', 'Midfield'], ['Lutfulla', 'TuraevL.', 'TuraevCentral', 'Midfield'], ['Dilshod', 'JuraevD.', 'JuraevCentral', 'Midfield'], ['Sardor', 'MirzaevS.', 'MirzaevCentral', 'Midfield'], ['Otabek', 'ShukurovO.', 'ShukurovCentral', 'Midfield'], ['Sanjar', 'TursunovS.', 'TursunovRight', 'Midfield'], ['Jasur', 'KhasanovJ.', 'KhasanovRight', 'Midfield'], ['Stanislav', 'AndreevS.', 'AndreevLeft', 'Midfield'], ['Server', 'DjeparovS.', 'DjeparovAttacking', 'Midfield'], ['Jamshid', 'IskanderovJ.', 'IskanderovAttacking', 'Midfield'], ['Jasur', 'KhasanovJ.', 'KhasanovAttacking', 'Midfield'], ['Sanjar', 'ShaakhmedovS.', 'ShaakhmedovAttacking', 'Midfield'], ['Sardor', 'RashidovS.', 'RashidovRight', 'Winger'], ['Vokhid', 'ShodievV.', 'ShodievSecond', 'Striker'], ['Aleksandr', 'GeynrikhA.', 'GeynrikhCentre', 'Forward'], ['Bakhodir', 'NasimovB.', 'NasimovCentre', 'Forward'], ['Farhod', 'TadjiyevF.', 'TadjiyevCentre', 'Forward'], ['Marat', 'BikmaevM.', 'BikmaevCentre', 'Forward'], ['Igor', 'SergeevI.', 'SergeevCentre', 'Forward'], ['Temurkhodzha', 'AbdukholikovT.', 'AbdukholikovCentre', 'Forward'], ['Shakhzodbek', 'NurmatovS.', 'NurmatovCentre', 'Forward'], ['Navruzbek', 'AlimovN.', 'AlimovCentre', 'Forward'], ['Eldor', 'ShomurodovE.', 'ShomurodovCentre', 'Forward'], ['Zokhir', 'KuziboyevZ.', 'KuziboyevCentre', 'Forward'], ['Mathew', 'RyanM.', 'RyanGoalkeeper'], ['Eugene', 'GalekovicE.', 'GalekovicGoalkeeper'], ['Mitchell', 'LangerakM.', 'LangerakGoalkeeper'], ['Adam', 'FedericiA.', 'FedericiGoalkeeper'], ['Alex', 'CisakA.', 'CisakGoalkeeper'], ['Trent', 'SainsburyT.', 'SainsburyCentre', 'Back'], ['Ryan', 'McGowanR.', 'McGowanCentre', 'Back'], ['Alex', 'WilkinsonA.', 'WilkinsonCentre', 'Back'], ['Tomislav', 'MrcelaT.', 'MrcelaCentre', 'Back'], ['Nikolai', 'Topor', 'StanleyN.', 'Topor', 'StanleyCentre', 'Back'], ['Matthew', 'SpiranovicM.', 'SpiranovicCentre', 'Back'], ['Luke', 'DeVereL.', 'DeVereCentre', 'Back'], ['Bailey', 'WrightB.', 'WrightCentre', 'Back'], ['Jason', 'DavidsonJ.', 'DavidsonLeft', 'Back'], ['Aziz', 'BehichA.', 'BehichLeft', 'Back'], ['James', 'MeredithJ.', 'MeredithLeft', 'Back'], ['Brad', 'SmithB.', 'SmithLeft', 'Back'], ['Alex', 'GersbachA.', 'GersbachLeft', 'Back'], ['Ivan', 'FranjicI.', 'FranjicRight', 'Back'], ['Jason', 'GeriaJ.', 'GeriaRight', 'Back'], ['Joshua', 'RisdonJ.', 'RisdonRight', 'Back'], ['Tarek', 'ElrichT.', 'ElrichRight', 'Back'], ['Mile', 'JedinakM.', 'JedinakDefensive', 'Midfield'], ['James', 'HollandJ.', 'HollandDefensive', 'Midfield'], ['Chris', 'HerdC.', 'HerdDefensive', 'Midfield'], ['Mark', 'MilliganM.', 'MilliganDefensive', 'Midfield'], ['Terry', 'AntonisT.', 'AntonisDefensive', 'Midfield'], ['Luke', 'BrattanL.', 'BrattanDefensive', 'Midfield'], ['Jackson', 'IrvineJ.', 'IrvineDefensive', 'Midfield'], ['Aaron', 'MooyA.', 'MooyCentral', 'Midfield'], ['Oliver', 'BozanicO.', 'BozanicCentral', 'Midfield'], ['Matt', 'McKayM.', 'McKayCentral', 'Midfield'], ['Mark', 'BrescianoM.', 'BrescianoCentral', 'Midfield'], ['Carl', 'ValeriC.', 'ValeriCentral', 'Midfield'], ['Massimo', 'LuongoM.', 'LuongoCentral', 'Midfield'], ['Joshua', 'BrillanteJ.', 'BrillanteCentral', 'Midfield'], ['James', 'TroisiJ.', 'TroisiAttacking', 'Midfield'], ['Tim', 'CahillT.', 'CahillAttacking', 'Midfield'], ['Mitch', 'NicholsM.', 'NicholsAttacking', 'Midfield'], ['Tom', 'RogicTom', 'RogicAttacking', 'Midfield'], ['Daniel', 'De', 'SilvaD.', 'De', 'SilvaAttacking', 'Midfield'], ['Robbie', 'KruseR.', 'KruseLeft', 'Winger'], ['Tommy', 'OarTommy', 'OarLeft', 'Winger'], ['Ben', 'HalloranB.', 'HalloranLeft', 'Winger'], ['Christopher', 'OikonomidisC.', 'OikonomidisLeft', 'Winger'], ['Mathew', 'LeckieM.', 'LeckieRight', 'Winger'], ['Bernie', 'Ibini', 'IseiB.', 'Ibini', 'IseiRight', 'Winger'], ['Apostolos', 'GiannouA.', 'GiannouCentre', 'Forward'], ['Nathan', 'BurnsN.', 'BurnsCentre', 'Forward'], ['Tomi', 'JuricT.', 'JuricCentre', 'Forward']]
['uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'uzbekistan', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien', 'australien']
['31', '28', '31', '24', '20', '23', '26', '22', '24', '31', '29', '21', '28', '21', '27', '27', '23', '28', '25', '26', '28', '21', '25', '22', '20', '19', '32', '26', '22', '23', '18', '27', '24', '26', '31', '20', '30', '23', '23', '27', '29', '27', '28', '28', '21', '22', '22', '22', '19', '28', '22', '33', '25', '29', '25', '22', '24', '29', '23', '29', '26', '24', '21', '23', '23', '26', '20', '17', '26', '21', '21', '27', '29', '25', '25', '28', '20', '24', '21', '23', '25', '31', '34', '29', '21', '21', '25', '34', '25', '21', '17', '25', '22', '22', '19', '23', '21', '24', '26', '22']
['182-', '190-', '188-', '190-', '-', '190-', '188-', '193-', '180-', '190-', '190-', '183-', '180-', '-', '178-', '176-', '183-', '178-', '-', '180-', '180-', '186-', '183-', '174-', '173-', '-', '185-', '178-', '187-', '178-', '182-', '174-', '181-', '177-', '178-', '168-', '174-', '173-', '184-', '192-', '183-', '182-', '187-', '178-', '185-', '188-', '-', '181-', '190-', '-', '184-', '188-', '193-', '188-', '190-', '184-', '191-', '187-', '195-', '191-', '188-', '186-', '186-', '180-', '170-', '185-', '177-', '181-', '180-', '183-', '176-', '180-', '187-', '182-', '188-', '178-', '180-', '175-', '189-', '179-', '179-', '171-', '176-', '183-', '176-', '177-', '176-', '180-', '181-', '188-', '170-', '179-', '169-', '182-', '180-', '181-', '187-', '185-', '173-', '191-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['900\xa0\xa0', '203\xa0\xa0', '68\xa0\xa0', '45\xa0\xa0', '0\xa0', '0\xa0', '360\xa0\xa0', '315\xa0\xa0', '315\xa0\xa0', '225\xa0\xa0', '180\xa0\xa0', '135\xa0\xa0', '135\xa0\xa0', '135\xa0\xa0', '315000\xa0\xa0', '68\xa0\xa0', '0\xa0', '315\xa0\xa0', '0\xa0', '540000\xa0\xa0', '450\xa0\xa0', '270\xa0\xa0', '225\xa0\xa0', '158\xa0\xa0', '0\xa0', '0\xa0', '450\xa0\xa0', '315\xa0\xa0', '180\xa0\xa0', '113\xa0\xa0', '0\xa0', '720\xa0\xa0', '225\xa0\xa0', '135\xa0\xa0', '117000\xa0\xa0', '450\xa0\xa0', '248\xa0\xa0', '0\xa0', '90\xa0\xa0', '0\xa0', '720\xa0\xa0', '315\xa0\xa0', '270\xa0\xa0', '270\xa0\xa0', '270\xa0\xa0', '180\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '270000\xa0\xa0', '900\xa0\xa0', '900\xa0\xa0', '900\xa0\xa0', '135\xa0\xa0', '675\xa0\xa0', '630\xa0\xa0', '585\xa0\xa0', '450\xa0\xa0', '450\xa0\xa0', '450\xa0\xa0', '360\xa0\xa0', '180\xa0\xa0', '360\xa0\xa0', '360\xa0\xa0', '135\xa0\xa0', '0\xa0', '0\xa0', '540\xa0\xa0', '315\xa0\xa0', '270\xa0\xa0', '225\xa0\xa0', '225000\xa0\xa0', '135000\xa0\xa0', '135000\xa0\xa0', '675\xa0\xa0', '540\xa0\xa0', '360\xa0\xa0', '135\xa0\xa0', '675\xa0\xa0', '675\xa0\xa0', '495\xa0\xa0', '450\xa0\xa0', '360\xa0\xa0', '360\xa0\xa0', '315\xa0\xa0', '108000\xa0\xa0', '900\xa0\xa0', '675\xa0\xa0', '675\xa0\xa0', '270\xa0\xa0', '248000\xa0\xa0', '135000\xa0\xa0', '720\xa0\xa0', '90\xa0\xa0', '135000\xa0\xa0', '450\xa0\xa0', '450\xa0\xa0', '450\xa0\xa0', '360\xa0\xa0']

In [229]:
namelist = []
for i in range(0,100):
    namelist.append(nameList[i][0]+nameList[i][1])

In [230]:
# dataframeì¼ë¡ ë³í
uzbek_australia_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
uzbek_australia_player.head()

  age height cap goal salary
0  31   182-   0    0  900Â Â
1  28   190-   0    0  203Â Â
2  31   188-   0    0   68Â Â
3  24   190-   0    0   45Â Â
4  20      -   0    0     0Â

In [231]:
uzbek_australia_player['height'] = uzbek_australia_player['height'].str[0:3]

In [232]:
uzbek_australia_player.loc[uzbek_australia_player['height']=='-','height'] = 0

In [233]:
uzbek_australia_player = uzbek_australia_player.astype(int)

In [234]:
uzbek_australia_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
age       100 non-null int64
height    100 non-null int64
cap       100 non-null int64
goal      100 non-null int64
salary    100 non-null int64
dtypes: int64(5)
memory usage: 4.0 KB

In [235]:
uzbek_player = uzbek_australia_player[50:]
australia_player = uzbek_australia_player[:50]

In [236]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ ì¤ìê°ì¼ë¡ ëì²´
uzbek_player.loc[uzbek_player['height']==0,'height'] =int(uzbek_player['height'][uzbek_player['height']!=0].mean())
australia_player.loc[australia_player['height']==0,'height'] =int(australia_player['height'][australia_player['height']!=0].mean())

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [237]:
uzbek_player.loc[uzbek_player['height']==0]

Empty DataFrame
Columns: [age, height, cap, goal, salary]
Index: []

In [238]:
australia_player.loc[australia_player['height']==0]

Empty DataFrame
Columns: [age, height, cap, goal, salary]
Index: []

In [239]:
# salary ì ë³´ê° ìë ì ìë¤ì ì°ë´ì ì¤ìê°ì¼ë¡ ëì²´
uzbek_player.loc[uzbek_player['salary']==0,'salary'] =int(uzbek_player['salary'][uzbek_player['salary']!=0].median())
australia_player.loc[australia_player['salary']==0,'salary'] =int(australia_player['salary'][australia_player['salary']!=0].median())

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [240]:
uzbek_player.loc[uzbek_player['salary']==0]

Empty DataFrame
Columns: [age, height, cap, goal, salary]
Index: []

In [241]:
australia_player.loc[australia_player['salary']==0]

Empty DataFrame
Columns: [age, height, cap, goal, salary]
Index: []

In [242]:
frames = [uzbek_player, australia_player]
uzbek_australia_player = pd.concat(frames)

In [243]:
uzbek_australia_player['name'] = namelist
uzbek_australia_player['nation'] = nationList

In [244]:
colnames = ['name','age','height','cap','goal','salary','nation']
uzbek_australia_player[colnames]

                        name  age  height  cap  goal  salary      nation
50         IgnatiyNesterovI.   22     184    0     0  270000  uzbekistan
51        AleksandrLobanovA.   33     188    0     0     900  uzbekistan
52           MurodZukhurovM.   25     193    0     0     900  uzbekistan
53             AkbarTuraevA.   29     188    0     0     900  uzbekistan
54    AbdulkarimMukhamedovA.   25     190    0     0     135  uzbekistan
55         EldorbekSuyunovE.   22     184    0     0     675  uzbekistan
56        ArtyomFiliposyanA.   24     191    0     0     630  uzbekistan
57             EgorKrimetsE.   29     187    0     0     585  uzbekistan
58    IslamTukhtakhodzhaevI.   23     195    0     0     450  uzbekistan
59      KamoliddinTadzhievK.   29     191    0     0     450  uzbekistan
60           AnzurIsmailovA.   26     188    0     0     450  uzbekistan
61       BoburbekYuldashovB.   24     186    0     0     360  uzbekistan
62     ShavkatMulladzhanovS.   21     186    0     0     180  uzbekistan
63         DavronKhoshimovD.   23     180    0     0     360  uzbekistan
64           VitaliDenisovV.   23     170    0     0     360  uzbekistan
65     AleksandrMerzlyakovA.   26     185    0     0     135  uzbekistan
66          FarrukhSayfievF.   20     177    0     0     472  uzbekistan
67       AkmalShorakhmedovA.   17     181    0     0     472  uzbekistan
68    ShukhratMukhammadievS.   26     180    0     0     540  uzbekistan
69            OdilAkhmedovO.   21     183    0     0     315  uzbekistan
70        AzizbekKhaydarovA.   21     176    0     0     270  uzbekistan
71           VladimirKozakV.   27     180    0     0     225  uzbekistan
72             FozilMusaevF.   29     187    0     0  225000  uzbekistan
73           ShohruhGadoevS.   25     182    0     0  135000  uzbekistan
74         IkromjonAlibaevI.   25     188    0     0  135000  uzbekistan
75        JavokhirSokhibovJ.   28     178    0     0     675  uzbekistan
76            TimurKapadzeT.   20     180    0     0     540  uzbekistan
77          LutfullaTuraevL.   24     175    0     0     360  uzbekistan
78           DilshodJuraevD.   21     189    0     0     135  uzbekistan
79           SardorMirzaevS.   23     179    0     0     675  uzbekistan
..                       ...  ...     ...  ...   ...     ...         ...
20            JoshuaRisdonJ.   28     180    0     0     450  australien
21             TarekElrichT.   21     186    0     0     270  australien
22             MileJedinakM.   25     183    0     0     225  australien
23            JamesHollandJ.   22     174    0     0     158  australien
24               ChrisHerdC.   20     173    0     0     270  australien
25            MarkMilliganM.   19     182    0     0     270  australien
26            TerryAntonisT.   32     185    0     0     450  australien
27             LukeBrattanL.   26     178    0     0     315  australien
28           JacksonIrvineJ.   22     187    0     0     180  australien
29               AaronMooyA.   23     178    0     0     113  australien
30           OliverBozanicO.   18     182    0     0     270  australien
31               MattMcKayM.   27     174    0     0     720  australien
32           MarkBrescianoM.   24     181    0     0     225  australien
33              CarlValeriC.   26     177    0     0     135  australien
34           MassimoLuongoM.   31     178    0     0  117000  australien
35         JoshuaBrillanteJ.   20     168    0     0     450  australien
36             JamesTroisiJ.   30     174    0     0     248  australien
37               TimCahillT.   23     173    0     0     270  australien
38            MitchNicholsM.   23     184    0     0      90  australien
39               TomRogicTom   27     192    0     0     270  australien
40                  DanielDe   29     183    0     0     720  australien
41             RobbieKruseR.   27     182    0     0     315  australien
42             TommyOarTommy   28     187    0     0     270  australien
43             BenHalloranB.   28     178    0     0     270  australien
44  ChristopherOikonomidisC.   21     185    0     0     270  australien
45            MathewLeckieM.   22     188    0     0     180  australien
46               BernieIbini   22     182    0     0     270  australien
47        ApostolosGiannouA.   22     181    0     0     270  australien
48             NathanBurnsN.   19     190    0     0     270  australien
49               TomiJuricT.   28     182    0     0     270  australien

[100 rows x 7 columns]

In [245]:
# uzbek_australia_player.to_csv('./Data/uzbek_australia_player_2015.csv',index=False,header=True)

In [36]:
# oman 14165 51 / irak 3560 51

driver = webdriver.Chrome('./chromedriver')

nation = ['oman', 'irak']
nationid = ['14165', '3560']

nameList = []
nationList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

for i in range(len(nation)):
    print(nation[i], nationid[i])
    url_base = 'https://www.transfermarkt.co.uk/'
    url_sub = nation[i] + '/kader/verein/' + nationid[i] + '/saison_id/2014/plus/1'
    driver.get(url_base + url_sub)
    html = driver.page_source
    soup = BeautifulSoup(html,'html.parser')
    for j in range(0,51):
        nationList.append(nation[i])
    for i in range(0,511):
        if i % 10 == 1:
            name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
            nameList.append(name)
        if i % 10 == 2:
            age = soup.select('#yw1 > table > tbody > tr > td')[i].text
            ageList.append(age)    
        if i % 10 == 4:
            height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
            heightList.append(height)
        if i % 10 == 6:
            cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
            capList.append(cap)
        if i % 10 == 7:
            goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
            goalList.append(goal)
        if i % 10 == 9:
            salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','000').replace('m','000000').replace('-','0')
            salaryList.append(salary)

oman 14165
irak 3560

In [37]:
print(nameList)
print(nationList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Ali', 'Al', 'HabsiA.', 'Al', 'HabsiGoalkeeper'], ['Faiyz', 'Al', 'RusheidiF.', 'Al', 'RusheidiGoalkeeper'], ['Mahnad', 'Obaid', 'Al', 'ZaabiM.', 'Al', 'ZaabiGoalkeeper'], ['Mazin', 'Masoud', 'Al', 'KasbiM.', 'Al', 'KasbiGoalkeeper'], ['Sulaiman', 'Abdullah', 'Khamis', 'Al', 'BreikiS.', 'Al', 'BreikiGoalkeeper'], ['Fahad', 'Ba', 'MasilahF.', 'Ba', 'MasilahDefender'], ['Fahad', 'Khamis', 'Al', 'JalabubiF.', 'Al', 'JalabubiDefender'], ['Abdul', 'Sallam', 'AmurAbdul', 'Sallam', 'AmurDefender'], ['Nasser', 'Ali', 'Saleh', 'Al', 'ShamliN.', 'Al', 'ShamliDefender'], ['Ali', 'Salim', 'Al', 'NaharA.', 'Al', 'NaharDefender'], ['Ahmed', 'Al', 'MukhainiA.', 'Al', 'MukhainiDefender'], ['Mohamed', 'YahmadiM.', 'YahmadiDefender'], ['Al', 'Abdul', 'Salam', 'Khalfan', 'Sulaima', 'KhalfanA.', 'KhalfanDefender'], ['Mohammed', 'Al', 'MusalamiM.', 'Al', 'MusalamiDefender'], ['Mohammed', 'Al', 'RawahiM.', 'Al', 'RawahiDefender'], ['Khalid', 'Salman', 'Hamdan', 'Al', 'YaqoobiK.', 'Al', 'YaqoobiDefender'], ['Mohammed', 'Al', 'MaslamiM.', 'Al', 'MaslamiCentre', 'Back'], ['Jaber', 'Al', 'OwaisiJ.', 'Al', 'OwaisiCentre', 'Back'], ['Mohammed', 'Al', 'SheibaMohammed', 'Al', 'SheibaCentre', 'Back'], ['Abdul', 'Al', 'MukhainiA.', 'Al', 'MukhainiCentre', 'Back'], ['Hassan', 'MudhafarHassan', 'MudhafarLeft', 'Back'], ['Ali', 'Al', 'BusaidiA.', 'Al', 'BusaidiLeft', 'Back'], ['Saad', 'SuhailSaad', 'SuhailRight', 'Back'], ['Mohamed', 'Al', 'MaashariM.', 'Al', 'MaashariMidfielder'], ['Yousuf', 'Abdallah', 'Ameir', 'Al', 'SaadiY.', 'Al', 'SaadiMidfielder'], ['Mohammed', 'Al', 'SiyabiM.', 'Al', 'SiyabiMidfielder'], ['Yaqoob', 'Abdulkarim', 'Al', 'QasmiY.', 'Al', 'QasmiMidfielder'], ['Ali', 'Sulaiman', 'Rashid', 'Al', 'BusaidyA.', 'Al', 'BusaidyMidfielder'], ['Hussain', 'Al', 'HadhriH.', 'Al', 'HadhriMidfielder'], ['Omar', 'Mohammed', 'Rashid', 'Al', 'MalkiO.', 'Al', 'MalkiMidfielder'], ['Salah', 'Al', 'YahyaeiS.', 'Al', 'YahyaeiMidfielder'], ['Basim', 'Al', 'RajaibiB.', 'Al', 'RajaibiMidfielder'], ['Saad', 'Obaid', 'Al', 'SadiS.', 'Al', 'SadiMidfielder'], ['Ali', 'Al', 'JabriA.', 'Al', 'JabriDefensive', 'Midfield'], ['Eid', 'Mohammed', 'Al', 'FarsiE.', 'Al', 'FarsiDefensive', 'Midfield'], ['Juma', 'Darwish', 'Al', 'MashriJ.', 'Al', 'MashriCentral', 'Midfield'], ['Raed', 'Ibrahim', 'SalehR.', 'SalehRight', 'Midfield'], ['Mohsin', 'Al', 'KhaldiM.', 'Al', 'KhaldiLeft', 'Midfield'], ['Qasim', 'HardanQ.', 'HardanAttacking', 'Midfield'], ['Ahmed', 'Mubarak', 'KanoAhmed', 'Mubarak', 'KanoAttacking', 'Midfield'], ['Saud', 'Al', 'FarsiS.', 'Al', 'FarsiAttacking', 'Midfield'], ['Harib', 'Al', 'SaadiH.', 'Al', 'SaadiAttacking', 'Midfield'], ['Yaseen', 'Al', 'SheyadiY.', 'Al', 'SheyadiAttacking', 'Midfield'], ['Azan', 'AbasAzan', 'AbasForward'], ['Sami', 'Al', 'HasaniS.', 'Al', 'HasaniForward'], ['Mohammed', 'Alo', 'Humaid', 'Al', 'SeyabiM.', 'Al', 'SeyabiForward'], ['Emad', 'Al', 'HosniEmad', 'Al', 'HosniCentre', 'Forward'], ['Mohamed', 'Saleh', 'Al', 'GhassaniM.', 'Al', 'GhassaniCentre', 'Forward'], ['Hassan', 'Rabia', 'Suwaidan', 'Al', 'HousniH.', 'Al', 'HousniCentre', 'Forward'], ['Abdulaziz', 'Al', 'MuqbaliA.', 'Al', 'MuqbaliCentre', 'Forward'], ['Said', 'Al', 'RazaiqiS.', 'Al', 'RazaiqiCentre', 'Forward'], ['Noor', 'SabriN.', 'SabriGoalkeeper'], ['Mohammed', 'KassidM.', 'KassidGoalkeeper'], ['Mohammed', 'HameedM.', 'HameedGoalkeeper'], ['Fahad', 'Talib', 'RaheemF.', 'Talib', 'RaheemGoalkeeper'], ['Ali', 'YaseenAli', 'YaseenGoalkeeper'], ['Jalal', 'Hassan', 'HachimJ.', 'HachimGoalkeeper'], ['Herdi', 'SejamahndH.', 'SejamahndDefender'], ['Faisal', 'Jasim', 'Nafil', 'Al', 'ManaaF.', 'Nafil', 'Al', 'ManaaDefender'], ['Hussein', 'Falah', 'JawadH.', 'Falah', 'JawadDefender'], ['Ali', 'Hussein', 'RehemaA.', 'RehemaCentre', 'Back'], ['Salam', 'ShakerSalam', 'ShakerCentre', 'Back'], ['Rebin', 'SulakaR.', 'SulakaCentre', 'Back'], ['Aldin', 'El', 'ZubaidiA.', 'El', 'ZubaidiCentre', 'Back'], ['Saad', 'Natiq', 'NajiS.', 'Natiq', 'NajiCentre', 'Back'], ['Ahmad', 'Ibrahim', 'KhalafA.', 'Ibrahim', 'KhalafCentre', 'Back'], ['Ali', 'BahjatA.', 'BahjatCentre', 'Back'], ['Ali', 'Faez', 'AtiyahA.', 'AtiyahCentre', 'Back'], ['Mustafa', 'NadhimM.', 'NadhimCentre', 'Back'], ['Ali', 'AdnanAli', 'AdnanLeft', 'Back'], ['Dhurgham', 'IsmailDhurgham', 'IsmailLeft', 'Back'], ['Hawbir', 'MoustafaH.', 'MoustafaRight', 'Back'], ['Sameh', 'SaeedS.', 'SaeedRight', 'Back'], ['Waleed', 'SalimW.', 'SalimRight', 'Back'], ['Osama', 'Ali', 'MohammedO.', 'Ali', 'MohammedMidfielder'], ['Karrar', 'MohammedKarrar', 'MohammedDefensive', 'Midfield'], ['Amjad', 'AttwanA.', 'AttwanDefensive', 'Midfield'], ['Hussein', 'AbdulwahidH.', 'AbdulwahidDefensive', 'Midfield'], ['Saad', 'Abdul', 'AmirS.', 'Abdul', 'AmirDefensive', 'Midfield'], ['Yaser', 'KasimYaser', 'KasimCentral', 'Midfield'], ['Osama', 'RashidO.', 'RashidCentral', 'Midfield'], ['Saif', 'SalmanS.', 'SalmanCentral', 'Midfield'], ['Ahmed', 'YasinAhmed', 'YasinRight', 'Midfield'], ['Samer', 'SaeedSamer', 'SaeedRight', 'Midfield'], ['Karrar', 'JassimK.', 'JassimAttacking', 'Midfield'], ['Alaa', 'Abdul', 'ZahraA.', 'Abdul', 'ZahraAttacking', 'Midfield'], ['Mahdi', 'KamilM.', 'KamilAttacking', 'Midfield'], ['Bashar', 'ResanBashar', 'ResanAttacking', 'Midfield'], ['Justin', 'MeramJ.', 'MeramLeft', 'Winger'], ['Ali', 'Husni', 'FaisalA.', 'FaisalLeft', 'Winger'], ['Hammadi', 'AhmedH.', 'AhmedRight', 'Winger'], ['Amjed', 'KalafA.', 'KalafRight', 'Winger'], ['Humam', 'TariqH.', 'TariqRight', 'Winger'], ['Ali', 'QasimAli', 'QasimRight', 'Winger'], ['Hussein', 'Ali', 'WahidH.', 'Ali', 'WahidSecond', 'Striker'], ['Younis', 'MahmoudY.', 'MahmoudCentre', 'Forward'], ['Mustafa', 'KareemMustafa', 'KareemCentre', 'Forward'], ['Amjed', 'RadhiAmjed', 'RadhiCentre', 'Forward'], ['Mohannad', 'Abdul', 'RaheemMohannad', 'Abdul', 'RaheemCentre', 'Forward'], ['Marwan', 'HusseinMarwan', 'HusseinCentre', 'Forward'], ['Farhan', 'ShakorF.', 'ShakorCentre', 'Forward'], ['Aymen', 'HusseinA.', 'HusseinCentre', 'Forward']]
['oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'oman', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak', 'irak']
['Dec 30, 1981 (32)', 'Jul 19, 1988 (25)', 'Oct 25, 1992 (21)', 'Apr 27, 1993 (21)', 'Jul 3, 1986 (27)', 'Jul 8, 1986 (27)', 'Aug 14, 1990 (23)', 'Apr 7, 1988 (26)', 'Feb 15, 1989 (25)', 'Aug 21, 1992 (21)', 'May 2, 1985 (29)', '- (-)', 'Jan 25, 1986 (28)', 'Apr 27, 1990 (24)', 'Apr 26, 1993 (21)', 'Mar 1, 1985 (29)', 'Apr 27, 1990 (24)', 'Nov 4, 1989 (24)', 'Aug 27, 1989 (24)', 'Apr 7, 1988 (26)', 'Jun 26, 1980 (34)', 'Jan 21, 1991 (23)', 'Sep 6, 1987 (26)', 'Dec 4, 1990 (23)', 'Oct 13, 1980 (33)', 'Dec 21, 1988 (25)', 'Feb 16, 1990 (24)', 'Jan 21, 1991 (23)', 'May 21, 1990 (24)', 'Jan 4, 1994 (20)', 'Aug 17, 1998 (15)', 'Apr 13, 1992 (22)', 'Jun 28, 1986 (28)', 'Jan 29, 1990 (24)', 'Nov 8, 1990 (23)', 'Sep 29, 1984 (29)', 'Jun 9, 1992 (22)', 'Aug 16, 1988 (25)', 'Apr 20, 1989 (25)', 'Feb 23, 1985 (29)', 'Apr 3, 1993 (21)', 'Feb 1, 1990 (24)', 'Feb 5, 1994 (20)', 'Sep 7, 1988 (25)', 'Jan 29, 1992 (22)', 'Jan 29, 1990 (24)', 'Jul 18, 1984 (29)', 'Apr 1, 1985 (29)', 'Feb 1, 1984 (30)', 'Apr 23, 1989 (25)', 'Dec 12, 1986 (27)', 'Jun 6, 1984 (30)', 'Dec 10, 1986 (27)', 'Jan 24, 1993 (21)', 'Oct 21, 1994 (19)', 'Aug 9, 1993 (20)', 'May 18, 1991 (23)', 'Jan 13, 1985 (29)', 'Oct 1, 1991 (22)', 'Jul 1, 1994 (20)', 'Aug 8, 1985 (28)', 'Jul 31, 1986 (27)', 'Apr 12, 1992 (22)', 'Mar 7, 1995 (19)', 'Mar 19, 1994 (20)', 'Feb 25, 1992 (22)', 'Mar 3, 1992 (22)', 'Sep 9, 1994 (19)', 'Sep 23, 1993 (20)', 'Dec 19, 1993 (20)', 'May 23, 1994 (20)', 'Sep 24, 1993 (20)', 'May 26, 1992 (22)', 'Jan 5, 1992 (22)', 'Jul 25, 1988 (25)', 'Mar 6, 1989 (25)', 'Mar 12, 1997 (17)', 'Feb 28, 1985 (29)', 'Jan 19, 1992 (22)', 'May 10, 1991 (23)', 'Jan 13, 1992 (22)', 'May 6, 1993 (21)', 'Apr 22, 1991 (23)', 'Jul 1, 1987 (27)', 'Jun 11, 1987 (27)', 'Dec 22, 1987 (26)', 'Jan 6, 1995 (19)', 'Dec 22, 1996 (17)', 'Dec 4, 1988 (25)', 'May 23, 1994 (20)', 'Apr 8, 1988 (26)', 'Oct 5, 1991 (22)', 'Feb 10, 1996 (18)', 'Jan 20, 1994 (20)', 'Oct 8, 1992 (21)', 'Feb 3, 1983 (31)', 'Jul 21, 1987 (26)', 'Jul 17, 1990 (23)', 'Sep 22, 1993 (20)', 'Jan 26, 1992 (22)', 'Oct 15, 1995 (18)', 'Mar 22, 1996 (18)']
['194-', '185-', '185-', '184-', '-', '-', '-', '-', '-', '165-', '-', '-', '-', '-', '-', '-', '-', '175-', '183-', '182-', '166-', '172-', '170-', '-', '-', '-', '-', '172-', '171-', '170-', '174-', '-', '-', '175-', '183-', '173-', '178-', '173-', '178-', '179-', '-', '168-', '168-', '-', '-', '-', '180-', '173-', '182-', '181-', '180-', '184-', '181-', '185-', '-', '189-', '-', '-', '-', '-', '180-', '191-', '192-', '193-', '188-', '190-', '182-', '183-', '187-', '185-', '178-', '173-', '170-', '175-', '177-', '179-', '179-', '-', '180-', '181-', '178-', '176-', '183-', '170-', '179-', '179-', '164-', '178-', '185-', '167-', '172-', '175-', '171-', '172-', '188-', '185-', '176-', '182-', '182-', '182-', '179-', '189-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['162000000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '225000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '450000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '315000\xa0\xa0', '90000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '450000\xa0\xa0', '113000\xa0\xa0', '68000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '162000000\xa0\xa0', '0\xa0', '45000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '135000\xa0\xa0', '45000\xa0\xa0', '0\xa0', '270000\xa0\xa0', '135000\xa0\xa0', '180000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '158000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '900000\xa0\xa0', '180000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0']

In [38]:
ageList[11] = 'Dec 30, 1981 (--)'

In [39]:
namelist = []

for i in range(0,102):
    namelist.append(nameList[i][0]+nameList[i][1])

In [40]:
# dataframeì¼ë¡ ë³í
oman_irak_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
oman_irak_player.head()

                 age height cap goal       salary
0  Dec 30, 1981 (32)   194-   0    0  162000000Â Â
1  Jul 19, 1988 (25)   185-   0    0           0Â
2  Oct 25, 1992 (21)   185-   0    0           0Â
3  Apr 27, 1993 (21)   184-   0    0           0Â
4   Jul 3, 1986 (27)      -   0    0           0Â

In [41]:
oman_irak_player['age'] = oman_irak_player['age'].str[-3:-1]

In [42]:
oman_irak_player['age'].unique()

array(['32', '25', '21', '27', '23', '26', '29', '--', '28', '24', '34',
       '33', '20', '15', '22', '30', '19', '17', '18', '31'], dtype=object)

In [43]:
oman_irak_player['height'].unique()

array(['194-', '185-', '184-', '-', '165-', '175-', '183-', '182-',
       '166-', '172-', '170-', '171-', '174-', '173-', '178-', '179-',
       '168-', '180-', '181-', '189-', '191-', '192-', '193-', '188-',
       '190-', '187-', '177-', '176-', '164-', '167-'], dtype=object)

In [44]:
oman_irak_player['cap'].unique()

array(['0'], dtype=object)

In [45]:
oman_irak_player['goal'].unique()

array(['0'], dtype=object)

In [46]:
oman_irak_player['salary'].unique()

array(['162000000\xa0\xa0', '0\xa0', '225000\xa0\xa0', '450000\xa0\xa0',
       '315000\xa0\xa0', '90000\xa0\xa0', '113000\xa0\xa0',
       '68000\xa0\xa0', '45000\xa0\xa0', '135000\xa0\xa0',
       '270000\xa0\xa0', '180000\xa0\xa0', '158000\xa0\xa0',
       '900000\xa0\xa0'], dtype=object)

In [47]:
oman_irak_player.loc[oman_irak_player['age'] == '--', 'age'] = 0

In [48]:
oman_irak_player['height'] = oman_irak_player['height'].str[0:3]

In [49]:
oman_irak_player.loc[oman_irak_player['height']=='-','height'] = 0

In [50]:
oman_irak_player = oman_irak_player.astype(int)

In [51]:
oman_irak_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 5 columns):
age       102 non-null int64
height    102 non-null int64
cap       102 non-null int64
goal      102 non-null int64
salary    102 non-null int64
dtypes: int64(5)
memory usage: 4.1 KB

In [52]:
oman_player = oman_irak_player[51:]
irak_player = oman_irak_player[:51]

In [53]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ íê· ê°ì¼ë¡ ëì²´
oman_player.loc[oman_player['height']==0,'height'] =int(oman_player['height'][oman_player['height']!=0].mean())
irak_player.loc[irak_player['height']==0,'height'] =int(irak_player['height'][irak_player['height']!=0].mean())

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [54]:
# salary ì ë³´ê° ìë ì ìë¤ì ì°ë´ì ì¤ìê°ì¼ë¡ ëì²´
oman_player.loc[oman_player['salary']==0,'salary'] =int(oman_player['salary'][oman_player['salary']!=0].median())
irak_player.loc[irak_player['salary']==0,'salary'] =int(irak_player['salary'][irak_player['salary']!=0].median())

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [55]:
frames = [oman_player, irak_player]
oman_irak_player = pd.concat(frames)

In [56]:
oman_irak_player['name'] = namelist
oman_irak_player['nation'] = nationList

In [57]:
colnames = ['name','age','height','cap','goal','salary','nation']
oman_irak_player[colnames]

                    name  age  height  cap  goal     salary nation
51                 AliAl   30     184    0     0     315000   oman
52               FaiyzAl   27     181    0     0      90000   oman
53           MahnadObaid   21     185    0     0     158000   oman
54           MazinMasoud   19     180    0     0     158000   oman
55      SulaimanAbdullah   20     189    0     0     158000   oman
56               FahadBa   23     180    0     0     158000   oman
57           FahadKhamis   29     180    0     0     158000   oman
58           AbdulSallam   22     180    0     0     158000   oman
59             NasserAli   20     180    0     0     158000   oman
60              AliSalim   28     180    0     0     450000   oman
61               AhmedAl   27     191    0     0     113000   oman
62      MohamedYahmadiM.   22     192    0     0      68000   oman
63               AlAbdul   19     193    0     0     158000   oman
64            MohammedAl   20     188    0     0     158000   oman
65            MohammedAl   22     190    0     0     158000   oman
66          KhalidSalman   22     182    0     0     158000   oman
67            MohammedAl   19     183    0     0     158000   oman
68               JaberAl   20     187    0     0     158000   oman
69            MohammedAl   20     185    0     0  162000000   oman
70               AbdulAl   20     178    0     0     158000   oman
71  HassanMudhafarHassan   20     173    0     0      45000   oman
72                 AliAl   22     170    0     0     158000   oman
73        SaadSuhailSaad   22     175    0     0     158000   oman
74             MohamedAl   25     177    0     0     158000   oman
75        YousufAbdallah   25     179    0     0     158000   oman
76            MohammedAl   17     179    0     0     158000   oman
77      YaqoobAbdulkarim   29     180    0     0     158000   oman
78           AliSulaiman   22     180    0     0     158000   oman
79             HussainAl   23     181    0     0     135000   oman
80          OmarMohammed   22     178    0     0      45000   oman
..                   ...  ...     ...  ...   ...        ...    ...
21          SamehSaeedS.   23     172    0     0     450000   irak
22         WaleedSalimW.   26     170    0     0     450000   irak
23              OsamaAli   23     176    0     0     450000   irak
24  KarrarMohammedKarrar   33     176    0     0     450000   irak
25         AmjadAttwanA.   25     176    0     0     450000   irak
26   HusseinAbdulwahidH.   24     176    0     0     450000   irak
27             SaadAbdul   23     172    0     0     450000   irak
28       YaserKasimYaser   24     171    0     0     450000   irak
29         OsamaRashidO.   20     170    0     0     450000   irak
30          SaifSalmanS.   15     174    0     0     450000   irak
31       AhmedYasinAhmed   22     176    0     0     450000   irak
32       SamerSaeedSamer   28     176    0     0     450000   irak
33        KarrarJassimK.   24     175    0     0     450000   irak
34             AlaaAbdul   23     183    0     0     450000   irak
35          MahdiKamilM.   29     173    0     0     450000   irak
36     BasharResanBashar   22     178    0     0     450000   irak
37         JustinMeramJ.   25     173    0     0     450000   irak
38              AliHusni   25     178    0     0     450000   irak
39        HammadiAhmedH.   29     179    0     0     450000   irak
40          AmjedKalafA.   21     176    0     0     450000   irak
41          HumamTariqH.   24     168    0     0     450000   irak
42           AliQasimAli   20     168    0     0     450000   irak
43            HusseinAli   25     176    0     0     450000   irak
44       YounisMahmoudY.   22     176    0     0     450000   irak
45  MustafaKareemMustafa   24     176    0     0     450000   irak
46       AmjedRadhiAmjed   29     180    0     0     450000   irak
47         MohannadAbdul   29     173    0     0     450000   irak
48   MarwanHusseinMarwan   30     182    0     0     450000   irak
49        FarhanShakorF.   25     181    0     0     450000   irak
50        AymenHusseinA.   27     180    0     0     450000   irak

[102 rows x 7 columns]

In [58]:
# oman_irak_player.to_csv('./Data/oman_irak_player_2015.csv',index=False,header=True)

In [59]:
# palastina 17758 48 / katar 14162 48

driver = webdriver.Chrome('./chromedriver')

nation = ['palastina', 'katar']
nationid = ['17758', '14162']

nameList = []
nationList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

for i in range(len(nation)):
    print(nation[i], nationid[i])
    url_base = 'https://www.transfermarkt.co.uk/'
    url_sub = nation[i] + '/kader/verein/' + nationid[i] + '/saison_id/2014/plus/1'
    driver.get(url_base + url_sub)
    html = driver.page_source
    soup = BeautifulSoup(html,'html.parser')
    for j in range(0,48):
        nationList.append(nation[i])
    for i in range(0,481):
        if i % 10 == 1:
            name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
            nameList.append(name)
        if i % 10 == 2:
            age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
            ageList.append(age)    
        if i % 10 == 4:
            height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
            heightList.append(height)
        if i % 10 == 6:
            cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
            capList.append(cap)
        if i % 10 == 7:
            goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
            goalList.append(goal)
        if i % 10 == 9:
            salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','000').replace('m','000000').replace('-','0')
            salaryList.append(salary)

palastina 17758
katar 14162

In [60]:
print(nameList)
print(nationList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Ramzi', 'SalehR.', 'SalehGoalkeeper'], ['Ahmad', 'SbilA.', 'SbilGoalkeeper'], ['Ghanim', 'MahajnaG.', 'MahajnaGoalkeeper'], ['Khaled', 'AzamK.', 'AzamGoalkeeper'], ['Toufic', 'Ali', 'AbuhammadT.', 'AbuhammadGoalkeeper'], ['Azmi', 'ShweikiA.', 'ShweikiGoalkeeper'], ['Rami', 'HamadaR.', 'HamadaGoalkeeper'], ['Ahmed', 'HarbiAhmed', 'HarbiDefender'], ['Mohammed', 'AbukhamisM.', 'AbukhamisDefender'], ['Thaer', 'JboorT.', 'JboorDefender'], ['Mahmoud', 'DawoudM.', 'DawoudDefender'], ['Tamer', 'SalahT.', 'SalahDefender'], ['Abdallah', 'IdreesA.', 'IdreesDefender'], ['Abdelatif', 'Al', 'BahdariA.', 'Al', 'BahdariCentre', 'Back'], ['Haitham', 'DheebH.', 'DheebCentre', 'Back'], ['Alexis', 'NorambuenaA.', 'NorambuenaLeft', 'Back'], ['Raed', 'FaresR.', 'FaresLeft', 'Back'], ['Abdallah', 'JaberA.', 'JaberLeft', 'Back'], ['Hussam', 'Abu', 'SalehH.', 'Abu', 'SalehRight', 'Back'], ["Mus'ab", 'Al', 'BatatM.', 'Al', 'BatatRight', 'Back'], ['Hesham', 'SalheH.', 'SalheMidfielder'], ['Khader', 'Youssef', 'AbuhammadK.', 'AbuhammadMidfielder'], ['Mahmoud', 'SheikhqasemM.', 'SheikhqasemMidfielder'], ['Ahmad', 'Maher', 'WridatA.', 'WridatMidfielder'], ['Eyad', 'SlbesE.', 'SlbesMidfielder'], ['Khader', 'YousefK.', 'YousefMidfielder'], ['Pablo', 'TamburriniP.', 'TamburriniDefensive', 'Midfield'], ['Mohammed', 'DarwishM.', 'DarwishDefensive', 'Midfield'], ['Mohammed', 'YameenM.', 'YameenDefensive', 'Midfield'], ['Shadi', 'ShabanS.', 'ShabanCentral', 'Midfield'], ['Mousa', 'Abu', 'JazarM.', 'Abu', 'JazarCentral', 'Midfield'], ['Imad', 'ZataraI.', 'ZataraRight', 'Midfield'], ['Mahmoud', 'Abu', 'WardaM.', 'Abu', 'WardaRight', 'Midfield'], ['Ismail', 'Al', 'AmourI.', 'Al', 'AmourAttacking', 'Midfield'], ['Abdelhamid', 'AbuhabibA.', 'AbuhabibAttacking', 'Midfield'], ['Jonathan', 'CantillanaJ.', 'CantillanaAttacking', 'Midfield'], ['Murad', 'SaidM.', 'SaidForward'], ['Qasim', 'MahmeidQ.', 'MahmeidForward'], ['Khaled', 'SalemK.', 'SalemForward'], ['Ashraf', "Nu'manA.", "Nu'manLeft", 'Winger'], ['Tamer', 'SeyamT.', 'SeyamLeft', 'Winger'], ['Jaka', 'IhbeishehJ.', 'IhbeishehRight', 'Winger'], ['Yashir', 'IslameY.', 'IslameRight', 'Winger'], ['MatÃ­as', 'JadueM.', 'JadueCentre', 'Forward'], ['Ahmed', 'AwadA.', 'AwadCentre', 'Forward'], ['Sameh', 'MaraabaS.', 'MaraabaCentre', 'Forward'], ['Mahmoud', 'EidM.', 'EidCentre', 'Forward'], ['Ahmed', 'Abu', 'NaheyaA.', 'Abu', 'NaheyaCentre', 'Forward'], ['Qasem', 'BurhanQ.', 'BurhanGoalkeeper'], ['Oumar', 'BarryO.', 'BarryGoalkeeper'], ['Ahmed', 'SofyanAhmed', 'SofyanGoalkeeper'], ['Saad', 'Al', 'SheebS.', 'Al', 'SheebGoalkeeper'], ['Amine', 'Claude', 'Lecomte', 'AddaniA.', 'Lecomte', 'AddaniGoalkeeper'], ['Ibrahim', 'MajidI.', 'MajidCentre', 'Back'], ['Boualem', 'KhoukhiB.', 'KhoukhiCentre', 'Back'], ['Bilal', 'Mohammed', 'RajabB.', 'RajabCentre', 'Back'], ['Dame', 'TraorÃ©D.', 'TraorÃ©Centre', 'Back'], ['Mohammed', 'Mousa', 'AliM.', 'Mousa', 'AliCentre', 'Back'], ['Pedro', 'MiguelPedro', 'MiguelCentre', 'Back'], ['Almahdi', 'AliA.', 'AliCentre', 'Back'], ['Abdurahman', 'AbubakarA.', 'AbubakarCentre', 'Back'], ['Ahmad', 'YasserA.', 'YasserCentre', 'Back'], ['Abdelkarim', 'HassanAbdelkarim', 'HassanLeft', 'Back'], ['Khalid', 'MuftahK.', 'MuftahLeft', 'Back'], ['Abdulaziz', 'HatemA.', 'HatemLeft', 'Back'], ['Hamid', 'IsmaeilH.', 'IsmaeilRight', 'Back'], ['Mosaab', 'MahmoudMosaab', 'MahmoudRight', 'Back'], ['Mohammed', 'TrÃ©sorM.', 'TrÃ©sorRight', 'Back'], ['Musab', 'KhederM.', 'KhederRight', 'Back'], ['Karim', 'BoudiafK.', 'BoudiafDefensive', 'Midfield'], ['Mohammed', 'KasolaM.', 'KasolaDefensive', 'Midfield'], ['Wesam', 'RizikWesam', 'RizikDefensive', 'Midfield'], ['Majdi', 'Abdulla', 'SiddiqM.', 'SiddiqDefensive', 'Midfield'], ['Luiz', 'JÃºniorLuiz', 'JÃºniorDefensive', 'Midfield'], ['Khaled', 'Al', 'ZrigiKhaled', 'Al', 'ZrigiDefensive', 'Midfield'], ['Abdulrahman', 'MohdAbdulrahman', 'MohdDefensive', 'Midfield'], ['Ahmed', 'El', 'SayedAhmed', 'El', 'SayedDefensive', 'Midfield'], ['Hussain', 'Ali', 'ShehabH.', 'ShehabCentral', 'Midfield'], ['Rodrigo', 'TabataR.', 'TabataAttacking', 'Midfield'], ['Khalfan', 'IbrahimKhalfan', 'IbrahimAttacking', 'Midfield'], ['Magid', 'MohamedMagid', 'MohamedAttacking', 'Midfield'], ['Ali', 'AsadAli', 'AsadAttacking', 'Midfield'], ['Nasser', 'Saleh', 'Al', 'KhalfanN.', 'Al', 'KhalfanForward'], ['Hussein', 'Yasser', 'El', 'Mohammadi', 'AbdulrahmaH.', 'Yasser', 'El', 'Mohammadi', 'AbdulrahmaForward'], ['Yusef', 'Ahmed', 'AliY.', 'AliLeft', 'Winger'], ['Mohamed', 'JeedoMohamed', 'JeedoLeft', 'Winger'], ['Moaed', 'HassanM.', 'HassanLeft', 'Winger'], ['Akram', 'AfifA.', 'AfifLeft', 'Winger'], ['Hasan', 'Al', 'HaydosH.', 'Al', 'HaydosRight', 'Winger'], ['Ismaeel', 'MohammedI.', 'MohammedRight', 'Winger'], ['Ahmed', 'AlaaeldinAhmed', 'AlaaeldinRight', 'Winger'], ['SebastiÃ¡n', 'SoriaS.', 'SoriaCentre', 'Forward'], ['Abdulqadir', 'Ilyas', 'AdamA.', 'AdamCentre', 'Forward'], ['Meshaal', 'AbdullahM.', 'AbdullahCentre', 'Forward'], ['Mohammed', 'MuntariM.', 'MuntariCentre', 'Forward'], ['Muhanad', 'MusaMuhanad', 'MusaCentre', 'Forward']]
['palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'palastina', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar', 'katar']
['33', '24', '23', '21', '23', '28', '20', '27', '23', '22', '24', '28', '19', '30', '28', '30', '31', '21', '31', '20', '26', '29', '21', '22', '21', '29', '24', '23', '19', '22', '26', '29', '19', '29', '24', '22', '31', '22', '24', '27', '21', '27', '23', '22', '22', '22', '21', '22', '28', '27', '23', '24', '24', '24', '23', '28', '28', '28', '23', '22', '23', '20', '20', '21', '23', '28', '31', '27', '21', '23', '27', '33', '28', '25', '23', '26', '24', '29', '33', '26', '28', '21', '20', '30', '25', '27', '22', '17', '23', '24', '21', '30', '24', '30', '20', '30']
['183-', '-', '-', '173-', '195-', '-', '183-', '173-', '-', '-', '-', '-', '-', '188-', '180-', '173-', '170-', '175-', '173-', '168-', '-', '178-', '-', '-', '-', '-', '172-', '184-', '175-', '182-', '178-', '179-', '-', '-', '-', '180-', '-', '-', '188-', '185-', '186-', '172-', '182-', '187-', '182-', '180-', '182-', '173-', '192-', '189-', '182-', '184-', '194-', '183-', '180-', '183-', '184-', '181-', '188-', '185-', '188-', '183-', '186-', '171-', '183-', '169-', '167-', '180-', '174-', '187-', '181-', '183-', '174-', '178-', '-', '176-', '178-', '178-', '170-', '170-', '175-', '175-', '-', '-', '163-', '183-', '170-', '177-', '174-', '168-', '177-', '186-', '186-', '189-', '194-', '-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['90000\xa0\xa0', '23000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '68000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '225000\xa0\xa0', '68000\xa0\xa0', '405000\xa0\xa0', '0\xa0', '0\xa0', '68000\xa0\xa0', '0\xa0', '45000\xa0\xa0', '23000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '45000\xa0\xa0', '0\xa0', '270000\xa0\xa0', '0\xa0', '68000\xa0\xa0', '0\xa0', '0\xa0', '45000\xa0\xa0', '0\xa0', '0\xa0', '23000\xa0\xa0', '0\xa0', '180000\xa0\xa0', '135000\xa0\xa0', '135000\xa0\xa0', '45000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '225000\xa0\xa0', '90000\xa0\xa0', '68000\xa0\xa0', '68000\xa0\xa0', '45000\xa0\xa0', '270000\xa0\xa0', '180000\xa0\xa0', '135000\xa0\xa0', '90000\xa0\xa0', '90000\xa0\xa0', '90000\xa0\xa0', '45000\xa0\xa0', '45000\xa0\xa0', '23000\xa0\xa0', '135000\xa0\xa0', '135000\xa0\xa0', '0\xa0', '225000\xa0\xa0', '90000\xa0\xa0', '68000\xa0\xa0', '0\xa0', '225000\xa0\xa0', '135000\xa0\xa0', '135000\xa0\xa0', '90000\xa0\xa0', '90000\xa0\xa0', '90000\xa0\xa0', '68000\xa0\xa0', '45000\xa0\xa0', '68000\xa0\xa0', '180000000\xa0\xa0', '135000000\xa0\xa0', '90000\xa0\xa0', '45000\xa0\xa0', '45000\xa0\xa0', '0\xa0', '180000\xa0\xa0', '90000\xa0\xa0', '68000\xa0\xa0', '0\xa0', '135000\xa0\xa0', '68000\xa0\xa0', '68000\xa0\xa0', '135000000\xa0\xa0', '135000\xa0\xa0', '68000\xa0\xa0', '45000\xa0\xa0', '0\xa0']

In [61]:
namelist = []

for i in range(0,96):
    namelist.append(nameList[i][0]+nameList[i][1])

In [62]:
# dataframeì¼ë¡ ë³í
pala_katar_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
pala_katar_player.head()

  age height cap goal   salary
0  33   183-   0    0  90000Â Â
1  24      -   0    0  23000Â Â
2  23      -   0    0       0Â
3  21   173-   0    0       0Â
4  23   195-   0    0       0Â

In [63]:
pala_katar_player['height'] = pala_katar_player['height'].str[0:3]

In [64]:
pala_katar_player.loc[pala_katar_player['height']=='-','height'] = 0

In [65]:
pala_katar_player = pala_katar_player.astype(int)

In [66]:
pala_katar_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 5 columns):
age       96 non-null int64
height    96 non-null int64
cap       96 non-null int64
goal      96 non-null int64
salary    96 non-null int64
dtypes: int64(5)
memory usage: 3.8 KB

In [67]:
palastina_player = pala_katar_player[48:]
katar_player = pala_katar_player[:48]

In [68]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ íê· ê°ì¼ë¡ ëì²´
palastina_player.loc[palastina_player['height']==0,'height'] =int(palastina_player['height'][palastina_player['height']!=0].mean())
katar_player.loc[katar_player['height']==0,'height'] =int(katar_player['height'][katar_player['height']!=0].mean())

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [69]:
# salary ì ë³´ê° ìë ì ìë¤ì ì°ë´ì ì¤ìê°ì¼ë¡ ëì²´
palastina_player.loc[palastina_player['salary']==0,'salary'] =int(palastina_player['salary'][palastina_player['salary']!=0].median())
katar_player.loc[katar_player['salary']==0,'salary'] =int(katar_player['salary'][katar_player['salary']!=0].median())

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jooyeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [70]:
frames = [palastina_player, katar_player]
pala_katar_player = pd.concat(frames)

In [71]:
pala_katar_player['name'] = namelist
pala_katar_player['nation'] = nationList

In [72]:
colnames = ['name','age','height','cap','goal','salary','nation']
pala_katar_player[colnames]

                          name  age  height  cap  goal  salary     nation
48                RamziSalehR.   28     192    0     0  225000  palastina
49                 AhmadSbilA.   27     189    0     0   90000  palastina
50             GhanimMahajnaG.   23     182    0     0   68000  palastina
51                KhaledAzamK.   24     184    0     0   68000  palastina
52                   TouficAli   24     194    0     0   45000  palastina
53               AzmiShweikiA.   24     183    0     0  270000  palastina
54                RamiHamadaR.   23     180    0     0  180000  palastina
55             AhmedHarbiAhmed   28     183    0     0  135000  palastina
56         MohammedAbukhamisM.   28     184    0     0   90000  palastina
57                ThaerJboorT.   28     181    0     0   90000  palastina
58             MahmoudDawoudM.   23     188    0     0   90000  palastina
59                TamerSalahT.   22     185    0     0   45000  palastina
60            AbdallahIdreesA.   23     188    0     0   45000  palastina
61                 AbdelatifAl   20     183    0     0   23000  palastina
62              HaithamDheebH.   20     186    0     0  135000  palastina
63          AlexisNorambuenaA.   21     171    0     0  135000  palastina
64                 RaedFaresR.   23     183    0     0   90000  palastina
65             AbdallahJaberA.   28     169    0     0  225000  palastina
66                   HussamAbu   31     167    0     0   90000  palastina
67                    Mus'abAl   27     180    0     0   68000  palastina
68               HeshamSalheH.   21     174    0     0   90000  palastina
69               KhaderYoussef   23     187    0     0  225000  palastina
70        MahmoudSheikhqasemM.   27     181    0     0  135000  palastina
71                  AhmadMaher   33     183    0     0  135000  palastina
72                 EyadSlbesE.   28     174    0     0   90000  palastina
73              KhaderYousefK.   25     178    0     0   90000  palastina
74           PabloTamburriniP.   23     179    0     0   90000  palastina
75           MohammedDarwishM.   26     176    0     0   68000  palastina
76            MohammedYameenM.   24     178    0     0   45000  palastina
77               ShadiShabanS.   29     178    0     0   68000  palastina
..                         ...  ...     ...  ...   ...     ...        ...
18         MosaabMahmoudMosaab   31     173    0     0   68000      katar
19            MohammedTrÃ©sorM.   20     168    0     0   68000      katar
20               MusabKhederM.   26     179    0     0   45000      katar
21              KarimBoudiafK.   29     178    0     0   23000      katar
22            MohammedKasolaM.   21     179    0     0   68000      katar
23             WesamRizikWesam   22     179    0     0   68000      katar
24                MajdiAbdulla   21     179    0     0   68000      katar
25              LuizJÃºniorLuiz   29     179    0     0   68000      katar
26                    KhaledAl   24     172    0     0   68000      katar
27  AbdulrahmanMohdAbdulrahman   23     184    0     0   68000      katar
28                     AhmedEl   19     175    0     0   68000      katar
29                  HussainAli   22     182    0     0   45000      katar
30             RodrigoTabataR.   26     178    0     0   68000      katar
31       KhalfanIbrahimKhalfan   29     179    0     0  270000      katar
32           MagidMohamedMagid   19     179    0     0   68000      katar
33                  AliAsadAli   29     179    0     0   68000      katar
34                 NasserSaleh   24     179    0     0   68000      katar
35               HusseinYasser   22     180    0     0   68000      katar
36                  YusefAhmed   31     179    0     0   45000      katar
37         MohamedJeedoMohamed   22     179    0     0   68000      katar
38               MoaedHassanM.   24     188    0     0   68000      katar
39                 AkramAfifA.   27     185    0     0   23000      katar
40                     HasanAl   21     186    0     0   68000      katar
41           IsmaeelMohammedI.   27     172    0     0  180000      katar
42         AhmedAlaaeldinAhmed   23     182    0     0  135000      katar
43            SebastiÃ¡nSoriaS.   22     187    0     0  135000      katar
44             AbdulqadirIlyas   22     182    0     0   45000      katar
45           MeshaalAbdullahM.   22     180    0     0   68000      katar
46           MohammedMuntariM.   21     182    0     0   68000      katar
47          MuhanadMusaMuhanad   22     173    0     0   68000      katar

[96 rows x 7 columns]

In [73]:
# pala_katar_player.to_csv('./Data/pala_katar_player_2015.csv',index=False,header=True)

In [74]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/kuwait/kader/verein/3432/saison_id/2014/plus/1')

In [75]:
# kuwait 3432 38
nameList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,381):
    if i % 10 == 1:
        name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
        nameList.append(name)
    if i % 10 == 2:
        age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
        ageList.append(age)    
    if i % 10 == 4:
        height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
        heightList.append(height)
    if i % 10 == 6:
        cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        capList.append(cap)
    if i % 10 == 7:
        goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        goalList.append(goal)
    if i % 10 == 9:
        salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','000').replace('m','000000').replace('-','0')
        salaryList.append(salary)

In [76]:
print(nameList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Khaled', 'Al', 'RashidiK.', 'Al', 'RashidiGoalkeeper'], ['Nawaf', 'Khaled', 'Al', 'KhaldiN.', 'Al', 'KhaldiGoalkeeper'], ['Ahmed', 'Al', 'FadhliA.', 'Al', 'FadhliGoalkeeper'], ['Sulaiman', 'AbdulghafoorS.', 'AbdulghafoorGoalkeeper'], ['Hameed', 'YoussefH.', 'YoussefGoalkeeper'], ['Ahmad', 'RashedA.', 'RashedDefender'], ['Amer', 'Al', 'FadelA.', 'Al', 'FadelDefender'], ['Khaled', 'Ali', 'Al', 'QahtaniK.', 'Al', 'QahtaniDefender'], ['Ali', 'Al', 'MaqseedA.', 'Al', 'MaqseedDefender'], ['Faisal', 'AbdullahF.', 'AbdullahDefender'], ['Mohammad', 'FreihMohammad', 'FreihDefender'], ['Musaed', 'NedaM.', 'NedaCentre', 'Back'], ['Hussain', 'Fadhel', 'AliH.', 'AliCentre', 'Back'], ['Fahad', 'Al', 'HajeriFahad', 'Al', 'HajeriCentre', 'Back'], ['Sultan', 'Al', 'EneziS.', 'Al', 'EneziCentre', 'Back'], ['Fahad', 'Awadh', 'ShaheenF.', 'ShaheenLeft', 'Back'], ['Jarah', 'Al', 'AtaiqiJ.', 'Al', 'AtaiqiMidfielder'], ['Shereedah', 'Al', 'ShereedahS.', 'Al', 'ShereedahMidfielder'], ['Talal', 'Al', 'FadhelT.', 'Al', 'FadhelMidfielder'], ['Abdullah', 'Salem', 'Al', 'BuraikiA.', 'Al', 'BuraikiMidfielder'], ['Talal', 'Al', 'AmerT.', 'Al', 'AmerMidfielder'], ['Faisal', 'Al', 'EneziF.', 'Al', 'EneziMidfielder'], ['Yousef', 'Naser', 'Al', 'SulaimanY.', 'Al', 'SulaimanMidfielder'], ['Hamad', 'Rashid', 'Abdulkarim', 'AmanH.', 'AmanMidfielder'], ['Fahed', 'Al', 'AnsariFahed', 'Al', 'AnsariDefensive', 'Midfield'], ['Talal', 'NayefTalal', 'NayefCentral', 'Midfield'], ['Saif', 'Ahmad', 'Saif', 'Al', 'HashanS.', 'Al', 'HashanLeft', 'Midfield'], ['AzizAzizAttacking', 'Midfield'], ['Faisal', 'Zaid', 'Al', 'HarbiF.', 'Al', 'HarbiAttacking', 'Midfield'], ['Ahmad', 'Al', 'SaqerA.', 'Al', 'SaqerForward'], ['Naser', 'FarajN.', 'FarajForward'], ['Khaled', 'Ebrahim', 'HajiahK.', 'HajiahForward'], ['Abdul', 'Rahman', 'Al', 'ShammariA.', 'Al', 'ShammariForward'], ['Khaled', 'Al', 'AzemiK.', 'Al', 'AzemiForward'], ['Fahad', 'Al', 'EneziF.', 'Al', 'EneziLeft', 'Winger'], ['Saleh', 'Sheikh', 'Al', 'HendiS.', 'Al', 'HendiRight', 'Winger'], ['Bader', 'Al', 'MutwaB.', 'Al', 'MutwaCentre', 'Forward'], ['Fahad', 'Aidh', 'Al', 'RashidiF.', 'Al', 'RashidiCentre', 'Forward']]
['27', '33', '31', '23', '26', '22', '26', '29', '27', '20', '25', '30', '29', '22', '21', '29', '32', '22', '23', '26', '27', '26', '23', '24', '27', '28', '24', '25', '22', '23', '23', '21', '21', '27', '25', '32', '29', '29']
['185-', '187-', '-', '-', '-', '-', '-', '-', '165-', '-', '-', '180-', '182-', '-', '-', '-', '173-', '-', '-', '-', '173-', '-', '-', '-', '190-', '166-', '176-', '174-', '178-', '-', '-', '-', '-', '-', '175-', '175-', '175-', '188-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['180000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '158000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '180000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '450000\xa0\xa0', '135000\xa0\xa0']

In [77]:
namelist = []

for i in range(0,38):
    namelist.append(nameList[i][0]+nameList[i][1])

In [78]:
# dataframeì¼ë¡ ë³í
kuwait_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
kuwait_player.head()

  age height cap goal    salary
0  27   185-   0    0  180000Â Â
1  33   187-   0    0        0Â
2  31      -   0    0        0Â
3  23      -   0    0        0Â
4  26      -   0    0        0Â

In [79]:
kuwait_player['height'] = kuwait_player['height'].str[0:3]

In [80]:
kuwait_player.loc[kuwait_player['height']=='-','height'] = 0

In [81]:
kuwait_player = kuwait_player.astype(int)

In [82]:
kuwait_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 5 columns):
age       38 non-null int64
height    38 non-null int64
cap       38 non-null int64
goal      38 non-null int64
salary    38 non-null int64
dtypes: int64(5)
memory usage: 1.6 KB

In [83]:
kuwait_player['height'].mean()

74.78947368421052

In [84]:
kuwait_player['height'].median()

0.0

In [85]:
kuwait_player['height'].unique()

array([185, 187,   0, 165, 180, 182, 173, 190, 166, 176, 174, 178, 175,
       188])

In [86]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ íê· ê°ì¼ë¡ ëì²´
kuwait_player.loc[kuwait_player['height'] == 0,'height'] = 177

In [87]:
kuwait_player['salary'].mean()

29026.315789473683

In [88]:
kuwait_player['salary'].median()

0.0

In [89]:
kuwait_player['salary'].unique()

array([180000,      0, 158000, 450000, 135000])

In [90]:
# salary ì ë³´ê° ìë ì ìë¤ì salaryë¥¼ íê· ê°ì¼ë¡ ëì²´
kuwait_player.loc[kuwait_player['salary']==0,'salary'] =int(kuwait_player['salary'][kuwait_player['salary']!=0].mean())

In [91]:
kuwait_player['name'] = namelist
kuwait_player['nation'] = 'kuwait'

In [92]:
colnames = ['name','age','height','cap','goal','salary','nation']
kuwait_player[colnames]

                         name  age  height  cap  goal  salary  nation
0                    KhaledAl   27     185    0     0  180000  kuwait
1                 NawafKhaled   33     187    0     0  220600  kuwait
2                     AhmedAl   31     177    0     0  220600  kuwait
3      SulaimanAbdulghafoorS.   23     177    0     0  220600  kuwait
4             HameedYoussefH.   26     177    0     0  220600  kuwait
5               AhmadRashedA.   22     177    0     0  220600  kuwait
6                      AmerAl   26     177    0     0  220600  kuwait
7                   KhaledAli   29     177    0     0  220600  kuwait
8                       AliAl   27     165    0     0  220600  kuwait
9            FaisalAbdullahF.   20     177    0     0  220600  kuwait
10      MohammadFreihMohammad   25     177    0     0  220600  kuwait
11               MusaedNedaM.   30     180    0     0  158000  kuwait
12              HussainFadhel   29     182    0     0  220600  kuwait
13                    FahadAl   22     177    0     0  220600  kuwait
14                   SultanAl   21     177    0     0  220600  kuwait
15                 FahadAwadh   29     177    0     0  220600  kuwait
16                    JarahAl   32     173    0     0  220600  kuwait
17                ShereedahAl   22     177    0     0  220600  kuwait
18                    TalalAl   23     177    0     0  220600  kuwait
19              AbdullahSalem   26     177    0     0  220600  kuwait
20                    TalalAl   27     173    0     0  220600  kuwait
21                   FaisalAl   26     177    0     0  220600  kuwait
22                YousefNaser   23     177    0     0  220600  kuwait
23                HamadRashid   24     177    0     0  220600  kuwait
24                    FahedAl   27     190    0     0  220600  kuwait
25            TalalNayefTalal   28     166    0     0  220600  kuwait
26                  SaifAhmad   24     176    0     0  220600  kuwait
27  AzizAzizAttackingMidfield   25     174    0     0  180000  kuwait
28                 FaisalZaid   22     178    0     0  220600  kuwait
29                    AhmadAl   23     177    0     0  220600  kuwait
30               NaserFarajN.   23     177    0     0  220600  kuwait
31              KhaledEbrahim   21     177    0     0  220600  kuwait
32                AbdulRahman   21     177    0     0  220600  kuwait
33                   KhaledAl   27     177    0     0  220600  kuwait
34                    FahadAl   25     175    0     0  220600  kuwait
35                SalehSheikh   32     175    0     0  220600  kuwait
36                    BaderAl   29     175    0     0  450000  kuwait
37                  FahadAidh   29     188    0     0  135000  kuwait

In [93]:
# kuwait_player.to_csv('./Data/kuwait_player_2015.csv',index=False,header=True)

In [94]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/saudi-arabia/kader/verein/3807/saison_id/2014/plus/1')

In [95]:
# saudi-arabia 3807 55
nameList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,551):
    if i % 10 == 1:
        name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
        nameList.append(name)
    if i % 10 == 2:
        age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
        ageList.append(age)    
    if i % 10 == 4:
        height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
        heightList.append(height)
    if i % 10 == 6:
        cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        capList.append(cap)
    if i % 10 == 7:
        goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        goalList.append(goal)
    if i % 10 == 9:
        salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','000').replace('m','000000').replace('-','0')
        salaryList.append(salary)

In [96]:
print(nameList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Waleed', 'AbdullahW.', 'AbdullahGoalkeeper'], ['Yasser', 'Al', 'MosailemY.', 'Al', 'MosailemGoalkeeper'], ['Abdullah', 'Al', 'MuaioufA.', 'Al', 'MuaioufGoalkeeper'], ['Abdullah', 'Al', 'EneziA.', 'Al', 'EneziGoalkeeper'], ['Khaled', 'ShrahiliK.', 'ShrahiliGoalkeeper'], ['Ahmed', 'Al', 'KassarA.', 'Al', 'KassarGoalkeeper'], ['Moslem', 'Al', 'FreejM.', 'Al', 'FreejGoalkeeper'], ['Fawaz', 'Al', 'QarniF.', 'Al', 'QarniGoalkeeper'], ['Abdullah', 'Al', 'SudairyA.', 'Al', 'SudairyGoalkeeper'], ['Abdullah', 'Al', 'OaisherAbdullah', 'Al', 'OaisherGoalkeeper'], ['Mohammed', 'Al', 'OwaisMohammed', 'Al', 'OwaisGoalkeeper'], ['Osama', 'HawsawiOsama', 'HawsawiCentre', 'Back'], ['Majed', 'Ahmed', 'Al', 'MarshadiMajed', 'Ahmed', 'Al', 'MarshadiCentre', 'Back'], ['Omar', 'HawsawiO.', 'HawsawiCentre', 'Back'], ['Mohammed', 'JahfaliM.', 'JahfaliCentre', 'Back'], ['Mohamed', 'Eid', 'Al', 'BishiMohamed', 'Eid', 'Al', 'BishiCentre', 'Back'], ['Ahmed', 'AsiriA.', 'AsiriCentre', 'Back'], ['Yassen', 'HamzaYassen', 'HamzaCentre', 'Back'], ['Motaz', 'HawsawiM.', 'HawsawiCentre', 'Back'], ['Mohammed', 'Al', 'FatilM.', 'Al', 'FatilCentre', 'Back'], ['Abdullah', 'Al', 'ZoariA.', 'Al', 'ZoariLeft', 'Back'], ['Hussein', 'AbdulghaniHussein', 'AbdulghaniLeft', 'Back'], ['Mansour', 'Al', 'HarbiM.', 'Al', 'HarbiLeft', 'Back'], ['Yasir', 'Al', 'ShahraniY.', 'Al', 'ShahraniLeft', 'Back'], ['Mohammed', 'QasemMohammed', 'QasemLeft', 'Back'], ['Hassan', 'MuathHassan', 'MuathRight', 'Back'], ['Khalid', 'Al', 'GhamdiK.', 'Al', 'GhamdiRight', 'Back'], ['Saeed', 'Al', 'MowaladSaeed', 'Al', 'MowaladRight', 'Back'], ['Saud', 'KhaririS.', 'KhaririDefensive', 'Midfield'], ['Waleed', 'BakshweenWaleed', 'BakshweenDefensive', 'Midfield'], ['Abdulmalek', 'Al', 'KhaibriA.', 'Al', 'KhaibriDefensive', 'Midfield'], ['Shaye', 'SharahiliShaye', 'SharahiliDefensive', 'Midfield'], ['Abdulaziz', 'Al', 'JebreenA.', 'Al', 'JebreenDefensive', 'Midfield'], ['Jamal', 'BajandoohJamal', 'BajandoohDefensive', 'Midfield'], ['Taiseer', 'Al', 'JassamTaiseer', 'Al', 'JassamCentral', 'Midfield'], ['Ibrahim', 'GhalebI.', 'GhalebCentral', 'Midfield'], ['Abdulmajeed', 'Al', 'RuwailiAbdulmajeed', 'Al', 'RuwailiCentral', 'Midfield'], ['Hussain', 'Al', 'MoqahwiHussain', 'Al', 'MoqahwiCentral', 'Midfield'], ['Salman', 'Al', 'FarajS.', 'Al', 'FarajCentral', 'Midfield'], ['Awad', 'KhamisAwad', 'KhamisRight', 'Midfield'], ['Mustafa', 'Al', 'BassasM.', 'Al', 'BassasRight', 'Midfield'], ['Abdullah', 'Al', 'JawaeyAbdullah', 'Al', 'JawaeyLeft', 'Midfield'], ['Omar', 'Al', 'ZayniOmar', 'Al', 'ZayniMidfielder'], ['Nawaf', 'Al', 'AbedN.', 'Al', 'AbedAttacking', 'Midfield'], ['Abdulfattah', 'Tawfiq', 'AsiriA.', 'AsiriAttacking', 'Midfield'], ['Salman', 'Al', 'MuwasharS.', 'Al', 'MuwasharLeft', 'Winger'], ['Salem', 'Al', 'DawsariS.', 'Al', 'DawsariLeft', 'Winger'], ['Yahia', 'Al', 'ShehriYahia', 'Al', 'ShehriRight', 'Winger'], ['Fahad', 'Al', 'MuwalladF.', 'Al', 'MuwalladRight', 'Winger'], ['Nasser', 'Al', 'ShamraniNasser', 'Al', 'ShamraniCentre', 'Forward'], ['Naif', 'HazaziNaif', 'HazaziCentre', 'Forward'], ['Mohammed', 'Al', 'SahlawiM.', 'Al', 'SahlawiCentre', 'Forward'], ['Mukhtar', 'FallatahMukhtar', 'FallatahCentre', 'Forward'], ['Muhannad', 'AsiriMuhannad', 'AsiriCentre', 'Forward'], ['Abdulrahman', 'Al', 'GhamdiA.', 'Al', 'GhamdiCentre', 'Forward']]
['28', '30', '27', '23', '27', '23', '26', '22', '22', '23', '22', '30', '29', '28', '23', '27', '22', '23', '22', '22', '26', '37', '26', '22', '19', '28', '26', '23', '33', '24', '28', '24', '24', '21', '29', '23', '27', '26', '24', '25', '21', '18', '20', '24', '20', '25', '22', '24', '19', '30', '25', '27', '26', '27', '19']
['196-', '184-', '187-', '183-', '188-', '187-', '180-', '180-', '184-', '184-', '185-', '187-', '186-', '184-', '185-', '182-', '179-', '177-', '179-', '176-', '183-', '173-', '171-', '171-', '176-', '173-', '172-', '173-', '184-', '176-', '175-', '175-', '178-', '178-', '169-', '178-', '168-', '173-', '180-', '172-', '171-', '172-', '173-', '170-', '167-', '173-', '171-', '164-', '167-', '173-', '181-', '177-', '178-', '187-', '177-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['585000\xa0\xa0', '450000\xa0\xa0', '315000\xa0\xa0', '113000\xa0\xa0', '90000\xa0\xa0', '23000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '810000\xa0\xa0', '540000\xa0\xa0', '90000\xa0\xa0', '68000\xa0\xa0', '45000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '900000\xa0\xa0', '225000\xa0\xa0', '225000\xa0\xa0', '90000\xa0\xa0', '0\xa0', '630000\xa0\xa0', '45000\xa0\xa0', '0\xa0', '360000\xa0\xa0', '90000\xa0\xa0', '90000\xa0\xa0', '68000\xa0\xa0', '0\xa0', '0\xa0', '675000\xa0\xa0', '540000\xa0\xa0', '315000\xa0\xa0', '113000\xa0\xa0', '45000\xa0\xa0', '0\xa0', '0\xa0', '90000\xa0\xa0', '0\xa0', '450000\xa0\xa0', '0\xa0', '45000\xa0\xa0', '0\xa0', '540000\xa0\xa0', '0\xa0', '180000000\xa0\xa0', '900000\xa0\xa0', '720000\xa0\xa0', '315000\xa0\xa0', '180000\xa0\xa0', '0\xa0']

In [97]:
namelist = []

for i in range(0,55):
    namelist.append(nameList[i][0]+nameList[i][1])

In [98]:
# dataframeì¼ë¡ ë³í
saudi_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
saudi_player.head()

  age height cap goal    salary
0  28   196-   0    0  585000Â Â
1  30   184-   0    0  450000Â Â
2  27   187-   0    0  315000Â Â
3  23   183-   0    0  113000Â Â
4  27   188-   0    0   90000Â Â

In [99]:
saudi_player['height'] = saudi_player['height'].str[0:3]

In [100]:
saudi_player.loc[saudi_player['height']=='-','height'] = 0

In [101]:
saudi_player = saudi_player.astype(int)

In [102]:
saudi_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
age       55 non-null int64
height    55 non-null int64
cap       55 non-null int64
goal      55 non-null int64
salary    55 non-null int64
dtypes: int64(5)
memory usage: 2.2 KB

In [103]:
saudi_player['height'].mean()

177.6727272727273

In [104]:
saudi_player['height'].median()

177.0

In [105]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ íê· ê°ì¼ë¡ ëì²´
saudi_player.loc[saudi_player['salary']==0,'salary'] =int(saudi_player['salary'][saudi_player['salary']!=0].mean())

In [106]:
saudi_player['salary'].mean()

5450857.090909091

In [107]:
saudi_player['salary'].median()

585000.0

In [108]:
# salary ì ë³´ê° ìë ì ìë¤ì salaryë¥¼ íê· ê°ì¼ë¡ ëì²´
saudi_player.loc[saudi_player['salary']==0,'salary'] =int(saudi_player['salary'][saudi_player['salary']!=0].median())

In [109]:
len(namelist)

55

In [110]:
saudi_player['name'] = namelist
saudi_player['nation'] = 'saudi-arabia'

In [111]:
colnames = ['name','age','height','cap','goal','salary','nation']
saudi_player[colnames]

                        name  age  height  cap  goal     salary        nation
0           WaleedAbdullahW.   28     196    0     0     585000  saudi-arabia
1                   YasserAl   30     184    0     0     450000  saudi-arabia
2                 AbdullahAl   27     187    0     0     315000  saudi-arabia
3                 AbdullahAl   23     183    0     0     113000  saudi-arabia
4           KhaledShrahiliK.   27     188    0     0      90000  saudi-arabia
5                    AhmedAl   23     187    0     0      23000  saudi-arabia
6                   MoslemAl   26     180    0     0    5450857  saudi-arabia
7                    FawazAl   22     180    0     0    5450857  saudi-arabia
8                 AbdullahAl   22     184    0     0    5450857  saudi-arabia
9                 AbdullahAl   23     184    0     0    5450857  saudi-arabia
10                MohammedAl   22     185    0     0    5450857  saudi-arabia
11         OsamaHawsawiOsama   30     187    0     0     810000  saudi-arabia
12                MajedAhmed   29     186    0     0     540000  saudi-arabia
13             OmarHawsawiO.   28     184    0     0      90000  saudi-arabia
14         MohammedJahfaliM.   23     185    0     0      68000  saudi-arabia
15                MohamedEid   27     182    0     0      45000  saudi-arabia
16              AhmedAsiriA.   22     179    0     0    5450857  saudi-arabia
17         YassenHamzaYassen   23     177    0     0    5450857  saudi-arabia
18            MotazHawsawiM.   22     179    0     0    5450857  saudi-arabia
19                MohammedAl   22     176    0     0    5450857  saudi-arabia
20                AbdullahAl   26     183    0     0     900000  saudi-arabia
21  HusseinAbdulghaniHussein   37     173    0     0     225000  saudi-arabia
22                 MansourAl   26     171    0     0     225000  saudi-arabia
23                   YasirAl   22     171    0     0      90000  saudi-arabia
24     MohammedQasemMohammed   19     176    0     0    5450857  saudi-arabia
25         HassanMuathHassan   28     173    0     0     630000  saudi-arabia
26                  KhalidAl   26     172    0     0      45000  saudi-arabia
27                   SaeedAl   23     173    0     0    5450857  saudi-arabia
28             SaudKhaririS.   33     184    0     0     360000  saudi-arabia
29     WaleedBakshweenWaleed   24     176    0     0      90000  saudi-arabia
30              AbdulmalekAl   28     175    0     0      90000  saudi-arabia
31       ShayeSharahiliShaye   24     175    0     0      68000  saudi-arabia
32               AbdulazizAl   24     178    0     0    5450857  saudi-arabia
33       JamalBajandoohJamal   21     178    0     0    5450857  saudi-arabia
34                 TaiseerAl   29     169    0     0     675000  saudi-arabia
35           IbrahimGhalebI.   23     178    0     0     540000  saudi-arabia
36             AbdulmajeedAl   27     168    0     0     315000  saudi-arabia
37                 HussainAl   26     173    0     0     113000  saudi-arabia
38                  SalmanAl   24     180    0     0      45000  saudi-arabia
39            AwadKhamisAwad   25     172    0     0    5450857  saudi-arabia
40                 MustafaAl   21     171    0     0    5450857  saudi-arabia
41                AbdullahAl   18     172    0     0      90000  saudi-arabia
42                    OmarAl   20     173    0     0    5450857  saudi-arabia
43                   NawafAl   24     170    0     0     450000  saudi-arabia
44         AbdulfattahTawfiq   20     167    0     0    5450857  saudi-arabia
45                  SalmanAl   25     173    0     0      45000  saudi-arabia
46                   SalemAl   22     171    0     0    5450857  saudi-arabia
47                   YahiaAl   24     164    0     0     540000  saudi-arabia
48                   FahadAl   19     167    0     0    5450857  saudi-arabia
49                  NasserAl   30     173    0     0  180000000  saudi-arabia
50            NaifHazaziNaif   25     181    0     0     900000  saudi-arabia
51                MohammedAl   27     177    0     0     720000  saudi-arabia
52    MukhtarFallatahMukhtar   26     178    0     0     315000  saudi-arabia
53     MuhannadAsiriMuhannad   27     187    0     0     180000  saudi-arabia
54             AbdulrahmanAl   19     177    0     0    5450857  saudi-arabia

In [112]:
# saudi_player.to_csv('./Data/saudi_player_2015.csv',index=False,header=True)

In [113]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/nordkorea/kader/verein/15457/saison_id/2014/plus/1')

In [114]:
# nordkorea 15457 41
nameList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,411):
    if i % 10 == 1:
        name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
        nameList.append(name)
    if i % 10 == 2:
        age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
        ageList.append(age)    
    if i % 10 == 4:
        height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
        heightList.append(height)
    if i % 10 == 6:
        cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        capList.append(cap)
    if i % 10 == 7:
        goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        goalList.append(goal)
    if i % 10 == 9:
        salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','000').replace('m','000000').replace('-','0')
        salaryList.append(salary)

In [115]:
print(nameList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Myong', 'Guk', 'RiM.', 'RiGoalkeeper'], ['Kwang', 'Il', 'RiK.', 'RiGoalkeeper'], ['Il', 'Gwang', 'KimI.', 'KimGoalkeeper'], ['Tae', 'Song', 'AnT.', 'AnGoalkeeper'], ['Kwang', 'Min', 'JuK.', 'JuGoalkeeper'], ['Chang', 'Ho', 'RiC.', 'RiDefender'], ['Song', 'Hyok', 'HanS.', 'HanDefender'], ['Chung', 'Hyok', 'KwonC.', 'KwonDefender'], ['Chon', 'Il', 'RiC.', 'RiDefender'], ['Kuk', 'Chol', 'KangK.', 'KangDefender'], ['Hyon', 'Il', 'PakH.', 'PakDefender'], ['Seong', 'gi', 'KimS.', 'KimCentre', 'Back'], ['Song', 'Hyok', 'JangS.', 'JangCentre', 'Back'], ['Kuk', 'Chol', 'JangK.', 'JangCentre', 'Back'], ['Kwang', 'Ik', 'JonK.', 'JonLeft', 'Back'], ['Hyon', 'Uk', 'SoH.', 'SoLeft', 'Back'], ['Jong', 'Hyok', 'ChaJ.', 'ChaRight', 'Back'], ['Hak', 'Su', 'RoHak', 'Su', 'RoRight', 'Back'], ['Sang', 'Chol', 'RiS.', 'RiMidfielder'], ['Song', 'Chol', 'PakS.', 'PakMidfielder'], ['Hyon', 'Jin', 'SimH.', 'SimMidfielder'], ['Hyok', 'Chol', 'OH.', 'OMidfielder'], ['Kum', 'Chol', 'RiK.', 'RiMidfielder'], ['Il', 'Gwang', 'YunI.', 'YunMidfielder'], ['Hyok', 'Chol', 'RiH.', 'RiMidfielder'], ['Kyong', 'Jin', 'SoK.', 'SoMidfielder'], ['Yong', 'Chol', 'RiY.', 'RiMidfielder'], ['Myong', 'Song', 'PakM.', 'PakMidfielder'], ['Yong', 'jik', 'RiY.', 'RiDefensive', 'Midfield'], ['Kyong', 'Il', 'KimK.', 'KimLeft', 'Midfield'], ['Yong', 'Gi', 'RyangY.', 'RyangAttacking', 'Midfield'], ['Chol', 'Myong', 'RiC.', 'RiAttacking', 'Midfield'], ['Chol', 'Song', 'OmC.', 'OmForward'], ['Song', 'Hyok', 'KyeS.', 'KyeForward'], ['Won', 'ChoeWon', 'ChoeForward'], ['Yong', 'Gwang', 'KimY.', 'KimForward'], ['Yu', 'Song', 'KimY.', 'KimForward'], ['Kwang', 'Ryong', 'PakK.', 'PakCentre', 'Forward'], ['Kum', 'Song', 'HongK.', 'HongCentre', 'Forward'], ['Byong', 'jun', 'AnB.', 'AnCentre', 'Forward'], ['Il', 'Gwan', 'JongI.', 'JongCentre', 'Forward']]
['27', '26', '22', '20', '24', '24', '26', '20', '23', '24', '20', '25', '23', '20', '26', '22', '28', '24', '23', '26', '23', '22', '27', '21', '23', '20', '23', '20', '23', '25', '32', '26', '21', '21', '21', '21', '20', '21', '24', '24', '21']
['188-', '192-', '-', '-', '187-', '-', '-', '170-', '177-', '-', '-', '190-', '177-', '183-', '169-', '175-', '178-', '178-', '-', '170-', '-', '-', '-', '-', '177-', '-', '-', '183-', '187-', '174-', '172-', '173-', '-', '-', '-', '-', '179-', '188-', '175-', '183-', '175-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['315000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '135000\xa0\xa0', '0\xa0', '0\xa0', '135000\xa0\xa0', '0\xa0', '360000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '23000\xa0\xa0', '0\xa0', '720000\xa0\xa0', '135000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '630000\xa0\xa0', '68000\xa0\xa0', '45000\xa0\xa0', '0\xa0']

In [116]:
namelist = []

for i in range(0,41):
    namelist.append(nameList[i][0]+nameList[i][1])

In [117]:
# dataframeì¼ë¡ ë³í
nordkorea_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
nordkorea_player.head()

  age height cap goal    salary
0  27   188-   0    0  315000Â Â
1  26   192-   0    0        0Â
2  22      -   0    0        0Â
3  20      -   0    0        0Â
4  24   187-   0    0        0Â

In [118]:
nordkorea_player['height'] = nordkorea_player['height'].str[0:3]

In [119]:
nordkorea_player.loc[nordkorea_player['height']=='-','height'] = 0

In [120]:
nordkorea_player = nordkorea_player.astype(int)

In [121]:
nordkorea_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
age       41 non-null int64
height    41 non-null int64
cap       41 non-null int64
goal      41 non-null int64
salary    41 non-null int64
dtypes: int64(5)
memory usage: 1.7 KB

In [122]:
nordkorea_player['height'].mean()

104.8780487804878

In [123]:
nordkorea_player['height'].median()

172.0

In [124]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ ì¤ìê°ì¼ë¡ ëì²´
nordkorea_player.loc[nordkorea_player['salary']==0,'salary'] =int(nordkorea_player['salary'][nordkorea_player['salary']!=0].median())

In [125]:
nordkorea_player['salary'].mean()

164658.53658536586

In [126]:
nordkorea_player['salary'].median()

135000.0

In [127]:
# salary ì ë³´ê° ìë ì ìë¤ì salaryë¥¼ ì¤ìê°ì¼ë¡ ëì²´
nordkorea_player.loc[nordkorea_player['salary']==0,'salary'] =int(nordkorea_player['salary'][nordkorea_player['salary']!=0].median())

In [128]:
nordkorea_player['name'] = namelist
nordkorea_player['nation'] = 'north-korea'

In [129]:
colnames = ['name','age','height','cap','goal','salary','nation']
nordkorea_player[colnames]

          name  age  height  cap  goal  salary       nation
0     MyongGuk   27     188    0     0  315000  north-korea
1      KwangIl   26     192    0     0  135000  north-korea
2      IlGwang   22       0    0     0  135000  north-korea
3      TaeSong   20       0    0     0  135000  north-korea
4     KwangMin   24     187    0     0  135000  north-korea
5      ChangHo   24       0    0     0  135000  north-korea
6     SongHyok   26       0    0     0  135000  north-korea
7    ChungHyok   20     170    0     0  135000  north-korea
8       ChonIl   23     177    0     0  135000  north-korea
9      KukChol   24       0    0     0  135000  north-korea
10      HyonIl   20       0    0     0  135000  north-korea
11     Seonggi   25     190    0     0  135000  north-korea
12    SongHyok   23     177    0     0  135000  north-korea
13     KukChol   20     183    0     0  135000  north-korea
14     KwangIk   26     169    0     0  135000  north-korea
15      HyonUk   22     175    0     0  135000  north-korea
16    JongHyok   28     178    0     0  360000  north-korea
17       HakSu   24     178    0     0  135000  north-korea
18    SangChol   23       0    0     0  135000  north-korea
19    SongChol   26     170    0     0  135000  north-korea
20     HyonJin   23       0    0     0  135000  north-korea
21    HyokChol   22       0    0     0  135000  north-korea
22     KumChol   27       0    0     0  135000  north-korea
23     IlGwang   21       0    0     0  135000  north-korea
24    HyokChol   23     177    0     0  135000  north-korea
25    KyongJin   20       0    0     0  135000  north-korea
26    YongChol   23       0    0     0  135000  north-korea
27   MyongSong   20     183    0     0  135000  north-korea
28     Yongjik   23     187    0     0   23000  north-korea
29     KyongIl   25     174    0     0  135000  north-korea
30      YongGi   32     172    0     0  720000  north-korea
31   CholMyong   26     173    0     0  135000  north-korea
32    CholSong   21       0    0     0  135000  north-korea
33    SongHyok   21       0    0     0  135000  north-korea
34  WonChoeWon   21       0    0     0  135000  north-korea
35   YongGwang   21       0    0     0  135000  north-korea
36      YuSong   20     179    0     0  135000  north-korea
37  KwangRyong   21     188    0     0  630000  north-korea
38     KumSong   24     175    0     0   68000  north-korea
39    Byongjun   24     183    0     0   45000  north-korea
40      IlGwan   21     175    0     0  135000  north-korea

In [130]:
# nordkorea_player.to_csv('./Data/north-korea_player_2015.csv',index=False,header=True)

In [251]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/iran/kader/verein/3582/saison_id/2014/plus/1')

In [268]:
# iran 3582 44
nameList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,441):
    if i % 10 == 1:
        name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
        nameList.append(name)
    if i % 10 == 2:
        age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
        ageList.append(age)    
    if i % 10 == 4:
        height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
        heightList.append(height)
    if i % 10 == 6:
        cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        capList.append(cap)
    if i % 10 == 7:
        goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        goalList.append(goal)
    if i % 10 == 9:
        salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','').replace('m','000').replace('-','0')
        salaryList.append(salary)

In [269]:
print(nameList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Alireza', 'BeiranvandAlireza', 'BeiranvandGoalkeeper'], ['Sosha', 'MakaniS.', 'MakaniGoalkeeper'], ['Alireza', 'HaghighiA.', 'HaghighiGoalkeeper'], ['Mohsen', 'ForouzanM.', 'ForouzanGoalkeeper'], ['Mohammad', 'Rashid', 'MazaheriM.', 'MazaheriGoalkeeper'], ['Mohammadreza', 'AkhbariM.', 'AkhbariGoalkeeper'], ['Seyed', 'Jalal', 'HosseiniS.', 'HosseiniCentre', 'Back'], ['Pejman', 'MontazeriP.', 'MontazeriCentre', 'Back'], ['Amir', 'Hossein', 'SadeghiA.', 'SadeghiCentre', 'Back'], ['Mohammad', 'Reza', 'KhanzadehM.', 'KhanzadehCentre', 'Back'], ['Morteza', 'PouraliganjiM.', 'PouraliganjiCentre', 'Back'], ['Hossein', 'KanaaniHossein', 'KanaaniCentre', 'Back'], ['Ezzatollah', 'PourghazE.', 'PourghazCentre', 'Back'], ['Ehsan', 'HajsafiE.', 'HajsafiLeft', 'Back'], ['Mehrdad', 'PooladiM.', 'PooladiLeft', 'Back'], ['Hashem', 'BeikzadehH.', 'BeikzadehLeft', 'Back'], ['Habib', 'GordaniH.', 'GordaniLeft', 'Back'], ['Meysam', 'MajidiM.', 'MajidiLeft', 'Back'], ['Milad', 'MohammadiM.', 'MohammadiLeft', 'Back'], ['Khosro', 'HeydariK.', 'HeydariRight', 'Back'], ['Vouria', 'GhafooriV.', 'GhafooriRight', 'Back'], ['Ramin', 'RezaeianR.', 'RezaeianRight', 'Back'], ['Andranik', 'TeymourianA.', 'TeymourianDefensive', 'Midfield'], ['Javad', 'NekounamJ.', 'NekounamDefensive', 'Midfield'], ['Omid', 'EbrahimiO.', 'EbrahimiDefensive', 'Midfield'], ['Kamal', 'KamyabiniaK.', 'KamyabiniaDefensive', 'Midfield'], ['Saeid', 'EzatolahiS.', 'EzatolahiDefensive', 'Midfield'], ['Ali', 'KarimiA.', 'KarimiCentral', 'Midfield'], ['Masoud', 'ShojaeiM.', 'ShojaeiAttacking', 'Midfield'], ['Soroosh', 'RafieiS.', 'RafieiAttacking', 'Midfield'], ['Mohammad', 'NouriM.', 'NouriAttacking', 'Midfield'], ['Dariush', 'ShojaeianD.', 'ShojaeianAttacking', 'Midfield'], ['Omid', 'AlishahO.', 'AlishahLeft', 'Winger'], ['Vahid', 'AmiriV.', 'AmiriLeft', 'Winger'], ['Mehdi', 'TorabiM.', 'TorabiLeft', 'Winger'], ['Ashkan', 'DejagahA.', 'DejagahRight', 'Winger'], ['Alireza', 'JahanbakhshA.', 'JahanbakhshRight', 'Winger'], ['Mehdi', 'SharifiM.', 'SharifiRight', 'Winger'], ['Karim', 'AnsarifardK.', 'AnsarifardCentre', 'Forward'], ['Reza', 'GhoochannejhadReza', 'GhoochannejhadCentre', 'Forward'], ['Kaveh', 'RezaeiK.', 'RezaeiCentre', 'Forward'], ['Sardar', 'AzmounS.', 'AzmounCentre', 'Forward'], ['Masoud', 'HassanzadehM.', 'HassanzadehCentre', 'Forward'], ['Mehdi', 'TaremiM.', 'TaremiCentre', 'Forward']]
['21', '27', '26', '26', '25', '21', '32', '30', '32', '22', '22', '20', '27', '24', '27', '30', '31', '27', '20', '30', '26', '24', '31', '33', '26', '25', '17', '20', '30', '24', '31', '22', '22', '26', '19', '27', '20', '21', '24', '26', '22', '19', '23', '21']
['194-', '192-', '193-', '186-', '192-', '191-', '182-', '185-', '188-', '188-', '187-', '188-', '185-', '176-', '181-', '189-', '176-', '181-', '178-', '174-', '178-', '185-', '180-', '186-', '179-', '183-', '190-', '185-', '185-', '175-', '186-', '178-', '172-', '181-', '185-', '181-', '180-', '179-', '183-', '180-', '185-', '186-', '185-', '187-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['450\xa0\xa0', '405\xa0\xa0', '315\xa0\xa0', '225\xa0\xa0', '135\xa0\xa0', '45\xa0\xa0', '162000\xa0\xa0', '108000\xa0\xa0', '630\xa0\xa0', '360\xa0\xa0', '270\xa0\xa0', '45\xa0\xa0', '0\xa0', '108000\xa0\xa0', '900\xa0\xa0', '540\xa0\xa0', '405\xa0\xa0', '113\xa0\xa0', '0\xa0', '108000\xa0\xa0', '630\xa0\xa0', '270\xa0\xa0', '171000\xa0\xa0', '900\xa0\xa0', '900\xa0\xa0', '450\xa0\xa0', '225\xa0\xa0', '270\xa0\xa0', '108000\xa0\xa0', '360\xa0\xa0', '203\xa0\xa0', '0\xa0', '540\xa0\xa0', '540\xa0\xa0', '68\xa0\xa0', '270000\xa0\xa0', '900\xa0\xa0', '450\xa0\xa0', '990\xa0\xa0', '900\xa0\xa0', '495\xa0\xa0', '450\xa0\xa0', '315\xa0\xa0', '158\xa0\xa0']

In [270]:
namelist = []

for i in range(0,44):
    namelist.append(nameList[i][0]+nameList[i][1])

In [271]:
# dataframeì¼ë¡ ë³í
iran_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
iran_player.head()

  age height cap goal salary
0  21   194-   0    0  450Â Â
1  27   192-   0    0  405Â Â
2  26   193-   0    0  315Â Â
3  26   186-   0    0  225Â Â
4  25   192-   0    0  135Â Â

In [272]:
iran_player['height'] = iran_player['height'].str[0:3]

In [273]:
iran_player.loc[iran_player['height']=='-','height'] = 0

In [274]:
iran_player = iran_player.astype(int)

In [275]:
iran_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 5 columns):
age       44 non-null int64
height    44 non-null int64
cap       44 non-null int64
goal      44 non-null int64
salary    44 non-null int64
dtypes: int64(5)
memory usage: 1.8 KB

In [276]:
iran_player['height'].mean()

183.63636363636363

In [277]:
iran_player['height'].median()

185.0

In [278]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ íê· ê°ì¼ë¡ ëì²´
nordkorea_player.loc[nordkorea_player['salary']==0,'salary'] =int(nordkorea_player['salary'][nordkorea_player['salary']!=0].mean())

In [279]:
iran_player['salary'].mean()

23860.272727272728

In [280]:
iran_player['salary'].median()

450.0

In [281]:
# salary ì ë³´ê° ìë ì ìë¤ì salaryë¥¼ ì¤ìê°ì¼ë¡ ëì²´
iran_player.loc[iran_player['salary']==0,'salary'] =int(iran_player['salary'][iran_player['salary']!=0].median())

In [282]:
iran_player['name'] = namelist
iran_player['nation'] = 'iran'

In [283]:
colnames = ['name','age','height','cap','goal','salary','nation']
iran_player[colnames]

                        name  age  height  cap  goal  salary nation
0   AlirezaBeiranvandAlireza   21     194    0     0     450   iran
1              SoshaMakaniS.   27     192    0     0     405   iran
2          AlirezaHaghighiA.   26     193    0     0     315   iran
3           MohsenForouzanM.   26     186    0     0     225   iran
4             MohammadRashid   25     192    0     0     135   iran
5      MohammadrezaAkhbariM.   21     191    0     0      45   iran
6                 SeyedJalal   32     182    0     0  162000   iran
7          PejmanMontazeriP.   30     185    0     0  108000   iran
8                AmirHossein   32     188    0     0     630   iran
9               MohammadReza   22     188    0     0     360   iran
10     MortezaPouraliganjiM.   22     187    0     0     270   iran
11     HosseinKanaaniHossein   20     188    0     0      45   iran
12      EzzatollahPourghazE.   27     185    0     0     450   iran
13            EhsanHajsafiE.   24     176    0     0  108000   iran
14          MehrdadPooladiM.   27     181    0     0     900   iran
15         HashemBeikzadehH.   30     189    0     0     540   iran
16            HabibGordaniH.   31     176    0     0     405   iran
17            MeysamMajidiM.   27     181    0     0     113   iran
18          MiladMohammadiM.   20     178    0     0     450   iran
19           KhosroHeydariK.   30     174    0     0  108000   iran
20          VouriaGhafooriV.   26     178    0     0     630   iran
21           RaminRezaeianR.   24     185    0     0     270   iran
22      AndranikTeymourianA.   31     180    0     0  171000   iran
23           JavadNekounamJ.   33     186    0     0     900   iran
24            OmidEbrahimiO.   26     179    0     0     900   iran
25         KamalKamyabiniaK.   25     183    0     0     450   iran
26          SaeidEzatolahiS.   17     190    0     0     225   iran
27               AliKarimiA.   20     185    0     0     270   iran
28           MasoudShojaeiM.   30     185    0     0  108000   iran
29           SorooshRafieiS.   24     175    0     0     360   iran
30           MohammadNouriM.   31     186    0     0     203   iran
31        DariushShojaeianD.   22     178    0     0     450   iran
32             OmidAlishahO.   22     172    0     0     540   iran
33              VahidAmiriV.   26     181    0     0     540   iran
34             MehdiTorabiM.   19     185    0     0      68   iran
35           AshkanDejagahA.   27     181    0     0  270000   iran
36      AlirezaJahanbakhshA.   20     180    0     0     900   iran
37            MehdiSharifiM.   21     179    0     0     450   iran
38         KarimAnsarifardK.   24     183    0     0     990   iran
39    RezaGhoochannejhadReza   26     180    0     0     900   iran
40             KavehRezaeiK.   22     185    0     0     495   iran
41            SardarAzmounS.   19     186    0     0     450   iran
42       MasoudHassanzadehM.   23     185    0     0     315   iran
43             MehdiTaremiM.   21     187    0     0     158   iran

In [284]:
# iran_player.to_csv('./Data/iran_player_2015.csv',index=False,header=True)

In [303]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/vereinigte-arabische-emirate/kader/verein/5147/saison_id/2014/plus/1')

In [286]:
# vereinigte-arabische-emirate 5147 49
nameList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,491):
    if i % 10 == 1:
        name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
        nameList.append(name)
    if i % 10 == 2:
        age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
        ageList.append(age)    
    if i % 10 == 4:
        height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
        heightList.append(height)
    if i % 10 == 6:
        cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        capList.append(cap)
    if i % 10 == 7:
        goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        goalList.append(goal)
    if i % 10 == 9:
        salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','000').replace('m','000000').replace('-','0')
        salaryList.append(salary)

In [287]:
print(nameList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Ali', 'KhaseifA.', 'KhaseifGoalkeeper'], ['Majed', 'NaserM.', 'NaserGoalkeeper'], ['Adel', 'Al', 'HosaniA.', 'Al', 'HosaniGoalkeeper'], ['Mohsin', 'Al', 'HashmiM.', 'Al', 'HashmiGoalkeeper'], ['Khalid', 'EisaKhalid', 'EisaGoalkeeper'], ['Mohamed', 'YousefM.', 'YousefGoalkeeper'], ['Ahmed', 'MahmoudA.', 'MahmoudGoalkeeper'], ['Ahmad', 'ShambihA.', 'ShambihGoalkeeper'], ['Hamdan', 'Al', 'KamaliH.', 'Al', 'KamaliCentre', 'Back'], ['Walid', 'AbbasW.', 'AbbasCentre', 'Back'], ['Mohamed', 'AhmadMohamed', 'AhmadCentre', 'Back'], ['Fares', 'JumaFares', 'JumaCentre', 'Back'], ['Mohammed', 'Ali', 'AyedM.', 'AyedCentre', 'Back'], ['Mohamed', 'JaberM.', 'JaberCentre', 'Back'], ['Mohnad', 'SalemM.', 'SalemCentre', 'Back'], ['Ismail', 'AhmedIsmail', 'AhmedCentre', 'Back'], ['Abdullah', 'Al', 'BloushiA.', 'Al', 'BloushiCentre', 'Back'], ['Mahmoud', 'Al', 'HammadiM.', 'Al', 'HammadiLeft', 'Back'], ['Mohammed', 'FayezMohammed', 'FayezLeft', 'Back'], ['Shahin', 'AbdulrahmanS.', 'AbdulrahmanLeft', 'Back'], ['Saeed', 'MusabbehS.', 'MusabbehLeft', 'Back'], ['Abdulaziz', 'HussainA.', 'HussainRight', 'Back'], ['Mohamed', 'FawziM.', 'FawziRight', 'Back'], ['Eisa', 'AhmedE.', 'AhmedRight', 'Back'], ['Abdelaziz', 'SanqourA.', 'SanqourRight', 'Back'], ['Majed', 'HassanM.', 'HassanDefensive', 'Midfield'], ['Hassan', 'IbrahimH.', 'IbrahimDefensive', 'Midfield'], ['Amer', 'AbdulrahmanA.', 'AbdulrahmanCentral', 'Midfield'], ['Dawood', 'AliD.', 'AliCentral', 'Midfield'], ['Habib', 'Al', 'FardanH.', 'Al', 'FardanCentral', 'Midfield'], ['Khamis', 'EsmaeelK.', 'EsmaeelCentral', 'Midfield'], ['Mohamed', 'AbdulrahmanM.', 'AbdulrahmanCentral', 'Midfield'], ['Ahmed', 'Al', 'MahriA.', 'Al', 'MahriRight', 'Midfield'], ['Haboosh', 'SalehH.', 'SalehRight', 'Midfield'], ['Ahmed', 'Ali', 'AlebriA.', 'AlebriLeft', 'Midfield'], ['Omar', 'AbdulrahmanO.', 'AbdulrahmanAttacking', 'Midfield'], ['Amer', 'BazuhairA.', 'BazuhairAttacking', 'Midfield'], ['Rashed', 'EssaR.', 'EssaAttacking', 'Midfield'], ['Hamad', 'SalemH.', 'SalemForward'], ['Ahmed', 'AlhasmiA.', 'AlhasmiForward'], ['Ismaeil', 'MatarI.', 'MatarLeft', 'Winger'], ['Ismail', 'Al', 'HammadiI.', 'Al', 'HammadiLeft', 'Winger'], ['Ahmed', 'KhameisA.', 'KhameisRight', 'Winger'], ['Ahmed', 'KhalilA.', 'KhalilCentre', 'Forward'], ['Saeed', 'Al', 'KathiriS.', 'Al', 'KathiriCentre', 'Forward'], ['Mohamed', 'Al', 'AkberiM.', 'Al', 'AkberiCentre', 'Forward'], ['Ali', 'MabkhoutA.', 'MabkhoutCentre', 'Forward'], ['Ahmed', 'Al', 'AttasA.', 'Al', 'AttasCentre', 'Forward'], ['Salem', 'SalehS.', 'SalehCentre', 'Forward']]
['27', '30', '24', '23', '24', '23', '25', '20', '25', '29', '25', '25', '23', '25', '29', '30', '27', '26', '24', '21', '20', '23', '24', '27', '25', '21', '23', '24', '30', '23', '24', '25', '26', '24', '24', '22', '23', '23', '25', '18', '31', '26', '28', '23', '26', '18', '23', '18', '23']
['184-', '178-', '180-', '178-', '176-', '164-', '183-', '180-', '183-', '182-', '183-', '181-', '182-', '182-', '184-', '192-', '187-', '171-', '177-', '172-', '169-', '180-', '176-', '175-', '183-', '180-', '180-', '168-', '166-', '180-', '184-', '173-', '170-', '167-', '175-', '173-', '176-', '172-', '-', '-', '168-', '166-', '163-', '180-', '183-', '183-', '177-', '176-', '176-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '135000\xa0\xa0', '113000\xa0\xa0', '113000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '158000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '180000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '135000000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0']

In [288]:
namelist = []

for i in range(0,49):
    namelist.append(nameList[i][0]+nameList[i][1])

In [289]:
# dataframeì¼ë¡ ë³í
uae_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
uae_player.head()

  age height cap goal salary
0  27   184-   0    0     0Â
1  30   178-   0    0     0Â
2  24   180-   0    0     0Â
3  23   178-   0    0     0Â
4  24   176-   0    0     0Â

In [290]:
uae_player['height'] = uae_player['height'].str[0:3]

In [291]:
uae_player.loc[uae_player['height']=='-','height'] = 0

In [292]:
uae_player = uae_player.astype(int)

In [293]:
uae_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 5 columns):
age       49 non-null int64
height    49 non-null int64
cap       49 non-null int64
goal      49 non-null int64
salary    49 non-null int64
dtypes: int64(5)
memory usage: 2.0 KB

In [294]:
uae_player['height'].mean()

169.75510204081633

In [295]:
uae_player['height'].median()

177.0

In [296]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ íê· ê°ì¼ë¡ ëì²´
uae_player.loc[uae_player['salary']==0,'salary'] =int(uae_player['salary'][uae_player['salary']!=0].median())

In [297]:
uae_player['salary'].mean()

2897928.5714285714

In [298]:
uae_player['salary'].median()

146500.0

In [299]:
# salary ì ë³´ê° ìë ì ìë¤ì salaryë¥¼ ì¤ìê°ì¼ë¡ ëì²´
uae_player.loc[uae_player['salary']==0,'salary'] =int(uae_player['salary'][uae_player['salary']!=0].median())

In [300]:
uae_player['name'] = namelist
uae_player['nation'] = 'U.A.E'

In [301]:
colnames = ['name','age','height','cap','goal','salary','nation']
uae_player[colnames]

                     name  age  height  cap  goal     salary nation
0            AliKhaseifA.   27     184    0     0     146500  U.A.E
1            MajedNaserM.   30     178    0     0     146500  U.A.E
2                  AdelAl   24     180    0     0     146500  U.A.E
3                MohsinAl   23     178    0     0     146500  U.A.E
4        KhalidEisaKhalid   24     176    0     0     146500  U.A.E
5         MohamedYousefM.   23     164    0     0     146500  U.A.E
6          AhmedMahmoudA.   25     183    0     0     146500  U.A.E
7          AhmadShambihA.   20     180    0     0     146500  U.A.E
8                HamdanAl   25     183    0     0     135000  U.A.E
9            WalidAbbasW.   29     182    0     0     113000  U.A.E
10    MohamedAhmadMohamed   25     183    0     0     113000  U.A.E
11         FaresJumaFares   25     181    0     0     146500  U.A.E
12            MohammedAli   23     182    0     0     146500  U.A.E
13         MohamedJaberM.   25     182    0     0     146500  U.A.E
14          MohnadSalemM.   29     184    0     0     146500  U.A.E
15      IsmailAhmedIsmail   30     192    0     0     146500  U.A.E
16             AbdullahAl   27     187    0     0     146500  U.A.E
17              MahmoudAl   26     171    0     0     146500  U.A.E
18  MohammedFayezMohammed   24     177    0     0     146500  U.A.E
19    ShahinAbdulrahmanS.   21     172    0     0     146500  U.A.E
20        SaeedMusabbehS.   20     169    0     0     146500  U.A.E
21     AbdulazizHussainA.   23     180    0     0     158000  U.A.E
22         MohamedFawziM.   24     176    0     0     146500  U.A.E
23            EisaAhmedE.   27     175    0     0     146500  U.A.E
24     AbdelazizSanqourA.   25     183    0     0     146500  U.A.E
25          MajedHassanM.   21     180    0     0     146500  U.A.E
26        HassanIbrahimH.   23     180    0     0     146500  U.A.E
27      AmerAbdulrahmanA.   24     168    0     0     180000  U.A.E
28            DawoodAliD.   30     166    0     0     146500  U.A.E
29                HabibAl   23     180    0     0     146500  U.A.E
30        KhamisEsmaeelK.   24     184    0     0     146500  U.A.E
31   MohamedAbdulrahmanM.   25     173    0     0     146500  U.A.E
32                AhmedAl   26     170    0     0     146500  U.A.E
33         HabooshSalehH.   24     167    0     0     146500  U.A.E
34               AhmedAli   24     175    0     0     146500  U.A.E
35      OmarAbdulrahmanO.   22     173    0     0  135000000  U.A.E
36         AmerBazuhairA.   23     176    0     0     146500  U.A.E
37           RashedEssaR.   23     172    0     0     146500  U.A.E
38           HamadSalemH.   25       0    0     0     146500  U.A.E
39         AhmedAlhasmiA.   18       0    0     0     146500  U.A.E
40         IsmaeilMatarI.   31     168    0     0     146500  U.A.E
41               IsmailAl   26     166    0     0     146500  U.A.E
42         AhmedKhameisA.   28     163    0     0     146500  U.A.E
43          AhmedKhalilA.   23     180    0     0     146500  U.A.E
44                SaeedAl   26     183    0     0     146500  U.A.E
45              MohamedAl   18     183    0     0     146500  U.A.E
46          AliMabkhoutA.   23     177    0     0     146500  U.A.E
47                AhmedAl   18     176    0     0     146500  U.A.E
48           SalemSalehS.   23     176    0     0     146500  U.A.E

In [302]:
# uae_player.to_csv('./Data/uae_player_2015.csv',index=False,header=True)

In [167]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/bahrain/kader/verein/7214/saison_id/2014/plus/1')

In [168]:
# bahrain 7214 42
nameList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,421):
    if i % 10 == 1:
        name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
        nameList.append(name)
    if i % 10 == 2:
        age = soup.select('#yw1 > table > tbody > tr > td')[i].text
        ageList.append(age)    
    if i % 10 == 4:
        height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
        heightList.append(height)
    if i % 10 == 6:
        cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        capList.append(cap)
    if i % 10 == 7:
        goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        goalList.append(goal)
    if i % 10 == 9:
        salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','000').replace('m','000000').replace('-','0')
        salaryList.append(salary)

In [169]:
print(nameList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Sayed', 'Mohamed', 'AbbasS.', 'AbbasGoalkeeper'], ['Abbas', 'KhamisA.', 'KhamisGoalkeeper'], ['Hamad', 'Mohamed', 'Al', 'DoseriH.', 'Al', 'DoseriGoalkeeper'], ['Ashraf', 'Al', 'SebaieA.', 'Al', 'SebaieGoalkeeper'], ['Saleh', 'Abdulhamid', 'MahmeediS.', 'MahmeediDefender'], ['Ismaeel', 'Abdullah', 'OmarI.', 'OmarDefender'], ['Ebrahim', 'Abdulla', 'Al', 'ObaidliE.', 'Al', 'ObaidliDefender'], ['Abdulla', 'ZayedAbdulla', 'ZayedDefender'], ['Ahmad', 'AbdalnabiA.', 'AbdalnabiDefender'], ['Mohamed', 'Salah', 'Abdulla', 'Ahmed', 'MatarM.', 'Ahmed', 'MatarDefender'], ['Mohamed', 'Adel', 'Ali', 'HasanM.', 'Ali', 'HasanDefender'], ['Abdulla', 'ShallalA.', 'ShallalDefender'], ['Abdulla', 'AlhazaaAbdulla', 'AlhazaaDefender'], ['Kameel', 'Abdulla', 'Hasan', 'Ali', 'AladhemK.', 'Hasan', 'Ali', 'AladhemDefender'], ['Sayed', 'MohamedSayed', 'MohamedCentre', 'Back'], ['Husain', 'Ali', 'BabaHusain', 'Ali', 'BabaCentre', 'Back'], ['Mohammed', 'HusainMohammed', 'HusainCentre', 'Back'], ['Sayed', 'BaqerS.', 'BaqerCentre', 'Back'], ['Ahmed', 'BughammarA.', 'BughammarCentre', 'Back'], ['Waleed', 'Al', 'HayamW.', 'Al', 'HayamCentre', 'Back'], ['Rashed', 'Al', 'HootiR.', 'Al', 'HootiLeft', 'Back'], ['Abdulla', 'OmarA.', 'OmarRight', 'Back'], ['Issa', 'Moosa', 'NajiI.', 'Moosa', 'NajiMidfielder'], ['Abdulla', 'JanahiA.', 'JanahiMidfielder'], ['Ahmed', 'MerzaA.', 'MerzaMidfielder'], ['Sayed', 'AhmedSayed', 'AhmedMidfielder'], ['Mohamed', 'MahorfiM.', 'MahorfiMidfielder'], ['Faisal', 'AbudahoomF.', 'AbudahoomMidfielder'], ['Ali', 'Abdulwahab', 'Al', 'SafiA.', 'Al', 'SafiDefensive', 'Midfield'], ['Komail', 'Hasan', 'Al', 'AswadK.', 'Al', 'AswadCentral', 'Midfield'], ['Faouzi', 'AaishF.', 'AaishLeft', 'Midfield'], ['Sayed', 'Dhiya', 'SaeedS.', 'Dhiya', 'SaeedLeft', 'Midfield'], ['Abdulla', 'YasserA.', 'YasserAttacking', 'Midfield'], ['Sayed', 'Ali', 'HashemSayed', 'Ali', 'HashemForward'], ['Abdulwahab', 'Al', 'MaloodA.', 'Al', 'MaloodForward'], ['Saad', 'Al', 'AmerSaad', 'Al', 'AmerForward'], ['Sami', 'Mohamed', 'Al', 'HusainiS.', 'Al', 'HusainiForward'], ['Jamal', 'RashidJ.', 'RashidLeft', 'Winger'], ['Mohamed', 'TayebM.', 'TayebSecond', 'Striker'], ['Jaycee', 'JohnJaycee', 'JohnCentre', 'Forward'], ['Ismaeel', 'AbdulatifI.', 'AbdulatifCentre', 'Forward'], ['YusufYusufCentre', 'Forward']]
['Aug 25, 1985 (28)', 'Jun 13, 1983 (31)', 'Jul 24, 1989 (24)', 'Jul 5, 1991 (22)', 'Feb 6, 1983 (31)', '- (-)', 'Mar 6, 1986 (28)', 'Oct 11, 1990 (23)', 'Mar 30, 1986 (28)', 'Mar 20, 1996 (18)', 'Sep 20, 1996 (17)', 'Jan 31, 1993 (21)', 'Jul 19, 1990 (23)', 'Aug 7, 1993 (20)', 'Feb 5, 1983 (31)', 'Feb 11, 1982 (32)', 'Jul 31, 1980 (33)', 'Apr 14, 1994 (20)', 'Dec 30, 1997 (16)', 'Feb 3, 1991 (23)', 'Dec 24, 1989 (24)', 'Jan 1, 1987 (27)', 'Sep 19, 1987 (26)', 'Nov 15, 1986 (27)', 'Feb 24, 1991 (23)', 'Mar 4, 1991 (23)', 'Jul 24, 1981 (32)', 'Sep 25, 1988 (25)', 'Jun 4, 1984 (30)', 'Apr 8, 1994 (20)', 'Feb 27, 1985 (29)', 'Jul 17, 1992 (21)', 'Mar 27, 1988 (26)', 'Sep 10, 1987 (26)', 'Jun 7, 1990 (24)', 'Apr 28, 1991 (23)', 'Sep 29, 1989 (24)', 'Nov 7, 1988 (25)', 'Oct 13, 1989 (24)', 'Oct 8, 1985 (28)', 'Sep 11, 1986 (27)', 'Jun 12, 1993 (21)']
['190-', '180-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '189-', '184-', '181-', '185-', '181-', '-', '-', '176-', '-', '-', '-', '-', '-', '-', '-', '-', '180-', '-', '175-', '175-', '-', '-', '-', '168-', '-', '184-', '182-', '-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['248000\xa0\xa0', '113000\xa0\xa0', '0\xa0', '0\xa0', '90000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '540000\xa0\xa0', '540000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '135000\xa0\xa0', '585000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '135000\xa0\xa0', '0\xa0', '450000\xa0\xa0', '0\xa0', '135000\xa0\xa0', '180000\xa0\xa0', '113000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '630000\xa0\xa0', '405000\xa0\xa0', '0\xa0']

In [170]:
ageList[5] = 'Dec 30, 1981 (--)'

In [171]:
namelist = []

for i in range(0,42):
    namelist.append(nameList[i][0]+nameList[i][1])

In [172]:
# dataframeì¼ë¡ ë³í
bahrain_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
bahrain_player.head()

                 age height cap goal    salary
0  Aug 25, 1985 (28)   190-   0    0  248000Â Â
1  Jun 13, 1983 (31)   180-   0    0  113000Â Â
2  Jul 24, 1989 (24)      -   0    0        0Â
3   Jul 5, 1991 (22)      -   0    0        0Â
4   Feb 6, 1983 (31)      -   0    0   90000Â Â

In [173]:
bahrain_player['age'] = bahrain_player['age'].str[-3:-1]

In [174]:
bahrain_player['age'].unique()

array(['28', '31', '24', '22', '--', '23', '18', '17', '21', '20', '32',
       '33', '16', '27', '26', '25', '30', '29'], dtype=object)

In [175]:
bahrain_player.loc[bahrain_player['age'] == '--', 'age'] = 0

In [176]:
bahrain_player['height'] = bahrain_player['height'].str[0:3]

In [177]:
bahrain_player.loc[bahrain_player['height']=='-','height'] = 0

In [178]:
bahrain_player = bahrain_player.astype(int)

In [179]:
bahrain_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
age       42 non-null int64
height    42 non-null int64
cap       42 non-null int64
goal      42 non-null int64
salary    42 non-null int64
dtypes: int64(5)
memory usage: 1.7 KB

In [180]:
bahrain_player['height'].mean()

60.23809523809524

In [181]:
bahrain_player['height'].median()

0.0

In [182]:
bahrain_player['height'].unique()

array([190, 180,   0, 189, 184, 181, 185, 176, 175, 168, 182])

In [183]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ íê· ê°ì¼ë¡ ëì²´
bahrain_player.loc[bahrain_player['height'] == 0,'height'] = 181

In [184]:
bahrain_player['salary'].mean()

102357.14285714286

In [185]:
bahrain_player['salary'].median()

0.0

In [186]:
# salary ì ë³´ê° ìë ì ìë¤ì salaryë¥¼ ì¤ìê°ì¼ë¡ ëì²´
bahrain_player.loc[bahrain_player['salary']==0,'salary'] =int(bahrain_player['salary'][bahrain_player['salary']!=0].mean())

In [187]:
bahrain_player['name'] = namelist
bahrain_player['nation'] = 'bahrain'

In [188]:
colnames = ['name','age','height','cap','goal','salary','nation']
bahrain_player[colnames]

                       name  age  height  cap  goal  salary   nation
0              SayedMohamed   28     190    0     0  248000  bahrain
1             AbbasKhamisA.   31     180    0     0  113000  bahrain
2              HamadMohamed   24     181    0     0  307071  bahrain
3                  AshrafAl   22     181    0     0  307071  bahrain
4           SalehAbdulhamid   31     181    0     0   90000  bahrain
5           IsmaeelAbdullah    0     181    0     0  307071  bahrain
6            EbrahimAbdulla   28     181    0     0  307071  bahrain
7       AbdullaZayedAbdulla   23     181    0     0  307071  bahrain
8          AhmadAbdalnabiA.   28     181    0     0  307071  bahrain
9              MohamedSalah   18     181    0     0  307071  bahrain
10              MohamedAdel   17     181    0     0  307071  bahrain
11         AbdullaShallalA.   21     181    0     0  307071  bahrain
12    AbdullaAlhazaaAbdulla   23     181    0     0  307071  bahrain
13            KameelAbdulla   20     181    0     0  307071  bahrain
14        SayedMohamedSayed   31     189    0     0  540000  bahrain
15                HusainAli   32     184    0     0  540000  bahrain
16   MohammedHusainMohammed   33     181    0     0  307071  bahrain
17             SayedBaqerS.   20     185    0     0  307071  bahrain
18         AhmedBughammarA.   16     181    0     0  307071  bahrain
19                 WaleedAl   23     181    0     0  307071  bahrain
20                 RashedAl   24     181    0     0  135000  bahrain
21            AbdullaOmarA.   27     176    0     0  585000  bahrain
22                IssaMoosa   26     181    0     0  307071  bahrain
23          AbdullaJanahiA.   27     181    0     0  307071  bahrain
24             AhmedMerzaA.   23     181    0     0  307071  bahrain
25          SayedAhmedSayed   23     181    0     0  307071  bahrain
26         MohamedMahorfiM.   32     181    0     0  307071  bahrain
27        FaisalAbudahoomF.   25     181    0     0  307071  bahrain
28            AliAbdulwahab   30     181    0     0  135000  bahrain
29              KomailHasan   20     181    0     0  307071  bahrain
30            FaouziAaishF.   29     180    0     0  450000  bahrain
31               SayedDhiya   21     181    0     0  307071  bahrain
32          AbdullaYasserA.   26     175    0     0  135000  bahrain
33                 SayedAli   26     175    0     0  180000  bahrain
34             AbdulwahabAl   24     181    0     0  113000  bahrain
35                   SaadAl   23     181    0     0  307071  bahrain
36              SamiMohamed   24     181    0     0  307071  bahrain
37            JamalRashidJ.   25     168    0     0  307071  bahrain
38           MohamedTayebM.   24     181    0     0  307071  bahrain
39         JayceeJohnJaycee   28     184    0     0  630000  bahrain
40       IsmaeelAbdulatifI.   27     182    0     0  405000  bahrain
41  YusufYusufCentreForward   21     181    0     0  307071  bahrain

In [189]:
# bahrain_player.to_csv('./Data/bahrain_player_2015.csv',index=False,header=True)

In [190]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/japan/kader/verein/3435/saison_id/2014/plus/1')

In [191]:
# japan 3435 65
nameList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,651):
    if i % 10 == 1:
        name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
        nameList.append(name)
    if i % 10 == 2:
        age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
        ageList.append(age)    
    if i % 10 == 4:
        height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
        heightList.append(height)
    if i % 10 == 6:
        cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        capList.append(cap)
    if i % 10 == 7:
        goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        goalList.append(goal)
    if i % 10 == 9:
        salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','000').replace('m','000000').replace('-','0')
        salaryList.append(salary)

In [192]:
print(nameList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Eiji', 'KawashimaE.', 'KawashimaGoalkeeper'], ['Shusaku', 'NishikawaS.', 'NishikawaGoalkeeper'], ['Shuichi', 'GondaS.', 'GondaGoalkeeper'], ['Masaaki', 'HigashiguchiM.', 'HigashiguchiGoalkeeper'], ['Akihiro', 'HayashiA.', 'HayashiGoalkeeper'], ['Yuji', 'RokutanY.', 'RokutanGoalkeeper'], ['Maya', 'YoshidaM.', 'YoshidaCentre', 'Back'], ['Masato', 'MorishigeM.', 'MorishigeCentre', 'Back'], ['Tomoaki', 'MakinoT.', 'MakinoCentre', 'Back'], ['Hiroki', 'MizumotoH.', 'MizumotoCentre', 'Back'], ['Tsukasa', 'ShiotaniT.', 'ShiotaniCentre', 'Back'], ['Daisuke', 'SuzukiD.', 'SuzukiCentre', 'Back'], ['Daiki', 'NiwaD.', 'NiwaCentre', 'Back'], ['Tatsuya', 'SakaiT.', 'SakaiCentre', 'Back'], ['Gen', 'ShojiGen', 'ShojiCentre', 'Back'], ['Yuichi', 'MaruyamaY.', 'MaruyamaCentre', 'Back'], ['Naomichi', 'UedaN.', 'UedaCentre', 'Back'], ['Yuto', 'NagatomoY.', 'NagatomoLeft', 'Back'], ['Kosuke', 'OtaK.', 'OtaLeft', 'Back'], ['Hiroki', 'FujiharuH.', 'FujiharuLeft', 'Back'], ['Atsuto', 'UchidaA.', 'UchidaRight', 'Back'], ['Gotoku', 'SakaiG.', 'SakaiRight', 'Back'], ['Hiroki', 'SakaiH.', 'SakaiRight', 'Back'], ['Daigo', 'NishiD.', 'NishiRight', 'Back'], ['Koki', 'YonekuraK.', 'YonekuraRight', 'Back'], ['Ken', 'MatsubaraK.', 'MatsubaraRight', 'Back'], ['Hajime', 'HosogaiH.', 'HosogaiDefensive', 'Midfield'], ['Makoto', 'HasebeM.', 'HasebeDefensive', 'Midfield'], ['Hotaru', 'YamaguchiH.', 'YamaguchiDefensive', 'Midfield'], ['Toshihiro', 'AoyamaT.', 'AoyamaDefensive', 'Midfield'], ['Takahiro', 'OgiharaT.', 'OgiharaDefensive', 'Midfield'], ['Yasuyuki', 'KonnoY.', 'KonnoDefensive', 'Midfield'], ['Takuji', 'YonemotoT.', 'YonemotoDefensive', 'Midfield'], ['Wataru', 'EndoW.', 'EndoDefensive', 'Midfield'], ['Taishi', 'TaguchiT.', 'TaguchiDefensive', 'Midfield'], ['Shogo', 'TaniguchiS.', 'TaniguchiDefensive', 'Midfield'], ['Yosuke', 'KashiwagiY.', 'KashiwagiCentral', 'Midfield'], ['Yasuhito', 'EndoY.', 'EndoCentral', 'Midfield'], ['Gaku', 'ShibasakiG.', 'ShibasakiCentral', 'Midfield'], ['Naoyuki', 'FujitaN.', 'FujitaCentral', 'Midfield'], ['Manabu', 'SaitoM.', 'SaitoLeft', 'Midfield'], ['Shinji', 'KagawaS.', 'KagawaAttacking', 'Midfield'], ['Hiroshi', 'KiyotakeH.', 'KiyotakeAttacking', 'Midfield'], ['Shu', 'KurataS.', 'KurataAttacking', 'Midfield'], ['Ryota', 'MoriokaR.', 'MoriokaAttacking', 'Midfield'], ['Takashi', 'InuiT.', 'InuiLeft', 'Winger'], ['Takashi', 'UsamiT.', 'UsamiLeft', 'Winger'], ['Genki', 'HaraguchiG.', 'HaraguchiLeft', 'Winger'], ['Keisuke', 'HondaK.', 'HondaRight', 'Winger'], ['Yuki', 'MutoYuki', 'MutoSecond', 'Striker'], ['Takuma', 'AsanoT.', 'AsanoSecond', 'Striker'], ['Shinji', 'OkazakiS.', 'OkazakiCentre', 'Forward'], ['Yoichiro', 'KakitaniY.', 'KakitaniCentre', 'Forward'], ['Mike', 'HavenaarM.', 'HavenaarCentre', 'Forward'], ['Yuya', 'OsakoY.', 'OsakoCentre', 'Forward'], ['Shinzo', 'KorokiS.', 'KorokiCentre', 'Forward'], ['Takumi', 'MinaminoT.', 'MinaminoCentre', 'Forward'], ['Kengo', 'KawamataK.', 'KawamataCentre', 'Forward'], ['Yohei', 'ToyodaY.', 'ToyodaCentre', 'Forward'], ['Junya', 'TanakaJ.', 'TanakaCentre', 'Forward'], ['Mu', 'KanazakiM.', 'KanazakiCentre', 'Forward'], ['Yu', 'KobayashiY.', 'KobayashiCentre', 'Forward'], ['Kensuke', 'NagaiK.', 'NagaiCentre', 'Forward'], ['Yoshinori', 'MutoY.', 'MutoCentre', 'Forward'], ['Yusuke', 'MinagawaY.', 'MinagawaCentre', 'Forward']]
['31', '28', '25', '28', '27', '27', '25', '27', '27', '28', '25', '24', '28', '23', '21', '25', '19', '27', '26', '25', '26', '23', '24', '26', '26', '21', '28', '30', '23', '28', '22', '31', '23', '21', '23', '22', '26', '34', '22', '27', '24', '25', '24', '25', '23', '26', '22', '23', '28', '25', '19', '28', '24', '27', '24', '27', '19', '24', '29', '26', '25', '26', '25', '21', '22']
['185-', '183-', '187-', '184-', '195-', '188-', '189-', '183-', '182-', '183-', '182-', '182-', '180-', '183-', '182-', '184-', '186-', '169-', '178-', '175-', '176-', '176-', '183-', '176-', '176-', '180-', '177-', '180-', '174-', '174-', '184-', '178-', '177-', '178-', '176-', '182-', '176-', '178-', '175-', '175-', '169-', '175-', '172-', '172-', '180-', '169-', '178-', '177-', '182-', '170-', '173-', '174-', '177-', '195-', '182-', '175-', '174-', '184-', '185-', '180-', '180-', '178-', '178-', '178-', '186-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['270000000\xa0\xa0', '135000000\xa0\xa0', '113000000\xa0\xa0', '720000\xa0\xa0', '450000\xa0\xa0', '270000\xa0\xa0', '405000000\xa0\xa0', '135000000\xa0\xa0', '113000000\xa0\xa0', '113000000\xa0\xa0', '900000\xa0\xa0', '630000\xa0\xa0', '360000\xa0\xa0', '315000\xa0\xa0', '225000\xa0\xa0', '135000\xa0\xa0', '90000\xa0\xa0', '1260000000\xa0\xa0', '900000\xa0\xa0', '720000\xa0\xa0', '540000000\xa0\xa0', '315000000\xa0\xa0', '225000000\xa0\xa0', '720000\xa0\xa0', '540000\xa0\xa0', '180000\xa0\xa0', '270000000\xa0\xa0', '225000000\xa0\xa0', '135000000\xa0\xa0', '113000000\xa0\xa0', '113000000\xa0\xa0', '900000\xa0\xa0', '720000\xa0\xa0', '540000\xa0\xa0', '405000\xa0\xa0', '45000\xa0\xa0', '135000000\xa0\xa0', '113000000\xa0\xa0', '900000\xa0\xa0', '675000\xa0\xa0', '135000000\xa0\xa0', '1530000000\xa0\xa0', '630000000\xa0\xa0', '900000\xa0\xa0', '450000\xa0\xa0', '315000000\xa0\xa0', '135000000\xa0\xa0', '135000000\xa0\xa0', '1530000000\xa0\xa0', '360000\xa0\xa0', '225000\xa0\xa0', '360000000\xa0\xa0', '225000000\xa0\xa0', '225000000\xa0\xa0', '180000000\xa0\xa0', '113000000\xa0\xa0', '113000000\xa0\xa0', '108000000\xa0\xa0', '108000000\xa0\xa0', '900000\xa0\xa0', '810000\xa0\xa0', '765000\xa0\xa0', '720000\xa0\xa0', '135000\xa0\xa0', '45000\xa0\xa0']

In [193]:
namelist = []

for i in range(0,65):
    namelist.append(nameList[i][0]+nameList[i][1])

In [194]:
# dataframeì¼ë¡ ë³í
japan_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
japan_player.head()

  age height cap goal       salary
0  31   185-   0    0  270000000Â Â
1  28   183-   0    0  135000000Â Â
2  25   187-   0    0  113000000Â Â
3  28   184-   0    0     720000Â Â
4  27   195-   0    0     450000Â Â

In [195]:
japan_player['height'] = japan_player['height'].str[0:3]

In [196]:
japan_player.loc[japan_player['height']=='-','height'] = 0

In [197]:
japan_player = japan_player.astype(int)

In [198]:
japan_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 5 columns):
age       65 non-null int64
height    65 non-null int64
cap       65 non-null int64
goal      65 non-null int64
salary    65 non-null int64
dtypes: int64(5)
memory usage: 2.6 KB

In [199]:
japan_player['height'].mean()

179.2923076923077

In [200]:
japan_player['height'].median()

178.0

In [201]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ íê· ê°ì¼ë¡ ëì²´
japan_player.loc[japan_player['height']==0,'height'] =int(japan_player['height'][japan_player['height']!=0].mean())

In [202]:
japan_player['salary'].mean()

162871538.46153846

In [203]:
japan_player['salary'].median()

108000000.0

In [204]:
# salary ì ë³´ê° ìë ì ìë¤ì salaryë¥¼ ì¤ìê°ì¼ë¡ ëì²´
japan_player.loc[japan_player['salary']==0,'salary'] =int(japan_player['salary'][japan_player['salary']!=0].median())

In [205]:
japan_player['name'] = namelist
japan_player['nation'] = 'japan'

In [206]:
colnames = ['name','age','height','cap','goal','salary','nation']
japan_player[colnames]

                     name  age  height  cap  goal      salary nation
0         EijiKawashimaE.   31     185    0     0   270000000  japan
1      ShusakuNishikawaS.   28     183    0     0   135000000  japan
2          ShuichiGondaS.   25     187    0     0   113000000  japan
3   MasaakiHigashiguchiM.   28     184    0     0      720000  japan
4        AkihiroHayashiA.   27     195    0     0      450000  japan
5           YujiRokutanY.   27     188    0     0      270000  japan
6           MayaYoshidaM.   25     189    0     0   405000000  japan
7       MasatoMorishigeM.   27     183    0     0   135000000  japan
8         TomoakiMakinoT.   27     182    0     0   113000000  japan
9        HirokiMizumotoH.   28     183    0     0   113000000  japan
10      TsukasaShiotaniT.   25     182    0     0      900000  japan
11        DaisukeSuzukiD.   24     182    0     0      630000  japan
12            DaikiNiwaD.   28     180    0     0      360000  japan
13         TatsuyaSakaiT.   23     183    0     0      315000  japan
14            GenShojiGen   21     182    0     0      225000  japan
15       YuichiMaruyamaY.   25     184    0     0      135000  japan
16         NaomichiUedaN.   19     186    0     0       90000  japan
17         YutoNagatomoY.   27     169    0     0  1260000000  japan
18            KosukeOtaK.   26     178    0     0      900000  japan
19       HirokiFujiharuH.   25     175    0     0      720000  japan
20         AtsutoUchidaA.   26     176    0     0   540000000  japan
21          GotokuSakaiG.   23     176    0     0   315000000  japan
22          HirokiSakaiH.   24     183    0     0   225000000  japan
23           DaigoNishiD.   26     176    0     0      720000  japan
24         KokiYonekuraK.   26     176    0     0      540000  japan
25         KenMatsubaraK.   21     180    0     0      180000  japan
26        HajimeHosogaiH.   28     177    0     0   270000000  japan
27         MakotoHasebeM.   30     180    0     0   225000000  japan
28      HotaruYamaguchiH.   23     174    0     0   135000000  japan
29      ToshihiroAoyamaT.   28     174    0     0   113000000  japan
..                    ...  ...     ...  ...   ...         ...    ...
35       ShogoTaniguchiS.   22     182    0     0       45000  japan
36      YosukeKashiwagiY.   26     176    0     0   135000000  japan
37         YasuhitoEndoY.   34     178    0     0   113000000  japan
38        GakuShibasakiG.   22     175    0     0      900000  japan
39        NaoyukiFujitaN.   27     175    0     0      675000  japan
40          ManabuSaitoM.   24     169    0     0   135000000  japan
41         ShinjiKagawaS.   25     175    0     0  1530000000  japan
42      HiroshiKiyotakeH.   24     172    0     0   630000000  japan
43            ShuKurataS.   25     172    0     0      900000  japan
44         RyotaMoriokaR.   23     180    0     0      450000  japan
45          TakashiInuiT.   26     169    0     0   315000000  japan
46         TakashiUsamiT.   22     178    0     0   135000000  japan
47       GenkiHaraguchiG.   23     177    0     0   135000000  japan
48         KeisukeHondaK.   28     182    0     0  1530000000  japan
49           YukiMutoYuki   25     170    0     0      360000  japan
50          TakumaAsanoT.   19     173    0     0      225000  japan
51        ShinjiOkazakiS.   28     174    0     0   360000000  japan
52     YoichiroKakitaniY.   24     177    0     0   225000000  japan
53         MikeHavenaarM.   27     195    0     0   225000000  japan
54            YuyaOsakoY.   24     182    0     0   180000000  japan
55         ShinzoKorokiS.   27     175    0     0   113000000  japan
56       TakumiMinaminoT.   19     174    0     0   113000000  japan
57        KengoKawamataK.   24     184    0     0   108000000  japan
58          YoheiToyodaY.   29     185    0     0   108000000  japan
59          JunyaTanakaJ.   26     180    0     0      900000  japan
60           MuKanazakiM.   25     180    0     0      810000  japan
61          YuKobayashiY.   26     178    0     0      765000  japan
62         KensukeNagaiK.   25     178    0     0      720000  japan
63        YoshinoriMutoY.   21     178    0     0      135000  japan
64       YusukeMinagawaY.   22     186    0     0       45000  japan

[65 rows x 7 columns]

In [207]:
# japan_player.to_csv('./Data/japan_player_2015.csv',index=False,header=True)

In [208]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/jordanien/kader/verein/15737/saison_id/2014/plus/1')

In [209]:
# jordanien 15737 53
nameList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,531):
    if i % 10 == 1:
        name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
        nameList.append(name)
    if i % 10 == 2:
        age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
        ageList.append(age)    
    if i % 10 == 4:
        height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
        heightList.append(height)
    if i % 10 == 6:
        cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        capList.append(cap)
    if i % 10 == 7:
        goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        goalList.append(goal)
    if i % 10 == 9:
        salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('Â£','').replace('k','000').replace('m','000000').replace('-','0')
        salaryList.append(salary)

In [210]:
print(nameList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Amer', 'ShafiA.', 'ShafiGoalkeeper'], ['Moataz', 'YaseenM.', 'YaseenGoalkeeper'], ['Yazeed', 'Moien', 'Hasan', 'AbulailaY.', 'AbulailaGoalkeeper'], ['Mohammed', 'ShatnawyM.', 'ShatnawyGoalkeeper'], ['Ahmed', 'Abdel', 'SattarA.', 'Abdel', 'SattarGoalkeeper'], ['Amer', 'AbuhudieabA.', 'AbuhudieabDefender'], ['Mohannad', 'AlsoulimanM.', 'AlsoulimanDefender'], ['Ali', 'Omar', 'Mousa', 'KhwailehA.', 'KhwailehDefender'], ['Anas', 'Bani', 'YassenA.', 'Bani', 'YassenCentre', 'Back'], ['Mohammad', 'MuneerM.', 'MuneerCentre', 'Back'], ['Tareq', 'KhattabTareq', 'KhattabCentre', 'Back'], ['Mohammad', 'Al', 'BashaM.', 'Al', 'BashaCentre', 'Back'], ['Mohammad', 'MustafaM.', 'MustafaCentre', 'Back'], ['Ibrahim', 'Al', 'ZawarehI.', 'Al', 'ZawarehCentre', 'Back'], ['Mohamed', 'Al', 'DmeiriM.', 'Al', 'DmeiriLeft', 'Back'], ['Sharif', 'AdnanSharif', 'AdnanLeft', 'Back'], ['Suleman', 'Al', 'SalmanSuleman', 'Al', 'SalmanRight', 'Back'], ['Oday', 'ZahranO.', 'ZahranRight', 'Back'], ['Essam', 'MubaideenE.', 'MubaideenMidfielder'], ['Sameer', 'RajaS.', 'RajaMidfielder'], ['Mohammad', 'Al', 'DaoudM.', 'Al', 'DaoudMidfielder'], ['Munther', 'Abu', 'AmaraM.', 'Abu', 'AmaraMidfielder'], ['Ahmed', 'EliasA.', 'EliasMidfielder'], ['Ahmed', 'Saleh', 'SamirA.', 'Saleh', 'SamirMidfielder'], ["Ala'a", 'Al', 'ShaqranA.', 'Al', 'ShaqranDefensive', 'Midfield'], ["Baha'a", "AbdulrahmanBaha'a", 'AbdulrahmanDefensive', 'Midfield'], ['Saeed', 'MurjanS.', 'MurjanDefensive', 'Midfield'], ['Ehsan', 'HaddadEhsan', 'HaddadDefensive', 'Midfield'], ['Fadi', 'Mahmoud', 'AwadF.', 'AwadDefensive', 'Midfield'], ["Raja'i", 'AyedR.', 'AyedCentral', 'Midfield'], ['Ahmed', 'SariwehA.', 'SariwehCentral', 'Midfield'], ['Saleh', 'RatebS.', 'RatebCentral', 'Midfield'], ['Mohammad', 'Al', 'AwnehMohammad', 'Al', 'AwnehRight', 'Midfield'], ['Khalil', 'BaniateyahK.', 'BaniateyahRight', 'Midfield'], ['Ahmad', 'Abdelhalim', 'Al', 'ZugheirA.', 'Al', 'ZugheirLeft', 'Midfield'], ['Hassan', 'Abdel', 'FattahH.', 'Abdel', 'FattahAttacking', 'Midfield'], ['Adnan', 'AdousA.', 'AdousAttacking', 'Midfield'], ['Yaseen', 'Al', 'BakhitY.', 'Al', 'BakhitAttacking', 'Midfield'], ['Mahmoud', 'Al', 'MardiM.', 'Al', 'MardiAttacking', 'Midfield'], ['Saleh', 'Fayiz', 'Saleh', 'Al', 'JawharyS.', 'Al', 'JawharyForward'], ['Sharif', 'Al', 'NawaishehS.', 'Al', 'NawaishehForward'], ['Rakan', 'Al', 'KhalidiR.', 'Al', 'KhalidiForward'], ['Ahmed', 'Al', 'RiyahiA.', 'Al', 'RiyahiForward'], ["Ra'ed", 'Al', 'NawateerR.', 'Al', 'NawateerLeft', 'Winger'], ['Yusuf', 'Al', 'NaberY.', 'Al', 'NaberLeft', 'Winger'], ['Yusuf', 'Al', 'RawashdehY.', 'Al', 'RawashdehLeft', 'Winger'], ['Abdallah', 'DeebA.', 'DeebRight', 'Winger'], ['Thaer', 'BawabT.', 'BawabCentre', 'Forward'], ['Odai', 'Al', 'SaifyO.', 'Al', 'SaifyCentre', 'Forward'], ['Hamza', 'Al', 'DardourH.', 'Al', 'DardourCentre', 'Forward'], ["Baha'", "FaisalBaha'", 'FaisalCentre', 'Forward'], ['Mahmoud', 'Salim', "Za'taraM.", "Za'taraCentre", 'Forward'], ['Ahmad', 'HayelA.', 'HayelCentre', 'Forward']]
['32', '31', '21', '28', '29', '20', '20', '25', '25', '32', '22', '26', '24', '25', '26', '30', '27', '23', '28', '20', '21', '22', '23', '23', '27', '27', '24', '20', '21', '20', '20', '19', '26', '23', '27', '31', '26', '25', '20', '25', '26', '25', '19', '26', '24', '24', '27', '29', '28', '23', '19', '23', '30']
['190-', '188-', '-', '-', '190-', '179-', '189-', '-', '188-', '177-', '-', '187-', '180-', '176-', '184-', '181-', '-', '172-', '178-', '-', '-', '-', '-', '170-', '175-', '178-', '183-', '-', '167-', '177-', '174-', '170-', '170-', '175-', '-', '177-', '169-', '179-', '179-', '173-', '-', '-', '-', '172-', '-', '171-', '184-', '180-', '180-', '172-', '175-', '185-', '180-']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
['90000\xa0\xa0', '68000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '360000\xa0\xa0', '68000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '90000\xa0\xa0', '0\xa0', '113000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '113000\xa0\xa0', '90000\xa0\xa0', '68000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '90000\xa0\xa0', '225000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '0\xa0', '90000\xa0\xa0', '0\xa0', '0\xa0', '180000\xa0\xa0', '540000\xa0\xa0', '360000\xa0\xa0', '68000\xa0\xa0', '0\xa0', '0\xa0', '0\xa0']

In [211]:
namelist = []

for i in range(0,53):
    namelist.append(nameList[i][0]+nameList[i][1])

In [212]:
# dataframeì¼ë¡ ë³í
jordan_player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
jordan_player.head()

  age height cap goal   salary
0  32   190-   0    0  90000Â Â
1  31   188-   0    0  68000Â Â
2  21      -   0    0       0Â
3  28      -   0    0       0Â
4  29   190-   0    0       0Â

In [213]:
jordan_player['height'] = jordan_player['height'].str[0:3]

In [214]:
jordan_player.loc[jordan_player['height']=='-','height'] = 0

In [215]:
jordan_player = jordan_player.astype(int)

In [216]:
jordan_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 5 columns):
age       53 non-null int64
height    53 non-null int64
cap       53 non-null int64
goal      53 non-null int64
salary    53 non-null int64
dtypes: int64(5)
memory usage: 2.1 KB

In [217]:
jordan_player['height'].mean()

127.81132075471699

In [218]:
jordan_player['height'].median()

175.0

In [219]:
# í¤ ì ë³´ê° ìë ì ìë¤ì í¤ë¥¼ íê· ê°ì¼ë¡ ëì²´
jordan_player.loc[jordan_player['height']==0,'height'] =int(jordan_player['height'][jordan_player['height']!=0].median())

In [220]:
jordan_player['salary'].mean()

49301.88679245283

In [221]:
jordan_player['salary'].median()

0.0

In [222]:
# salary ì ë³´ê° ìë ì ìë¤ì salaryë¥¼ ì¤ìê°ì¼ë¡ ëì²´
jordan_player.loc[jordan_player['salary']==0,'salary'] =int(jordan_player['salary'][jordan_player['salary']!=0].mean())

In [223]:
jordan_player['name'] = namelist
jordan_player['nation'] = 'jordan'

In [224]:
colnames = ['name','age','height','cap','goal','salary','nation']
jordan_player[colnames]

                       name  age  height  cap  goal  salary  nation
0               AmerShafiA.   32     190    0     0   90000  jordan
1            MoatazYaseenM.   31     188    0     0   68000  jordan
2               YazeedMoien   21     178    0     0  163312  jordan
3        MohammedShatnawyM.   28     178    0     0  163312  jordan
4                AhmedAbdel   29     190    0     0  163312  jordan
5          AmerAbuhudieabA.   20     179    0     0  163312  jordan
6      MohannadAlsoulimanM.   20     189    0     0  163312  jordan
7                   AliOmar   25     178    0     0  163312  jordan
8                  AnasBani   25     188    0     0  360000  jordan
9          MohammadMuneerM.   32     177    0     0   68000  jordan
10        TareqKhattabTareq   22     178    0     0  163312  jordan
11               MohammadAl   26     187    0     0  163312  jordan
12        MohammadMustafaM.   24     180    0     0  163312  jordan
13                IbrahimAl   25     176    0     0  163312  jordan
14                MohamedAl   26     184    0     0   90000  jordan
15        SharifAdnanSharif   30     181    0     0  163312  jordan
16                SulemanAl   27     178    0     0  113000  jordan
17             OdayZahranO.   23     172    0     0  163312  jordan
18         EssamMubaideenE.   28     178    0     0  163312  jordan
19             SameerRajaS.   20     178    0     0  163312  jordan
20               MohammadAl   21     178    0     0  163312  jordan
21               MuntherAbu   22     178    0     0  163312  jordan
22             AhmedEliasA.   23     178    0     0  163312  jordan
23               AhmedSaleh   23     170    0     0  163312  jordan
24                  Ala'aAl   27     175    0     0  113000  jordan
25  Baha'aAbdulrahmanBaha'a   27     178    0     0   90000  jordan
26            SaeedMurjanS.   24     183    0     0   68000  jordan
27         EhsanHaddadEhsan   20     178    0     0  163312  jordan
28              FadiMahmoud   21     167    0     0  163312  jordan
29             Raja'iAyedR.   20     177    0     0  163312  jordan
30           AhmedSariwehA.   20     174    0     0  163312  jordan
31             SalehRatebS.   19     170    0     0  163312  jordan
32               MohammadAl   26     170    0     0  163312  jordan
33       KhalilBaniateyahK.   23     175    0     0  163312  jordan
34          AhmadAbdelhalim   27     178    0     0   90000  jordan
35              HassanAbdel   31     177    0     0  225000  jordan
36             AdnanAdousA.   26     169    0     0  163312  jordan
37                 YaseenAl   25     179    0     0  163312  jordan
38                MahmoudAl   20     179    0     0  163312  jordan
39               SalehFayiz   25     173    0     0  163312  jordan
40                 SharifAl   26     178    0     0  163312  jordan
41                  RakanAl   25     178    0     0  163312  jordan
42                  AhmedAl   19     178    0     0  163312  jordan
43                  Ra'edAl   26     172    0     0   90000  jordan
44                  YusufAl   24     178    0     0  163312  jordan
45                  YusufAl   24     171    0     0  163312  jordan
46           AbdallahDeebA.   27     184    0     0  180000  jordan
47             ThaerBawabT.   29     180    0     0  540000  jordan
48                   OdaiAl   28     180    0     0  360000  jordan
49                  HamzaAl   23     172    0     0   68000  jordan
50         Baha'FaisalBaha'   19     175    0     0  163312  jordan
51             MahmoudSalim   23     185    0     0  163312  jordan
52             AhmadHayelA.   30     180    0     0  163312  jordan

In [225]:
# jordan_player.to_csv('./Data/jordan_player_2015.csv',index=False,header=True)

In [226]:
engine = create_engine("mysql+pymysql://root:" + "1111" + 
                       "@127.0.0.1:3306/asiancup?charset=utf8",
                      encoding = 'utf-8')
conn = engine.connect()

NameError: name 'create_engine' is not defined

In [ ]:
total_players.to_sql(name = 'players', con = engine, if_exists = 'append', index = False)

In [ ]:
conn.close()