In [8]:
from selenium import webdriver
import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

In [9]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/south-korea/kader/verein/3589/saison_id/2014/plus/1')

WebDriverException: Message: 'chromedriver.exe' executable may have wrong permissions. Please see https://sites.google.com/a/chromium.org/chromedriver/home

In [59]:
# 네임 추출 테스트
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
backnum = soup.select('#yw1 > table > tbody > tr > td')[0].text
name = soup.select('#yw1 > table > tbody > tr > td ')[1].text.strip()
age = soup.select('#yw1 > table > tbody > tr > td')[2].text.split()[3].replace('(','').replace(')','')
height = soup.select('#yw1 > table > tbody > tr > td')[4].text.replace(',','').replace('m','').replace(' ','-')
salary = soup.select('#yw1 > table > tbody > tr > td ')[9].text.strip()
print(backnum)
print(name)
print(age)
print(height)
print(salary)

1
Sung-ryong JungS. JungGoalkeeper
29
191-
£1.35m

In [ ]:
# 부상자 때문에 엔트리가 한명 적어진 인도는 따로 Scarpy
nameList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,540):
    if i % 10 == 1:
        name = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()
        nameList.append(name)
    if i % 10 == 2:
        age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
        ageList.append(age)    
    if i % 10 == 4:
        height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
        heightList.append(height)
    if i % 10 == 9:
        salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('£','').replace('k','').replace('m','000').replace('-','0')
        salaryList.append(salary)

In [44]:
print(backnumList)
print(nameList)
print(ageList)
print(heightList)
print(salaryList)

[['1'], ['21'], ['23'], ['-'], ['23'], ['1'], ['23'], ['5'], ['19'], ['-'], ['-'], ['4'], ['15'], ['6'], ['20'], ['-'], ['2'], ['6'], ['-'], ['-'], ['-'], ['-'], ['22'], ['2'], ['-'], ['16'], ['14'], ['15'], ['-'], ['14'], ['-'], ['15'], ['-'], ['8'], ['13'], ['17'], ['-'], ['10'], ['-'], ['-'], ['7'], ['11'], ['9'], ['19'], ['12'], ['22'], ['12'], ['-'], ['9'], ['-'], ['-'], ['10'], ['9'], ['18']]
[['Sung-ryong', 'JungS.', 'JungGoalkeeper'], ['Seung-gyu', 'KimS.', 'KimGoalkeeper'], ['Jin-hyeon', 'KimJ.', 'KimGoalkeeper'], ['Beom-yeong', 'LeeB.', 'LeeGoalkeeper'], ['Hyeon-uh', 'JoH.', 'JoGoalkeeper'], ['Sun-tae', 'KwonS.', 'KwonGoalkeeper'], ['Dong-jun', 'KimD.', 'KimGoalkeeper'], ['Tae-heui', 'KwakT.', 'KwakCentre-Back'], ['Young-gwon', 'KimY.', 'KimCentre-Back'], ['Jeong-ho', 'HongJ.', 'HongCentre-Back'], ['Kee-hee', 'KimK.', 'KimCentre-Back'], ['Ju-young', 'KimJ.', 'KimCentre-Back'], ['Yeong-seon', 'YunY.', 'YunCentre-Back'], ['Bo-kyeong', 'ChoiB.', 'ChoiCentre-Back'], ['Hyeon-su', 'JangH.', 'JangCentre-Back'], ['Chae-min', 'ImC.', 'ImCentre-Back'], ['Chang-woo', 'RimC.', 'RimCentre-Back'], ['Ju-ho', 'ParkJ.', 'ParkLeft-Back'], ['Jin-su', 'KimJ.', 'KimLeft-Back'], ['Cheol', 'HongC.', 'HongLeft-Back'], ['Seok-yeong', 'YunS.', 'YunLeft-Back'], ['Yong', 'LeeYong', 'LeeRight-Back'], ['Du-ri', 'ChaDu-ri', 'ChaRight-Back'], ['Chang-su', 'KimC.', 'KimRight-Back'], ['Dong-ho', 'JeongD.', 'JeongRight-Back'], ['Sung-yong', 'KiS.', 'KiDefensive', 'Midfield'], ['Guk-yeong', 'HanG.', 'HanDefensive', 'Midfield'], ['Myeong-ju', 'LeeM.', 'LeeDefensive', 'Midfield'], ['Jong-uh', 'ParkJ.', 'ParkDefensive', 'Midfield'], ['Woo-young', 'JungW.', 'JungDefensive', 'Midfield'], ['Eun-seon', 'KimE.', 'KimDefensive', 'Midfield'], ['Se-jong', 'JuS.', 'JuDefensive', 'Midfield'], ['Myeong-jin', 'KoM.', 'KoCentral', 'Midfield'], ['Min-uh', 'KimM.', 'KimLeft', 'Midfield'], ['Ja-cheol', 'KooJ.', 'KooAttacking', 'Midfield'], ['Chung-yong', 'LeeC.', 'LeeAttacking', 'Midfield'], ['Bo-kyung', 'KimB.', 'KimAttacking', 'Midfield'], ['Tae-heui', 'NamT.', 'NamAttacking', 'Midfield'], ['Seung-dae', 'KimS.', 'KimAttacking', 'Midfield'], ['Jae-sung', 'LeeJ.', 'LeeAttacking', 'Midfield'], ['Heung-min', 'SonH.', 'SonLeft', 'Winger'], ['Keun-ho', 'LeeK.', 'LeeLeft', 'Winger'], ['Yeong-cheol', 'JoY.', 'JoLeft', 'Winger'], ['Ki-hun', 'YeomK.', 'YeomLeft', 'Winger'], ['Kyo-won', 'HanK.', 'HanRight', 'Winger'], ['Chang-hun', 'KwonC.', 'KwonRight', 'Winger'], ['Ju-yong', 'LeeJ.', 'LeeRight', 'Winger'], ['Dong-won', 'JiD.', 'JiCentre-Forward'], ['Hyun-jun', 'SukH.', 'SukCentre-Forward'], ['Dong-guk', 'LeeD.', 'LeeCentre-Forward'], ['Ju-yeong', 'ParkJ.', 'ParkCentre-Forward'], ['Ui-jo', 'HwangU.', 'HwangCentre-Forward'], ['Yong-jae', 'LeeY.', 'LeeCentre-Forward'], ['Jeong-hyeob', 'LeeJ.', 'LeeCentre-Forward']]
['29', '23', '26', '25', '22', '29', '19', '32', '24', '24', '24', '25', '25', '26', '22', '23', '22', '27', '22', '23', '24', '27', '33', '28', '24', '25', '24', '24', '25', '24', '26', '23', '26', '24', '25', '25', '24', '22', '23', '21', '21', '29', '25', '31', '24', '20', '21', '23', '23', '35', '28', '21', '23', '23']
['191-', '187-', '192-', '199-', '189-', '184-', '188-', '188-', '184-', '186-', '187-', '184-', '185-', '184-', '187-', '189-', '183-', '176-', '177-', '176-', '183-', '180-', 'N/A', '179-', '174-', '186-', '183-', '176-', '180-', '186-', '182-', '174-', '185-', '174-', '182-', '180-', '178-', '171-', '175-', '180-', '184-', '176-', '181-', '182-', '182-', '174-', '180-', '187-', '191-', '187-', '182-', '184-', '183-', '186-']
['135000\xa0\xa0', '900\xa0\xa0', '900\xa0\xa0', '473\xa0\xa0', '135\xa0\xa0', '90\xa0\xa0', '45\xa0\xa0', '135000\xa0\xa0', '135000\xa0\xa0', '900\xa0\xa0', '675\xa0\xa0', '675\xa0\xa0', '675\xa0\xa0', '540\xa0\xa0', '495\xa0\xa0', '225\xa0\xa0', '113\xa0\xa0', '135000\xa0\xa0', '900\xa0\xa0', '855\xa0\xa0', '450\xa0\xa0', '108000\xa0\xa0', '743\xa0\xa0', '675\xa0\xa0', '90\xa0\xa0', '585000\xa0\xa0', '900\xa0\xa0', '900\xa0\xa0', '810\xa0\xa0', '540\xa0\xa0', '360\xa0\xa0', '68\xa0\xa0', '675\xa0\xa0', '900\xa0\xa0', '450000\xa0\xa0', '360000\xa0\xa0', '180000\xa0\xa0', '900\xa0\xa0', '248\xa0\xa0', '45\xa0\xa0', '1260000\xa0\xa0', '135000\xa0\xa0', '810\xa0\xa0', '675\xa0\xa0', '675\xa0\xa0', '135\xa0\xa0', '45\xa0\xa0', '180000\xa0\xa0', '180000\xa0\xa0', '900\xa0\xa0', '900\xa0\xa0', '248\xa0\xa0', '225\xa0\xa0', '203\xa0\xa0']

In [45]:
# 불필요한 이름 정제
namelist = []
namelist2 = []
for i in range(0,54):
    namelist.append(nameList[i][:2])
    namelist2.append(namelist[i][0]+namelist[i][1])

In [58]:
namelist2

[['Sung-ryong', 'JungS.'],
 ['Seung-gyu', 'KimS.'],
 ['Jin-hyeon', 'KimJ.'],
 ['Beom-yeong', 'LeeB.'],
 ['Hyeon-uh', 'JoH.'],
 ['Sun-tae', 'KwonS.'],
 ['Dong-jun', 'KimD.'],
 ['Tae-heui', 'KwakT.'],
 ['Young-gwon', 'KimY.'],
 ['Jeong-ho', 'HongJ.'],
 ['Kee-hee', 'KimK.'],
 ['Ju-young', 'KimJ.'],
 ['Yeong-seon', 'YunY.'],
 ['Bo-kyeong', 'ChoiB.'],
 ['Hyeon-su', 'JangH.'],
 ['Chae-min', 'ImC.'],
 ['Chang-woo', 'RimC.'],
 ['Ju-ho', 'ParkJ.'],
 ['Jin-su', 'KimJ.'],
 ['Cheol', 'HongC.'],
 ['Seok-yeong', 'YunS.'],
 ['Yong', 'LeeYong'],
 ['Du-ri', 'ChaDu-ri'],
 ['Chang-su', 'KimC.'],
 ['Dong-ho', 'JeongD.'],
 ['Sung-yong', 'KiS.'],
 ['Guk-yeong', 'HanG.'],
 ['Myeong-ju', 'LeeM.'],
 ['Jong-uh', 'ParkJ.'],
 ['Woo-young', 'JungW.'],
 ['Eun-seon', 'KimE.'],
 ['Se-jong', 'JuS.'],
 ['Myeong-jin', 'KoM.'],
 ['Min-uh', 'KimM.'],
 ['Ja-cheol', 'KooJ.'],
 ['Chung-yong', 'LeeC.'],
 ['Bo-kyung', 'KimB.'],
 ['Tae-heui', 'NamT.'],
 ['Seung-dae', 'KimS.'],
 ['Jae-sung', 'LeeJ.'],
 ['Heung-min', 'SonH.'],
 ['Keun-ho', 'LeeK.'],
 ['Yeong-cheol', 'JoY.'],
 ['Ki-hun', 'YeomK.'],
 ['Kyo-won', 'HanK.'],
 ['Chang-hun', 'KwonC.'],
 ['Ju-yong', 'LeeJ.'],
 ['Dong-won', 'JiD.'],
 ['Hyun-jun', 'SukH.'],
 ['Dong-guk', 'LeeD.'],
 ['Ju-yeong', 'ParkJ.'],
 ['Ui-jo', 'HwangU.'],
 ['Yong-jae', 'LeeY.'],
 ['Jeong-hyeob', 'LeeJ.']]

In [47]:
korea_players = pd.DataFrame(backnumList)
korea_players = korea_players.rename(columns = {0:'backnum'})
korea_players['age'] = ageList
korea_players['height'] = heightList
korea_players['salary'] = salaryList
# korea_players = korea_players.astype(int)

In [54]:
korea_players['name'] = namelist2

In [56]:
korea_players = korea_players[korea_players['backnum']!='-']

In [57]:
korea_players

   backnum age height     salary              name
0        1  29   191-   135000    Sung-ryongJungS.
1       21  23   187-      900      Seung-gyuKimS.
2       23  26   192-      900      Jin-hyeonKimJ.
4       23  22   189-      135        Hyeon-uhJoH.
5        1  29   184-       90       Sun-taeKwonS.
6       23  19   188-       45       Dong-junKimD.
7        5  32   188-   135000      Tae-heuiKwakT.
8       19  24   184-   135000     Young-gwonKimY.
11       4  25   184-      675       Ju-youngKimJ.
12      15  25   185-      675     Yeong-seonYunY.
13       6  26   184-      540     Bo-kyeongChoiB.
14      20  22   187-      495      Hyeon-suJangH.
16       2  22   183-      113      Chang-wooRimC.
17       6  27   176-   135000         Ju-hoParkJ.
22      22  33    N/A      743       Du-riChaDu-ri
23       2  28   179-      675       Chang-suKimC.
25      16  25   186-   585000       Sung-yongKiS.
26      14  24   183-      900      Guk-yeongHanG.
27      15  24   176-      900      Myeong-juLeeM.
29      14  24   186-      540     Woo-youngJungW.
31      15  23   174-       68         Se-jongJuS.
33       8  24   174-      900         Min-uhKimM.
34      13  25   182-   450000       Ja-cheolKooJ.
35      17  25   180-   360000     Chung-yongLeeC.
37      10  22   171-      900       Tae-heuiNamT.
40       7  21   184-  1260000      Heung-minSonH.
41      11  29   176-   135000        Keun-hoLeeK.
42       9  25   181-      810     Yeong-cheolJoY.
43      19  31   182-      675        Ki-hunYeomK.
44      12  24   182-      675        Kyo-wonHanK.
45      22  20   174-      135     Chang-hunKwonC.
46      12  21   180-       45        Ju-yongLeeJ.
48       9  23   191-   180000       Hyun-junSukH.
51      10  21   184-      248        Ui-joHwangU.
52       9  23   183-      225       Yong-jaeLeeY.
53      18  23   186-      203    Jeong-hyeobLeeJ.

In [10]:
korea_players['nation'] = 'south-korea'

In [11]:
korea_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
height    21 non-null int64
age       21 non-null int64
cap       21 non-null int64
goal      21 non-null int64
salary    21 non-null int64
name      21 non-null object
nation    21 non-null object
dtypes: int64(5), object(2)
memory usage: 1.2+ KB

In [12]:
colnames = ['name','age','height','cap','goal','salary','nation']
korea_players[colnames]

                 name  age  height  cap  goal   salary       nation
0        Hyeon-uhJoH.   27     189   11     0   135000  south-korea
1      Seung-gyuKimS.   28     187   36     0   108000  south-korea
2      Jin-hyeonKimJ.   31     192   16     0      900  south-korea
3        Min-jaeKimM.   22     190   11     0   108000  south-korea
4     Kyung-wonKwonK.   27     188    6     1      900  south-korea
5   Seung-hyeonJungS.   24     188    8     0      810  south-korea
6     Young-gwonKimY.   28     184   62     3      765  south-korea
7         Jin-suKimJ.   26     177   34     0   158000  south-korea
8         CheolHongC.   28     176   21     0      675  south-korea
9         YongLeeYong   32     180   37     0      450  south-korea
10      Mun-hwanKimM.   23     173    4     0      293  south-korea
11    Woo-youngJungW.   29     186   33     1      720  south-korea
12        Se-jongJuS.   28     174   15     1      675  south-korea
13     In-beomHwangI.   22     177   12     1      225  south-korea
14      Jae-sungLeeJ.   26     180   42     7   180000  south-korea
15    Chung-yongLeeC.   30     180   81     8   135000  south-korea
16     Heung-minSonH.   26     184   72    23  4500000  south-korea
17     Seung-wooLeeS.   21     173    6     0   108000  south-korea
18    Hee-chanHwangH.   23     177   24     2   450000  south-korea
19       Ui-joHwangU.   26     184   17     4   149000  south-korea
20       Dong-wonJiD.   27     187   55    11      900  south-korea

In [13]:
korea_players.to_csv('./korea_players.csv',index=False,header=True)

In [14]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.transfermarkt.co.uk/indien/kader/verein/13957/saison_id/2018/plus/1')

In [15]:
# 부상자 때문에 엔트리가 한명 적어진 인도는 따로 Scarpy
nameList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,220):
    if i % 10 == 1:
        name = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()
        nameList.append(name)
    if i % 10 == 2:
        age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
        ageList.append(age)    
    if i % 10 == 4:
        height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
        heightList.append(height)
    if i % 10 == 6:
        cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        capList.append(cap)
    if i % 10 == 7:
        goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
        goalList.append(goal)
    if i % 10 == 9:
        salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('£','').replace('k','').replace('m','000').replace('-','0')
        salaryList.append(salary)

In [16]:
print(nameList)
print(ageList)
print(heightList)
print(capList)
print(goalList)
print(salaryList)

[['Gurpreet', 'Singh', 'SandhuG.', 'SandhuGoalkeeper'], ['Amrinder', 'SinghA.', 'SinghGoalkeeper'], ['Vishal', 'KaithV.', 'KaithGoalkeeper'], ['Sandesh', 'JhinganS.', 'JhinganCentre-Back'], ['Salam', 'SinghS.', 'SinghCentre-Back'], ['Subashish', 'BoseS.', 'BoseCentre-Back'], ['Narayan', 'DasN.', 'DasLeft-Back'], ['Pritam', 'KotalP.', 'KotalRight-Back'], ['Sarthak', 'GoluiS.', 'GoluiRight-Back'], ['Pronay', 'HalderP.', 'HalderDefensive', 'Midfield'], ['Rowllin', 'BorgesR.', 'BorgesDefensive', 'Midfield'], ['Germanpreet', 'SinghG.', 'SinghDefensive', 'Midfield'], ['Vinit', 'RaiVinit', 'RaiCentral', 'Midfield'], ['Anirudh', 'ThapaA.', 'ThapaCentral', 'Midfield'], ['Jackichand', 'SinghJ.', 'SinghLeft', 'Winger'], ['Holicharan', 'NarzaryH.', 'NarzaryLeft', 'Winger'], ['Udanta', 'SinghU.', 'SinghLeft', 'Winger'], ['Ashique', 'KuruniyanA.', 'KuruniyanLeft', 'Winger'], ['Sunil', 'ChhetriS.', 'ChhetriCentre-Forward'], ['Jeje', 'LalpekhluaJ.', 'LalpekhluaCentre-Forward'], ['Sumeet', 'PassiS.', 'PassiCentre-Forward'], ['Balwant', 'SinghB.', 'SinghCentre-Forward']]
['27', '25', '22', '25', '23', '23', '25', '25', '21', '25', '26', '22', '21', '21', '26', '24', '22', '21', '34', '28', '24', '32']
['194-', '186-', '188-', '188-', '188-', '186-', '175-', '179-', '-', '180-', '183-', '175-', '185-', '169-', '170-', '174-', '-', '-', '170-', '176-', '179-', '180-']
['17', '2', '0', '22', '4', '3', '15', '18', '1', '9', '16', '4', '1', '6', '9', '16', '11', '3', '92', '42', '4', '8']
['0', '0', '0', '2', '0', '0', '1', '0', '0', '1', '1', '0', '0', '0', '1', '1', '1', '0', '52', '17', '2', '3']
['90\xa0\xa0', '68\xa0\xa0', '23\xa0\xa0', '113\xa0\xa0', '23\xa0\xa0', '0\xa0', '90\xa0\xa0', '90\xa0\xa0', '0\xa0', '90\xa0\xa0', '90\xa0\xa0', '0\xa0', '68\xa0\xa0', '23\xa0\xa0', '113\xa0\xa0', '90\xa0\xa0', '68\xa0\xa0', '0\xa0', '248\xa0\xa0', '225\xa0\xa0', '90\xa0\xa0', '0\xa0']

In [29]:
namelist = []
namelist2 = []
for i in range(0,22):
    namelist.append(nameList[i][:2])
    namelist2.append(namelist[i][0]+namelist[i][1])

In [18]:
india_players = pd.DataFrame(heightList)
india_players = india_players.rename(columns = {0:'height'})
india_players['age'] = ageList
india_players['cap'] = capList
india_players['goal'] = goalList
india_players['salary'] = salaryList

In [19]:
india_players['height'] = india_players['height'].str[0:3]

In [20]:
india_players.loc[india_players['height']=='-','height'] = 0

In [21]:
india_players = india_players.astype(int)

In [22]:
india_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
height    22 non-null int64
age       22 non-null int64
cap       22 non-null int64
goal      22 non-null int64
salary    22 non-null int64
dtypes: int64(5)
memory usage: 960.0 bytes

In [23]:
# 키 정보가 없는 선수들의 키를 평균값으로 대체
india_players.loc[india_players['height']==0,'height'] =int(india_players['height'][india_players['height']!=0].mean())

In [30]:
india_players['name'] = namelist2

In [31]:
# salary 정보가 없는 선수들의 연봉을 평균값으로 대체
india_players.loc[india_players['salary']==0,'salary'] =int(india_players['salary'][india_players['salary']!=0].mean())

In [32]:
india_players['nation'] = 'india'

In [33]:
colnames = ['name','age','height','cap','goal','salary','nation']
india_players[colnames]

                   name  age  height  cap  goal  salary nation
0         GurpreetSingh   27     194   17     0      90  india
1       AmrinderSinghA.   25     186    2     0      68  india
2         VishalKaithV.   22     188    0     0      23  india
3      SandeshJhinganS.   25     188   22     2     113  india
4          SalamSinghS.   23     188    4     0      23  india
5       SubashishBoseS.   23     186    3     0      94  india
6          NarayanDasN.   25     175   15     1      90  india
7         PritamKotalP.   25     179   18     0      90  india
8        SarthakGoluiS.   21     180    1     0      94  india
9        PronayHalderP.   25     180    9     1      90  india
10      RowllinBorgesR.   26     183   16     1      90  india
11   GermanpreetSinghG.   22     175    4     0      94  india
12        VinitRaiVinit   21     185    1     0      68  india
13       AnirudhThapaA.   21     169    6     0      23  india
14    JackichandSinghJ.   26     170    9     1     113  india
15  HolicharanNarzaryH.   24     174   16     1      90  india
16        UdantaSinghU.   22     180   11     1      68  india
17   AshiqueKuruniyanA.   21     180    3     0      94  india
18       SunilChhetriS.   34     170   92    52     248  india
19     JejeLalpekhluaJ.   28     176   42    17     225  india
20        SumeetPassiS.   24     179    4     2      90  india
21       BalwantSinghB.   32     180    8     3      94  india

In [34]:
india_players.to_csv('./india_players.csv',index=False,header=True)

In [35]:
# driver = webdriver.Chrome('./chromedriver')

nation = ['vereinigte-arabische-emirate', 'thailand', 'bahrain', 'jordanien', 'australien', 'palastina',
         'syrien', 'china', 'kirgisistan', 'philippinen', 'iran', 'irak', 'vietnam', 'jemen', 'katar',
         'saudi-arabien', 'libanon', 'nordkorea', 'japan', 'usbekistan', 'oman', 'turkmenistan']
nationid = ['5147', '5676', '7214', '15737', '3433', '17758','13674', '5598', '3956', '15234', '3582', 
            '3560', '8778', '15922', '14162', '3807', '3586', '15457', '3435', '3563', '14165', '14248']
nameList = []
namelist = []
nationList = []
ageList = []
heightList = []
capList = []
goalList = []
salaryList = []

for i in range(len(nation)):
    print(nation[i], nationid[i])
    url_base = 'https://www.transfermarkt.co.uk/'
    url_sub = nation[i] + '/kader/verein/' + nationid[i] + '/saison_id/2018/plus/1'
    driver.get(url_base + url_sub)
    html = driver.page_source
    soup = BeautifulSoup(html,'html.parser')
    for j in range(0,23):
        nationList.append(nation[i])
    for i in range(0,231):
        if i % 10 == 1:
            name = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-',' ').split()
            nameList.append(name)
        if i % 10 == 2:
            age = soup.select('#yw1 > table > tbody > tr > td')[i].text.split()[3].replace('(','').replace(')','')
            ageList.append(age)    
        if i % 10 == 4:
            height = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace(',','').replace('m','').replace(' ','-')
            heightList.append(height)
        if i % 10 == 6:
            cap = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
            capList.append(cap)
        if i % 10 == 7:
            goal = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('-','0')
            goalList.append(goal)
        if i % 10 == 9:
            salary = soup.select('#yw1 > table > tbody > tr > td')[i].text.replace('.','').replace('£','').replace('k','').replace('m','000').replace('-','0')
            salaryList.append(salary)

vereinigte-arabische-emirate 5147
thailand 5676
bahrain 7214
jordanien 15737
australien 3433
palastina 17758
syrien 13674
china 5598
kirgisistan 3956
philippinen 15234
iran 3582
irak 3560
vietnam 8778
jemen 15922
katar 14162
saudi-arabien 3807
libanon 3586
nordkorea 15457
japan 3435
usbekistan 3563
oman 14165
turkmenistan 14248

In [36]:
nameList[66] = ['Yusuf','Yusuf']

In [37]:
namelist = []
namelist2 = []
for i in range(0,506):
    namelist.append(nameList[i][:2])
    namelist2.append(namelist[i][0]+namelist[i][1])

In [38]:
# dataframe으로 변환
player = pd.DataFrame(
        {
            'age':ageList,
            'height':heightList,
            'cap':capList,
            'goal':goalList,
            'salary':salaryList,
        }
)
player.head()

  age height cap goal salary
0  31   184-  26    0  270
1  29   176-  22    0  270
2  22   185-   0    0  225
3  30   181-  24    0  495
4  29   183-  41    0  360

In [39]:
# 키가 1.9m로 되어있는 한선수 변경
player.loc[player['height']=='19-','height'] = '190'

In [40]:
player['height'] = player['height'].str[0:3]

In [41]:
player.loc[player['height']=='-','height'] = 0

In [42]:
player = player.astype(int)

In [43]:
player['name'] = namelist2
player['nation'] = nationList

In [44]:
player.loc[player["nation"] == 'vereinigte-arabische-emirate','nation'] = "U.A.E"
player.loc[player["nation"] == 'jordanien','nation'] = "jordan"
player.loc[player["nation"] == 'australien','nation'] = "australia"
player.loc[player["nation"] == 'palastina','nation'] = "palastine"
player.loc[player["nation"] == 'syrien','nation'] = "syria"
player.loc[player["nation"] == 'kirgisistan','nation'] = "kyrgyzstan"
player.loc[player["nation"] == 'philippinen','nation'] = "philippines"
player.loc[player["nation"] == 'irak','nation'] = "iraq"
player.loc[player["nation"] == 'katar','nation'] = "Qatar"
player.loc[player["nation"] == 'saudi-arabien','nation'] = "saudi-arabia"
player.loc[player["nation"] == 'libanon','nation'] = "lebanon"
player.loc[player["nation"] == 'nordkorea','nation'] = "north-korea"
player.loc[player["nation"] == 'usbekistan','nation'] = "uzbekistan"

In [45]:
colnames = ['name','age','height','cap','goal','salary','nation']
player[colnames]

                        name  age  height  cap  goal  salary        nation
0               AliKhaseifA.   31     184   26     0     270         U.A.E
1           KhalidEisaKhalid   29     176   22     0     270         U.A.E
2                  MohamedAl   22     185    0     0     225         U.A.E
3             FaresJumaFares   30     181   24     0     495         U.A.E
4        MohamedAhmadMohamed   29     183   41     0     360         U.A.E
5               WalidAbbasW.   33     182   76     6     315         U.A.E
6           KhalifaMubarakK.   25     183   10     0     270         U.A.E
7          IsmailAhmedIsmail   35     192   19     1     158         U.A.E
8         KhalifaAlhammadiK.   20     178    1     0       0         U.A.E
9            AlhusainSalehA.   27     171    5     0     180         U.A.E
10           BandarMohamedB.   28     169    9     0      68         U.A.E
11               AliSalminA.   24     169   17     1     338         U.A.E
12             MajedHassanM.   26     180   15     0     113         U.A.E
13            MohamedKhalfan   26       0    0     0       0         U.A.E
14         AmerAbdulrahmanA.   29     168   40     2     405         U.A.E
15      MohamedAbdulrahmanM.   30     173   21     0     270         U.A.E
16           KhamisEsmaeelK.   29     184   65     1     248         U.A.E
17            IsmaeilMatarI.   35     168  120    34     270         U.A.E
18                  IsmailAl   30     166   62     6     225         U.A.E
19              SaifRashidS.   24     169    4     0      23         U.A.E
20          KhalfanMubarakK.   23     165   21     1  162000         U.A.E
21             AliMabkhoutA.   28     177   73    50  252000         U.A.E
22             AhmedKhalilA.   27     180  102    47  135000         U.A.E
23      SiwarakTedsungnoenS.   34     183   13     0     180      thailand
24         ChatchaiBudpromC.   32     184    7     0     135      thailand
25            SaranonAnuinS.   24     186    0     0      45      thailand
26          PansaHemviboonP.   28     190   15     4     270      thailand
27     ChalermpongKerdkaewC.   32     181   16     0     225      thailand
28          AdisornPromrakA.   25     175   25     0     225      thailand
29         SuphanThongsongS.   24     182    2     0      90      thailand
..                       ...  ...     ...  ...   ...     ...           ...
476                 MohsinAl   30     173   38     6      90          oman
477             AhmedMubarak   33     179   96    10      90          oman
478                 YaseenAl   25     168   17     0       0          oman
479                  HaribAl   29     168   22     0       0          oman
480                 KhalidAl   24     182   18    10       0          oman
481             MohamedSaleh   33     173   19     3       0          oman
482                 MuhsenAl   21     184    9     0       0          oman
483     MamedOrazmuhamedowM.   32       0   20     0       0  turkmenistan
484            BatyrBabaevB.   27       0    0     0       0  turkmenistan
485         NikitaGorbunovN.   34     190   13     0       0  turkmenistan
486         ZafarBabajanowZ.   32       0    8     0      23  turkmenistan
487  GuychmyratAnnagulyyevG.   22       0    1     0       0  turkmenistan
488           MekanSaparovM.   24       0   21     1       0  turkmenistan
489      WezirgeldiYlýasowW.   27       0    3     0       0  turkmenistan
490       SerdarAnnaorazowS.   28       0   32     0       0  turkmenistan
491           ResulHojayevR.   22       0    4     1       0  turkmenistan
492            AhmetAtayewA.   28     185   25     1     113  turkmenistan
493         SerdarGeldiyewS.   31     185   21     0       0  turkmenistan
494         RuslanMingazovR.   27     175   23     4     495  turkmenistan
495         MerdanKurbanovM.   27       0    4     0      90  turkmenistan
496     GurbangeldiBatyrovG.   30       0   10     1       0  turkmenistan
497           IlyaTamurkinI.   29     177    9     0       0  turkmenistan
498           MyratAnnaýewM.   25       0    5     0       0  turkmenistan
499       DovranOrazalyyevD.   25       0    3     0       0  turkmenistan
500      ArslanmuratAmanovA.   28     175   38     9     270  turkmenistan
501         MuratYakshiyewM.   27       0    7     2       0  turkmenistan
502     VakhytOrazsakhedovV.   27     187    6     2      90  turkmenistan
503        SüleymanMuhadowS.   25       0   18     4       0  turkmenistan
504           MikhailTitovM.   21       0    3     0       0  turkmenistan
505  AltymyratAnnadurdiyewA.   25       0   14     4       0  turkmenistan

[506 rows x 7 columns]

# 각 나라별 결측치 값 정리

In [46]:
nation2 = player['nation'].unique()
nation2

array(['U.A.E', 'thailand', 'bahrain', 'jordan', 'australia', 'palastine',
       'syria', 'china', 'kyrgyzstan', 'philippines', 'iran', 'iraq',
       'vietnam', 'jemen', 'Qatar', 'saudi-arabia', 'lebanon',
       'north-korea', 'japan', 'uzbekistan', 'oman', 'turkmenistan'],
      dtype=object)

In [47]:
for i in range(len(nation2)):
    nation2[i] = player[player['nation']==nation2[i]]

In [48]:
for i in range(len(nation2)):
# 키 정보가 없는 선수들의 키를 평균값으로 대체
    nation2[i].loc[nation2[i]['height']==0,'height'] =int(nation2[i]['height'][nation2[i]['height']!=0].mean())
    # salary 정보가 없는 선수들의 연봉을 평균값으로 대체
    nation2[i].loc[nation2[i]['salary']==0,'salary'] =int(nation2[i]['salary'][nation2[i]['salary']!=0].mean())

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [49]:
players = pd.concat([nation2[0],nation2[1],nation2[2],india_players,nation2[3],nation2[4],nation2[5],nation2[6],
                     korea_players,nation2[7],nation2[8],nation2[9],nation2[10],nation2[11],nation2[12],
                     nation2[13],nation2[14],nation2[15],nation2[16],nation2[17],nation2[18],nation2[19],
                     nation2[20],nation2[21]])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [50]:
colnames = ['name','age','height','cap','goal','salary','nation']
players[colnames]

                        name  age  height  cap  goal  salary        nation
0               AliKhaseifA.   31     184   26     0     270         U.A.E
1           KhalidEisaKhalid   29     176   22     0     270         U.A.E
2                  MohamedAl   22     185    0     0     225         U.A.E
3             FaresJumaFares   30     181   24     0     495         U.A.E
4        MohamedAhmadMohamed   29     183   41     0     360         U.A.E
5               WalidAbbasW.   33     182   76     6     315         U.A.E
6           KhalifaMubarakK.   25     183   10     0     270         U.A.E
7          IsmailAhmedIsmail   35     192   19     1     158         U.A.E
8         KhalifaAlhammadiK.   20     178    1     0   26357         U.A.E
9            AlhusainSalehA.   27     171    5     0     180         U.A.E
10           BandarMohamedB.   28     169    9     0      68         U.A.E
11               AliSalminA.   24     169   17     1     338         U.A.E
12             MajedHassanM.   26     180   15     0     113         U.A.E
13            MohamedKhalfan   26     176    0     0   26357         U.A.E
14         AmerAbdulrahmanA.   29     168   40     2     405         U.A.E
15      MohamedAbdulrahmanM.   30     173   21     0     270         U.A.E
16           KhamisEsmaeelK.   29     184   65     1     248         U.A.E
17            IsmaeilMatarI.   35     168  120    34     270         U.A.E
18                  IsmailAl   30     166   62     6     225         U.A.E
19              SaifRashidS.   24     169    4     0      23         U.A.E
20          KhalfanMubarakK.   23     165   21     1  162000         U.A.E
21             AliMabkhoutA.   28     177   73    50  252000         U.A.E
22             AhmedKhalilA.   27     180  102    47  135000         U.A.E
23      SiwarakTedsungnoenS.   34     183   13     0     180      thailand
24         ChatchaiBudpromC.   32     184    7     0     135      thailand
25            SaranonAnuinS.   24     186    0     0      45      thailand
26          PansaHemviboonP.   28     190   15     4     270      thailand
27     ChalermpongKerdkaewC.   32     181   16     0     225      thailand
28          AdisornPromrakA.   25     175   25     0     225      thailand
29         SuphanThongsongS.   24     182    2     0      90      thailand
..                       ...  ...     ...  ...   ...     ...           ...
476                 MohsinAl   30     173   38     6      90          oman
477             AhmedMubarak   33     179   96    10      90          oman
478                 YaseenAl   25     168   17     0     191          oman
479                  HaribAl   29     168   22     0     191          oman
480                 KhalidAl   24     182   18    10     191          oman
481             MohamedSaleh   33     173   19     3     191          oman
482                 MuhsenAl   21     184    9     0     191          oman
483     MamedOrazmuhamedowM.   32     182   20     0     180  turkmenistan
484            BatyrBabaevB.   27     182    0     0     180  turkmenistan
485         NikitaGorbunovN.   34     190   13     0     180  turkmenistan
486         ZafarBabajanowZ.   32     182    8     0      23  turkmenistan
487  GuychmyratAnnagulyyevG.   22     182    1     0     180  turkmenistan
488           MekanSaparovM.   24     182   21     1     180  turkmenistan
489      WezirgeldiYlýasowW.   27     182    3     0     180  turkmenistan
490       SerdarAnnaorazowS.   28     182   32     0     180  turkmenistan
491           ResulHojayevR.   22     182    4     1     180  turkmenistan
492            AhmetAtayewA.   28     185   25     1     113  turkmenistan
493         SerdarGeldiyewS.   31     185   21     0     180  turkmenistan
494         RuslanMingazovR.   27     175   23     4     495  turkmenistan
495         MerdanKurbanovM.   27     182    4     0      90  turkmenistan
496     GurbangeldiBatyrovG.   30     182   10     1     180  turkmenistan
497           IlyaTamurkinI.   29     177    9     0     180  turkmenistan
498           MyratAnnaýewM.   25     182    5     0     180  turkmenistan
499       DovranOrazalyyevD.   25     182    3     0     180  turkmenistan
500      ArslanmuratAmanovA.   28     175   38     9     270  turkmenistan
501         MuratYakshiyewM.   27     182    7     2     180  turkmenistan
502     VakhytOrazsakhedovV.   27     187    6     2      90  turkmenistan
503        SüleymanMuhadowS.   25     182   18     4     180  turkmenistan
504           MikhailTitovM.   21     182    3     0     180  turkmenistan
505  AltymyratAnnadurdiyewA.   25     182   14     4     180  turkmenistan

[549 rows x 7 columns]

In [51]:
players.to_csv('./total_players.csv',index=False,header=True)

In [52]:
# database로 넣기
import pymysql
from sqlalchemy import create_engine

In [53]:
# Table의 column이름과 df의 column 이름이 일치해야함.
column = colnames = ['age','cap','goal','height','name','nation','salary']
total_players = pd.read_csv('./total_players.csv')
total_players = pd.DataFrame(total_players)
total_players.columns = column
total_players.head()

   age  cap  goal  height                 name nation  salary
0   31   26     0     184         AliKhaseifA.  U.A.E     270
1   29   22     0     176     KhalidEisaKhalid  U.A.E     270
2   22    0     0     185            MohamedAl  U.A.E     225
3   30   24     0     181       FaresJumaFares  U.A.E     495
4   29   41     0     183  MohamedAhmadMohamed  U.A.E     360

In [54]:
engine = create_engine("mysql+pymysql://root:" + "1111" + 
                       "@127.0.0.1:3306/asiancup?charset=utf8",
                      encoding = 'utf-8')
conn = engine.connect()

In [55]:
total_players.to_sql(name = 'players', con = engine, if_exists = 'append', index = False)

In [56]:
conn.close()