In [1]:
from selenium import webdriver
import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://en.wikipedia.org/wiki/2011_AFC_Asian_Cup_squads')

In [54]:
# 네임 추출 테스트
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
name = soup.select('#mw-content-text > div > table > tbody > tr > th > a')[346]
age = soup.select('#mw-content-text > div > table > tbody > tr > td')[2].text.split()[4].replace(')','')
cap = soup.select('#mw-content-text > div > table > tbody > tr > td')[3].text.strip()
goal = soup.select('#mw-content-text > div > table > tbody > tr > td')[4].text.strip()
print(name)
print(age)
print(cap)
print(goal)
print(club)

<a href="/wiki/Captain_(association_football)" title="Captain (association football)">c</a>
25
17
Al-Gharrafa
Esteghlal

In [8]:
# 부상자 때문에 엔트리가 한명 적어진 인도는 따로 Scarpy
nameList = []
ageList = []
capList = []
goalList = []
clubList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,368):
    name = soup.select('#mw-content-text > div > table > tbody > tr > th > a')[i].text
    nameList.append(name)
for i in range(0,1840):
    if i % 5 == 2:
        age = soup.select('#mw-content-text > div > table > tbody > tr > td')[i].text.split()[4].replace(')','')
        ageList.append(age)    
    if i % 5 == 3:
        cap = soup.select('#mw-content-text > div > table > tbody > tr > td')[i].text.strip()
        capList.append(cap)
    if i % 5 == 4:
        club = soup.select('#mw-content-text > div > table > tbody > tr > td')[i].text.strip()
        clubList.append(club)

In [9]:
print(nameList)
print(ageList)
print(capList)
print(clubList)

['Qasem Burhan', 'Hamid Ismail', 'Mohammed Kasola', 'Lawrence Quaye', 'Hassan Al Haydos', 'Bilal Mohammed', 'c', 'Wesam Rizik', 'Mesaad Al-Hamad', 'Jaralla Al-Marri', 'Hussein Yasser', 'Fábio César Montezine', 'Yusef Ahmed', 'Ibrahim Majid', 'Khalfan Ibrahim', 'Talal Al-Bloushi', 'Mohamed Elsayed', 'Abdulaziz Al Sulaiti', 'Ibrahim Al-Ghanim', 'Khalid Muftah', 'Ali Afif', 'Mohammed Mubarak', 'Saad Al Sheeb', 'Sebastián Soria', 'Temur Juraev', 'Ulugbek Bakayev', 'Shavkat Mullajanov', 'Anzur Ismailov', 'Aziz Ibrahimov', 'Sakhob Juraev', 'Aziz Haydarov', 'Server Djeparov', 'c', 'Odil Ahmedov', 'Shavkat Salomov', 'Marat Bikmaev', 'Ignatiy Nesterov', 'Olim Navkarov', 'Stanislav Andreev', 'Alexander Geynrikh', 'Maksim Shatskikh', 'Sanjar Tursunov', 'Timur Kapadze', 'Jasur Hasanov', 'Farrukh Nurliboev', 'Murod Zukhurov', 'Viktor Karpenko', 'Vagiz Galiullin', 'Khalid Al-Rashidi', 'Yaqoub Al Taher', 'Fahad Awadh', 'Hussain Fadel', 'Ahmad Ajab', 'Amer Al Fadhel', 'Fahad Al Enezi', 'Saleh Al Sheikh', 'Ali Maqseed', 'Khaled Khalaf', 'Fahad Al Ansari', 'Abdullah Al Shemali', 'Musaed Neda', 'Talal Al Amer', 'Waleed Ali', 'Hamad Al Enezi', 'Bader Al-Mutwa', 'Jarah Al Ateeqi', 'Ahmed Saad Al Rashidi', 'Yousef Nasser', "Abdulaziz Al Misha'an", 'Nawaf Al Khaldi', 'c', 'Hameed Youssef', 'Yang Zhi', 'Li Xuepeng', 'Wang Qiang', 'Zhao Peng', 'Du Wei', 'c', 'Zhou Haibin', 'Zhao Xuri', 'Hao Junmin', 'Yang Xu', 'Deng Zhuoxiang', 'Qu Bo', 'Guan Zhen', 'Liu Jianye', 'Wang Song', 'Yu Tao', 'Huang Bowen', 'Zhang Linpeng', 'Gao Lin', 'Yang Hao', 'Rong Hao', 'Yu Hai', 'Zeng Cheng', 'Li Jianbin', 'Eiji Kawashima', 'Masahiko Inoha', 'Daiki Iwamasa', 'Yasuyuki Konno', 'Yuto Nagatomo', 'Atsuto Uchida', 'Yasuhito Endō', 'Daisuke Matsui', 'Shinji Okazaki', 'Shinji Kagawa', 'Ryoichi Maeda', 'Ryota Moriwaki', 'Hajime Hosogai', 'Jungo Fujimoto', 'Takuya Honda', 'Yosuke Kashiwagi', 'Makoto Hasebe', 'c', 'Keisuke Honda', 'Tadanari Lee', 'Mitsuru Nagata', 'Shusaku Nishikawa', 'Maya Yoshida', 'Shuichi Gonda', 'Amer Shafi', 'Mohammad Muneer', 'Suleiman Al-Salman', "Baha' Abdul-Rahman", 'Mohammad Al-Dmeiri', 'Saeed Murjan', 'Amer Deeb', 'Bashar Bani Yaseen', 'Odai Al-Saify', "Mo'ayyad Abu Keshek", "Ra'ed Al-Nawateer", "Lo'ai Al-Amaireh", 'Hamza Al-Dardour', 'Abdallah Deeb', "Shadi Abu Hash'hash", "Basem Fat'hi", 'Hatem Aqel', 'c', 'Hassan Abdel-Fattah', 'Anas Bani Yaseen', "Alaa' Al-Shaqran", 'Ahmad Abdel-Halim', 'Moataz Yaseen', 'Anas Hijah', 'Waleed Abdullah', 'Abdullah Shuhail', 'Osama Hawsawi', 'Hamad Al-Montashari', 'Osama Al-Muwallad', 'Ahmed Otaif', 'Kamel Al-Mousa', 'Manaf Abushgeer', 'Naif Hazazi', 'Mohammad Al-Shalhoub', 'Nasser Al-Shamrani', 'Mishaal Al-Saeed', 'Moataz Al-Musa', 'Saud Khariri', 'Abdoh Otaif', 'Abdullaziz Al-Dosari', 'Taisir Al-Jassim', 'Nawaf Al Abed', 'Mohammed Massad', 'Yasser Al-Qahtani', 'c', 'Mabrouk Zaid', "Hussain Shae'an", 'Mohannad Asseri', 'Mosab Balhous', 'c', 'Belal Abduldaim', 'Ali Diab', 'Jehad Al Baour', 'Feras Esmaeel', 'Jehad Al Hussain', 'Abdelrazaq Al Hussain', 'Taha Dyab', 'Qusay Habib', 'Firas Al Khatib', 'Adel Abdullah', 'Mohamed Al Zeno', 'Nadim Sabagh', 'Wael Ayan', 'Ahmad Al Salih', 'Radwan Al Azhar', 'Abdulkader Dakka', 'Abdul Fattah Al Agha', 'Sanharib Malki Sabah', 'Louay Chanko', 'Burhan Sahyouni', 'Adnan Al Hafez', 'Samer Awad', 'Jung Sung-ryong', 'Choi Hyo-jin', 'Hwang Jae-won', 'Cho Yong-hyung', 'Kwak Tae-hwi', 'Lee Yong-rae', 'Park Ji-sung', 'c', 'Yoon Bit-garam', 'Yoo Byung-soo', 'Ji Dong-won', 'Son Heung-min', 'Lee Young-pyo', 'Koo Ja-cheol', 'Lee Jung-soo', 'Hong Jeong-ho', 'Ki Sung-yueng', 'Lee Chung-yong', 'Kim Bo-kyung', 'Yeom Ki-hun', 'Kim Shin-wook', 'Kim Yong-dae', 'Cha Du-ri', 'Kim Jin-hyeon', 'Mark Schwarzer', 'Lucas Neill', 'c', 'David Carney', 'Tim Cahill', 'Jason Čulina', 'Saša Ognenovski', 'Brett Emerton', 'Luke Wilkshire', 'Scott McDonald', 'Harry Kewell', 'Nathan Burns', 'Nathan Coe', 'Jade North', 'Brett Holman', 'Mile Jedinak', 'Carl Valeri', 'Matt McKay', 'Brad Jones', 'Tommy Oar', 'Matthew Špiranović', 'Jonathan McKain', 'Neil Kilkenny', 'Robbie Kruse', 'Mahmood Abdulla', 'Rashed Al Hooti', 'Abdulla Al Marzooqi', 'Abdulla Baba Fatadi', 'Saleh Abdulhameed', 'Abbas Ayyad', 'Hamad Rakea Al Anezi', 'Jaycee John Okwunwanne', 'Abdulwahab Al Malood', 'Waleed Al Hayam', 'Ismail Abdul-Latif', 'Faouzi Mubarak Aaish', 'Mahmood Abdulrahman', 'Salman Isa', 'c', 'Abdullah Omar', 'Dawood Saad', 'Hussain Ali Baba', 'Abdulwahab Al Safi', 'Mahmood Al Ajmi', 'Abdulla Al-Dakeel', 'Ahmed Mushaima', 'Abbas Ahmed Khamis', 'Ebrahim Al Mishkhas', 'Subrata Pal', 'Moirangthem Govin Singh', 'Nanjangud Shivananju Manju', 'Rakesh Masih', 'Anwar Ali', 'Baldeep Singh Junior', 'Pappachen Pradeep', 'Renedy Singh', 'Abhishek Yadav', 'Clifford Miranda', 'Sunil Chhetri', 'Deepak Mondal', 'Gurpreet Singh Sandhu', 'Mahesh Gawli', 'Baichung Bhutia', 'c', 'Mehrajuddin Wadoo', 'Irungbam Surkumar Singh', 'Mohammed Rafi', 'Gouramangi Singh', 'Climax Lawrence', 'Subhasish Roy Chowdhury', 'Syed Rahim Nabi', 'Steven Dias', 'Ri Myong-guk', 'Cha Jong-hyok', 'Ri Jun-il', 'Pak Nam-chol', 'Ri Kwang-chon', 'Choe Myong-ho', 'Ryang Yong-gi', 'Ji Yun-nam', 'Jong Tae-se', 'Hong Yong-jo', 'c', 'Mun In-guk', 'Jon Kwang-ik', 'Pak Chol-jin', 'Pak Nam-chol', 'Kim Yong-jun', 'Choe Kum-chol', 'An Yong-hak', 'Kim Myong-gil', 'An Chol-hyok', 'Ri Kwang-hyok', 'Pak Chol-min', 'Ri Kwang-il', 'Kim Kuk-jin', 'Majed Nasser', 'Khalid Sebil Lashkari', 'Mohamed Ahmed', 'Subait Khater', 'Amer Abdulrahman', 'Fares Juma Al Saadi', 'Ali Al-Wehaibi', 'Hamdan Al Kamali', 'Mohamed Al Shehhi', 'Ismail Matar', 'Ahmed Khalil', 'Obaid Al Tawila', 'Theyab Awana', 'Walid Abbas', 'Ismail Al Hammadi', 'Amer Mubarak', 'Yousif Jaber', 'Abdulla Al Bloushi', 'Saeed Al Kass', 'c', 'Saeed Al Kathiri', 'Mahmoud Khamees', 'Ali Khasif', 'Omar Abdulrahman', 'Ali Mutashar', 'Mohammed Ali Karim', 'Bassim Abbas', 'Qusay Munir', 'Nashat Akram', 'Saad Abdul-Amir', 'Emad Mohammed', 'Samer Saeed', 'Mustafa Karim', 'Younis Mahmoud', 'c', 'Hawar Mulla Mohammed', 'Mohammed Gassid', 'Karrar Jassim', 'Salam Shakir', 'Ali Rehema', 'Samal Saeed', 'Alaa Abdul-Zahra', 'Mahdi Karim', 'Ahmad Ayad', 'Muthana Khalid', 'Ahmad Ibrahim', 'Haidar Raad', 'Saad Attiya', 'Mehdi Rahmati', 'Khosro Heydari', 'Farshid Talebi', 'Jalal Hosseini', 'Hadi Aghili', 'Javad Nekounam', 'c', 'Gholamreza Rezaei']
['25', '24', '24', '26', '20', '24', '29', '24', '22', '26', '31', '22', '20', '22', '24', '24', '22', '27', '18', '22', '26', '20', '27', '26', '32', '24', '25', '24', '23', '25', '28', '23', '25', '25', '27', '27', '22', '26', '32', '24', '29', '27', '20', '27', '33', '23', '23', '27', '25', '26', '26', '22', '22', '28', '24', '27', '23', '22', '27', '23', '30', '24', '25', '29', '27', '20', '22', '29', '23', '27', '22', '26', '27', '28', '25', '25', '23', '22', '22', '29', '25', '23', '27', '29', '23', '21', '24', '27', '23', '23', '23', '21', '27', '25', '28', '27', '24', '22', '30', '29', '24', '21', '29', '24', '24', '26', '25', '23', '26', '24', '25', '27', '24', '22', '21', '28', '28', '23', '24', '23', '20', '30', '33', '24', '27', '22', '33', '19', '23', '29', '28', '32', '28', '22', '22', '24', '28', '22', '24', '25', '26', '28', '26', '25', '28', '30', '21', '30', '27', '27', '23', '30', '26', '21', '26', '20', '27', '28', '31', '21', '21', '27', '27', '28', '23', '28', '28', '24', '20', '23', '27', '26', '27', '25', '25', '21', '31', '25', '26', '26', '31', '24', '26', '28', '26', '27', '29', '27', '29', '24', '29', '20', '22', '19', '18', '33', '21', '30', '21', '21', '22', '21', '27', '22', '31', '30', '23', '38', '32', '27', '31', '30', '31', '31', '29', '27', '32', '22', '26', '29', '26', '26', '26', '27', '28', '19', '22', '28', '25', '22', '30', '21', '30', '25', '28', '23', '26', '25', '20', '22', '24', '25', '26', '33', '24', '28', '28', '23', '23', '25', '28', '27', '30', '24', '23', '23', '23', '26', '23', '27', '31', '30', '28', '26', '31', '18', '30', '34', '26', '27', '28', '25', '31', '24', '(age', '27', '24', '25', '23', '25', '25', '22', '29', '34', '26', '(age', '32', '22', '25', '22', '27', '23', '32', '26', '25', '23', '22', '22', '22', '26', '23', '21', '30', '21', '22', '27', '21', '22', '27', '19', '31', '20', '25', '22', '23', '25', '23', '34', '22', '23', '23', '19', '21', '24', '28', '29', '26', '18', '28', '23', '23', '27', '29', '24', '23', '24', '25', '25', '23', '27', '22', '21', '18', '19', '23', '27', '(aged', '29', '28', '29', '30', '26', '26', '27', '20', '20', '32', '31', '27', '27', '28', '27', '30', '27', '29', '21', '26', '28']
['17', '9', '10', '6', '5', '56', '38', '31', '6', '15', '22', '15', '31', '28', '39', '5', '0', '45', '2', '26', '2', '3', '46', '9', '29', '4', '27', '15', '14', '26', '66', '33', '5', '22', '50', '7', '9', '55', '52', '2', '74', '18', '1', '1', '45', '7', '0', '46', '26', '36', '26', '14', '16', '31', '12', '30', '21', '5', '68', '21', '68', '22', '102', '48', '8', '18', '11', '45', '3', '21', '3', '12', '20', '54', '42', '39', '30', '8', '20', '66', '1', '12', '7', '8', '15', '14', '41', '22', '26', '19', '9', '0', '16', '0', '4', '40', '34', '34', '100', '29', '35', '17', '7', '0', '3', '6', '0', '1', '37', '23', '0', '1', '3', '1', '1', '77', '41', '17', '26', '6', '2', '79', '87', '37', '18', '28', '31', '2', '42', '14', '51', '91', '55', '30', '6', '24', '4', '7', '34', '28', '54', '54', '38', '30', '12', '4', '14', '68', '28', '6', '1', '46', '50', '6', '52', '6', '0', '92', '36', '0', '16', '72', '24', '80', '2', '70', '72', '33', '5', '5', '49', '29', '45', '5', '43', '0', '25', '37', '32', '7', '7', '9', '3', '11', '24', '10', '4', '39', '16', '1', '95', '3', '2', '1', '1', '121', '10', '33', '3', '30', '31', '8', '39', '3', '21', '52', '0', '82', '63', '32', '46', '56', '1', '78', '50', '20', '47', '5', '0', '31', '38', '16', '29', '6', '2', '3', '5', '14', '2', '0', '0', '6', '67', '27', '5', '13', '17', '43', '2', '10', '55', '50', '34', '101', '35', '4', '63', '14', '0', '17', '0', '10', '14', '30', '0', '22', '1', '23', '2', '37', '55', '28', '19', '40', '42', '0', '56', '102', '25', '44', '4', '30', '51', '1', '20', '32', '37', '37', '30', '35', '41', '5', '10', '32', '27', '69', '45', '11', '36', '6', '86', '18', '30', '31', '19', '5', '8', '0', '2', '53', '8', '3', '99', '6', '26', '33', '15', '45', '88', '17', '5', '5', '18', '27', '32', '28', '3', '60', '3', '0', '3', '3', '4', '23', '70', '60', '96', '9', '89', '20', '26', '86', '95', '30', '33', '27', '61', '32', '27', '83', '15', '10', '3', '1', '16', '56', '22', '1', '56', '49', '122', '34', '35', '32', '9', '30', '75', '12', '51', '1', '0', '14', '30', '8', '74', '0', '0', '56']
[]
['Al-Gharrafa', 'Al-Rayyan', 'Al-Sadd', 'Al-Gharrafa', 'Al-Sadd', 'Al-Gharrafa', 'Al-Sadd', 'Al-Sadd', 'Al-Rayyan', 'Al-Zamalek', 'Al-Rayyan', 'Al-Sadd', 'Al-Sadd', 'Al-Sadd', 'Al-Sadd', 'Umm-Salal', 'Al-Arabi', 'Al-Gharrafa', 'Lekhwiya', 'Al-Sadd', 'Qatar SC', 'Al-Sadd', 'Qatar SC', 'Pakhtakor Tashkent', 'Tobol', 'Olmaliq', 'Bunyodkor', 'Bohemians', 'Bunyodkor', 'Bunyodkor', 'FC Seoul', 'Pakhtakor Tashkent', 'Nasaf Qarshi', 'Alania Vladikavkaz', 'Bunyodkor', 'Qizilqum Zarafshon', 'Pakhtakor Tashkent', 'Pakhtakor Tashkent', 'Arsenal Kyiv', 'Volga Nizhny Novgorod', 'Bunyodkor', 'Lekhwiya', 'Olmaliq', 'Nasaf Qarshi', 'Bunyodkor', 'Sibir Novosibirsk', 'Al-Arabi', 'Al-Ettifaq[1]', 'Al-Kuwait', 'Qadsia', 'Qadsia', 'Qadsia', 'Kazma', 'Qadsia', 'Al-Arabi', 'Al-Arabi', 'Qadsia', 'Al-Shabab[1]', 'Qadsia', 'Qadsia', 'Al-Kuwait', 'Qadsia', 'Qadsia', 'Al-Kuwait', 'Al-Arabi', 'Kazma[1]', 'Qadsia[2]', 'Qadsia', 'Al-Salmiya', 'Beijing Guoan', 'Dalian Shide', 'Changsha Ginde', 'Henan Construction', 'Hangzhou Greentown', 'Shandong Luneng', 'Shaanxi Zhongjian', 'FC Schalke 04', 'Liaoning Whowin', 'Shandong Luneng', 'Shaanxi Zhongjian', 'Jiangsu Sainty', 'Jiangsu Sainty', 'Hangzhou Greentown', 'Shanghai Shenhua', 'Beijing Guoan', 'Guangzhou Evergrande', 'Guangzhou Evergrande', 'Beijing Guoan', 'Hangzhou Greentown', 'Shaanxi Zhongjian', 'Henan Construction', 'Chengdu Blades', 'Lierse', 'Kashima Antlers', 'Kashima Antlers', 'F.C. Tokyo', 'Cesena', 'FC Schalke 04', 'Gamba Osaka', 'Tom Tomsk', 'Shimizu S-Pulse', 'Borussia Dortmund', 'Júbilo Iwata', 'Sanfrecce Hiroshima', 'FC Augsburg', 'Shimizu S-Pulse', 'Shimizu S-Pulse', 'Urawa Red Diamonds', 'VfL Wolfsburg', 'CSKA Moscow', 'Sanfrecce Hiroshima', 'Urawa Red Diamonds', 'Sanfrecce Hiroshima', 'VVV-Venlo', 'F.C. Tokyo', 'Al-Wehdat', 'Tishreen', 'Al-Ramtha', 'Al-Faisaly', 'Al-Wehdat', 'Al-Arabi', 'Al-Wehdat', 'Al-Jazeera', 'Alki Larnaca', 'Al-Faisaly', 'Al-Jazeera', 'Al-Faisaly', 'Al-Ramtha', 'Shabab Al-Ordon', 'Al Taawon', 'Al-Wehdat', 'Al-Raed', 'Al-Wehdat', 'Najran', 'Shabab Al-Ordon', 'Al-Wehdat', 'Shabab Al-Ordon', 'Al-Faisaly', 'Al-Shabab', 'Al-Shabab', 'Al-Hilal', 'Al-Ittihad', 'Al-Ittihad', 'Al-Shabab', 'Al-Ahli', 'Al-Ittihad', 'Al-Ittihad', 'Al-Hilal', 'Al-Shabab', 'Al-Ittihad', 'Al-Ahli', 'Al-Ittihad', 'Al-Shabab', 'Al-Hilal', 'Al-Ahli', 'Al-Hilal', 'Al-Ahli', 'Al Hilal', 'Al-Ittihad', 'Al-Shabab', 'Al-Wahda', 'Al-Karamah', 'Al-Karamah', 'Al-Shorta', 'Al-Jaish', 'Al-Jaish', 'Al-Qadsia', 'Al-Karamah', 'Al-Ittihad', 'Al-Shorta', 'Al-Qadsia', 'Al-Karamah', 'Al-Karamah', 'Al-Jaish', 'Al-Faisaly', 'Al-Jaish', 'Al-Majd', 'Al-Ittihad', 'Wadi Degla', 'KSC Lokeren', 'AaB', 'Al-Jaish', 'Al-Wahda', 'Al-Majd', 'Suwon Samsung Bluewings', 'Sangju Sangmu Phoenix', 'Suwon Samsung Bluewings', 'Al-Rayyan', 'Kyoto Sanga F.C.', 'Suwon Samsung Bluewings', 'Manchester United', 'Gyeongnam FC', 'Incheon United', 'Chunnam Dragons', 'Hamburger SV', 'Al-Hilal', 'Jeju United', 'Al-Sadd', 'Jeju United', 'Celtic', 'Bolton Wanderers', 'Cerezo Osaka', 'Suwon Samsung Bluewings', 'Ulsan Hyundai', 'FC Seoul', 'Celtic', 'Cerezo Osaka', 'Fulham', 'Galatasaray', 'Blackpool', 'Everton', 'Gold Coast United', 'Seongnam Ilhwa Chunma', 'Blackburn Rovers', 'Dynamo Moscow', 'Middlesbrough', 'Galatasaray', 'AEK Athens', 'SønderjyskE', 'Wellington Phoenix', 'AZ', 'Gençlerbirliği', 'Sassuolo', 'Brisbane Roar', 'Liverpool', 'Utrecht', 'Urawa Red Diamonds', 'Al-Nassr', 'Leeds United', 'Melbourne Victory', 'Al-Muharraq', 'East Riffa', 'Al-Sailiya', 'Al-Ittihad Kalba', 'Al-Najma', 'Al-Ahli', 'Riffa', 'Eskişehirspor', 'Al-Muharraq', 'Al-Muharraq', 'Riffa', 'Al-Sailiya', 'Al-Shamal', 'Al-Arabi', 'Neuchâtel Xamax', 'Riffa', 'Al-Shabab', 'Al-Ahli', 'Riffa', 'Al-Muharraq', 'Al Ahli', 'Al-Ahli', 'Al-Muharraq', 'Pune', 'East Bengal', 'Mohun Bagan', 'Mohun Bagan', 'Dempo', 'JCT', 'Mumbai', 'Unattached', 'Mumbai', 'Dempo', 'Sporting Kansas City', 'Mohun Bagan', 'AIFF XI', 'Dempo', 'East Bengal', 'East Bengal', 'Mohun Bagan', 'Churchill Brothers', 'Churchill Brothers', 'Dempo', 'Dempo', 'East Bengal', 'Churchill Brothers', 'Pyongyang City', 'Wil', 'Sobaeksu', 'April 25', 'April 25', 'Pyongyang City', 'Vegalta Sendai', 'April 25', 'VfL Bochum', 'Unattached', 'April 25', 'Amrokgang', 'Amrokgang', 'Amrokgang', 'Pyongyang City', 'Rimyongsu', 'Kashiwa Reysol', 'Amrokgang', 'Rimyongsu', 'Kyonggongop', 'Rimyongsu', 'Sobaeksu', 'Wil', 'Al Wasl', 'Al-Jazira', 'Al Shabab', 'Al-Jazira', 'Baniyas', 'Al Ain', 'Al Ain', 'Al Wahda', 'Al Wahda', 'Al Wahda', 'Al-Ahli', 'Al-Ahli', 'Baniyas', 'Al-Shabab Al-Arabi', 'Al-Ahli', 'Al-Nasr', 'Baniyas', 'Al-Jazira', 'Al Wasl', 'Al Wahda', 'Al-Wahda', 'Al-Jazira', 'Al Ain', 'Al-Talaba', 'Al-Zawraa', 'Konyaspor', 'Qatar SC', 'Al-Wakrah', 'Al-Karkh', 'Shahin Bushehr', 'Al-Ahly Tripoli', 'Al-Sailiya', 'Al-Gharafa', 'Esteghlal', 'Erbil', 'Tractor Sazi', 'Al-Khor', 'Al-Wakrah', 'Najaf', 'Al Kharaitiyat', 'Erbil', 'Al-Quwa Al-Jawiya', 'Al-Quwa Al-Jawiya', 'Erbil', 'Al-Karkh', 'Erbil', 'Sepahan', 'Sepahan', 'Zob Ahan', 'Sepahan', 'Sepahan', 'Osasuna', 'Persepolis', 'Osasuna', 'Zob Ahan', 'Saipa', 'Sepahan', 'Paykan', 'Sepahan', 'Tractor Sazi', 'Zob Ahan', 'Foolad', 'Persepolis', 'Malavan', 'Steel Azin', 'Tractor Sazi', 'Foolad', 'Zob Ahan', 'Esteghlal']

In [55]:
players_2011 = pd.DataFrame(ageList)
players_2011 = players_2011.rename(columns = {0:'age'})
players_2011['cap'] = capList

In [63]:
len(capList)

368

In [62]:
len(clubList)

368

In [50]:
players_2011[players_2011['age']=='(aged']

       age cap name     club
346  (aged  22    c  Sepahan

In [56]:
# 나이값 결측치 제거
players_2011.loc[players_2011['age']=='(age','age'] = 26
players_2011.loc[players_2011['age']=='(aged','age'] = 34

In [57]:
players_2011 = players_2011.astype(int)

In [58]:
players_2011['name'] = nameList

In [59]:
players_2011['club'] = clubList

In [60]:
players_2011.tail()

     age  cap               name          club
363   27    8     Jalal Hosseini    Steel Azin
364   29   74        Hadi Aghili  Tractor Sazi
365   21    0     Javad Nekounam        Foolad
366   26    0                  c      Zob Ahan
367   28   56  Gholamreza Rezaei     Esteghlal

In [66]:
players_2011.to_csv('./players_2011.csv',index=False,header=True)

In [67]:
players_2011 = pd.read_csv('./players_2011.csv')

In [85]:
qatar = players_2011[0:23]
uzbekistan = players_2011[23:46]
kuwait = players_2011[46:69]
china = players_2011[69:92]
japan = players_2011[92:115]
jordan = players_2011[115:138]
saudi = players_2011[138:161]
syria = players_2011[161:184]
south_korea = players_2011[184:207]
Australia = players_2011[207:230]
bahrain = players_2011[230:253]
india = players_2011[253:276]
north_korea = players_2011[276:299]
uae = players_2011[299:322]
iraq = players_2011[322:345]
iran = players_2011[345:]

In [86]:
iran

     age  cap                      name          club
345   27   56             Mehdi Rahmati       Sepahan
346   34   22            Khosro Heydari       Sepahan
347   29    1            Farshid Talebi      Zob Ahan
348   28   56            Jalal Hosseini       Sepahan
349   29   49               Hadi Aghili       Sepahan
350   30  122            Javad Nekounam       Osasuna
351   26   34         Gholamreza Rezaei    Persepolis
352   26   35            Masoud Shojaei       Osasuna
353   27   32  Mohammad Reza Khalatbari      Zob Ahan
354   20    9          Karim Ansarifard         Saipa
355   20   30             Ehsan Hajsafi       Sepahan
356   32   75         Ebrahim Mirzapour        Paykan
357   31   12             Mohsen Bengar       Sepahan
358   27   51       Andranik Teymourian  Tractor Sazi
359   27    1          Ghasem Hadadifar      Zob Ahan
360   28    0              Reza Norouzi        Foolad
361   27   14            Mohammad Nouri    Persepolis
362   30   30              Pejman Nouri       Malavan
363   27    8          Mohammad Gholami    Steel Azin
364   29   74          Mohammad Nosrati  Tractor Sazi
365   21    0              Arash Afshin        Foolad
366   26    0             Shahab Gordan      Zob Ahan
367   28   56               Iman Mobali     Esteghlal

In [87]:
qatar['nation'] = 'qatar'
uzbekistan['nation'] = 'uzbekistan'
kuwait['nation'] = 'kuwait'
china['nation'] = 'china'
japan['nation'] = 'japan'
jordan['nation'] = 'jordan'
saudi['nation'] = 'saudi'
syria['nation'] = 'syria'
south_korea['nation'] = 'south_korea'
Australia['nation'] = 'Australia'
bahrain['nation'] = 'bahrain'
india['nation'] = 'india'
north_korea['nation'] = 'north_korea'
uae['nation'] = 'uae'
iraq['nation'] = 'iraq'
iran['nation'] = 'iran'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [88]:
players_2011 = pd.concat([qatar,uzbekistan,kuwait,china,japan,jordan,saudi,syria,south_korea,Australia,bahrain,india
                     ,north_korea,uae,iraq,iran])

In [90]:
colnames = ['name','age','cap','club','nation']
players_2011[colnames]

                         name  age  cap                club      nation
0                Qasem Burhan   25   17         Al-Gharrafa       qatar
1                Hamid Ismail   24    9           Al-Rayyan       qatar
2             Mohammed Kasola   24   10             Al-Sadd       qatar
3              Lawrence Quaye   26    6         Al-Gharrafa       qatar
4            Hassan Al Haydos   20    5             Al-Sadd       qatar
5              Bilal Mohammed   24   56         Al-Gharrafa       qatar
6                 Wesam Rizik   29   38             Al-Sadd       qatar
7             Mesaad Al-Hamad   24   31             Al-Sadd       qatar
8            Jaralla Al-Marri   22    6           Al-Rayyan       qatar
9              Hussein Yasser   26   15          Al-Zamalek       qatar
10      Fábio César Montezine   31   22           Al-Rayyan       qatar
11                Yusef Ahmed   22   15             Al-Sadd       qatar
12              Ibrahim Majid   20   31             Al-Sadd       qatar
13            Khalfan Ibrahim   22   28             Al-Sadd       qatar
14           Talal Al-Bloushi   24   39             Al-Sadd       qatar
15            Mohamed Elsayed   24    5           Umm-Salal       qatar
16       Abdulaziz Al Sulaiti   22    0            Al-Arabi       qatar
17          Ibrahim Al-Ghanim   27   45         Al-Gharrafa       qatar
18              Khalid Muftah   18    2            Lekhwiya       qatar
19                   Ali Afif   22   26             Al-Sadd       qatar
20           Mohammed Mubarak   26    2            Qatar SC       qatar
21              Saad Al Sheeb   20    3             Al-Sadd       qatar
22            Sebastián Soria   27   46            Qatar SC       qatar
23               Temur Juraev   26    9  Pakhtakor Tashkent  uzbekistan
24            Ulugbek Bakayev   32   29               Tobol  uzbekistan
25         Shavkat Mullajanov   24    4             Olmaliq  uzbekistan
26             Anzur Ismailov   25   27           Bunyodkor  uzbekistan
27             Aziz Ibrahimov   24   15           Bohemians  uzbekistan
28              Sakhob Juraev   23   14           Bunyodkor  uzbekistan
29              Aziz Haydarov   25   26           Bunyodkor  uzbekistan
..                        ...  ...  ...                 ...         ...
338          Alaa Abdul-Zahra   23   27      Al Kharaitiyat        iraq
339               Mahdi Karim   27   83               Erbil        iraq
340                Ahmad Ayad   22   15   Al-Quwa Al-Jawiya        iraq
341            Muthana Khalid   21   10   Al-Quwa Al-Jawiya        iraq
342             Ahmad Ibrahim   18    3               Erbil        iraq
343               Haidar Raad   19    1            Al-Karkh        iraq
344               Saad Attiya   23   16               Erbil        iraq
345             Mehdi Rahmati   27   56             Sepahan        iran
346            Khosro Heydari   34   22             Sepahan        iran
347            Farshid Talebi   29    1            Zob Ahan        iran
348            Jalal Hosseini   28   56             Sepahan        iran
349               Hadi Aghili   29   49             Sepahan        iran
350            Javad Nekounam   30  122             Osasuna        iran
351         Gholamreza Rezaei   26   34          Persepolis        iran
352            Masoud Shojaei   26   35             Osasuna        iran
353  Mohammad Reza Khalatbari   27   32            Zob Ahan        iran
354          Karim Ansarifard   20    9               Saipa        iran
355             Ehsan Hajsafi   20   30             Sepahan        iran
356         Ebrahim Mirzapour   32   75              Paykan        iran
357             Mohsen Bengar   31   12             Sepahan        iran
358       Andranik Teymourian   27   51        Tractor Sazi        iran
359          Ghasem Hadadifar   27    1            Zob Ahan        iran
360              Reza Norouzi   28    0              Foolad        iran
361            Mohammad Nouri   27   14          Persepolis        iran
362              Pejman Nouri   30   30             Malavan        iran
363          Mohammad Gholami   27    8          Steel Azin        iran
364          Mohammad Nosrati   29   74        Tractor Sazi        iran
365              Arash Afshin   21    0              Foolad        iran
366             Shahab Gordan   26    0            Zob Ahan        iran
367               Iman Mobali   28   56           Esteghlal        iran

[368 rows x 5 columns]

In [10]:
korea_players['nation'] = 'south-korea'

In [11]:
korea_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
height    21 non-null int64
age       21 non-null int64
cap       21 non-null int64
goal      21 non-null int64
salary    21 non-null int64
name      21 non-null object
nation    21 non-null object
dtypes: int64(5), object(2)
memory usage: 1.2+ KB

In [12]:
colnames = ['name','age','height','cap','goal','salary','nation']
korea_players[colnames]

                 name  age  height  cap  goal   salary       nation
0        Hyeon-uhJoH.   27     189   11     0   135000  south-korea
1      Seung-gyuKimS.   28     187   36     0   108000  south-korea
2      Jin-hyeonKimJ.   31     192   16     0      900  south-korea
3        Min-jaeKimM.   22     190   11     0   108000  south-korea
4     Kyung-wonKwonK.   27     188    6     1      900  south-korea
5   Seung-hyeonJungS.   24     188    8     0      810  south-korea
6     Young-gwonKimY.   28     184   62     3      765  south-korea
7         Jin-suKimJ.   26     177   34     0   158000  south-korea
8         CheolHongC.   28     176   21     0      675  south-korea
9         YongLeeYong   32     180   37     0      450  south-korea
10      Mun-hwanKimM.   23     173    4     0      293  south-korea
11    Woo-youngJungW.   29     186   33     1      720  south-korea
12        Se-jongJuS.   28     174   15     1      675  south-korea
13     In-beomHwangI.   22     177   12     1      225  south-korea
14      Jae-sungLeeJ.   26     180   42     7   180000  south-korea
15    Chung-yongLeeC.   30     180   81     8   135000  south-korea
16     Heung-minSonH.   26     184   72    23  4500000  south-korea
17     Seung-wooLeeS.   21     173    6     0   108000  south-korea
18    Hee-chanHwangH.   23     177   24     2   450000  south-korea
19       Ui-joHwangU.   26     184   17     4   149000  south-korea
20       Dong-wonJiD.   27     187   55    11      900  south-korea

In [92]:
players_2011.to_csv('./semi_players_2011.csv',index=False,header=True)

In [52]:
# database로 넣기
import pymysql
from sqlalchemy import create_engine

In [53]:
# Table의 column이름과 df의 column 이름이 일치해야함.
column = colnames = ['age','cap','goal','height','name','nation','salary']
total_players = pd.read_csv('./total_players.csv')
total_players = pd.DataFrame(total_players)
total_players.columns = column
total_players.head()

   age  cap  goal  height                 name nation  salary
0   31   26     0     184         AliKhaseifA.  U.A.E     270
1   29   22     0     176     KhalidEisaKhalid  U.A.E     270
2   22    0     0     185            MohamedAl  U.A.E     225
3   30   24     0     181       FaresJumaFares  U.A.E     495
4   29   41     0     183  MohamedAhmadMohamed  U.A.E     360

In [54]:
engine = create_engine("mysql+pymysql://root:" + "1111" + 
                       "@127.0.0.1:3306/asiancup?charset=utf8",
                      encoding = 'utf-8')
conn = engine.connect()

In [55]:
total_players.to_sql(name = 'players', con = engine, if_exists = 'append', index = False)

In [56]:
conn.close()